{% assign total_price = cart.items_subtotal_price %}
{% if class == 'show-default' %}
  {% assign prod_success_message = settings.prod_success_message %}
  {% assign prod_before_success_message = settings.prod_before_success_message %}
  {% assign cart_success_message = settings.cart_success_message %}
  {% assign cart_before_success_message = settings.cart_before_success_message %}
  <!-- for exclude bodycare start -->
  {% assign main_tag = "Body-care" %}
  {% for item in cart.items %}
  {% if item.product.tags contains main_tag %}
    {% assign total_price = total_price | minus: item.final_line_price %}
  {% endif %}
  {% endfor %}
  <!-- for exclude bodycare end -->
{% else %}
  <!-- for exclude other that slash products start -->
  {% assign i_prod_success_message = i | append: '_landing_prod_success_message' %}
  {% assign i_prod_before_success_message = i | append: '_landing_prod_before_success_message' %}
  {% assign i_cart_success_message = i | append: '_landing_cart_success_message' %}
  {% assign i_cart_before_success_message = i | append: '_landing_cart_before_success_message' %}
  {% assign prod_success_message = settings[i_prod_success_message] %}
  {% assign prod_before_success_message = settings[i_prod_before_success_message] %}
  {% assign cart_success_message = settings[i_cart_success_message] %}
  {% assign cart_before_success_message = settings[i_cart_before_success_message] %}
{% endif %}

{% if cart_ribbon_type == "product_count_base" %}
  {% if PRODUCT <= 0 %}
    <div class="saleBar {{class}}">
      <p><i class="fa fa-info-circle"></i>{{ prod_success_message | replace: "[[PRODUCT]]",PRODUCT | replace: "[[CODE]]",CODE }}</p>
    </div>
  {% else %}
    <div class="saleBar {{class}}">
      <p><i class="fa fa-info-circle"></i>{{ prod_before_success_message | replace: "[[PRODUCT]]",PRODUCT | replace: "[[CODE]]",CODE  }}</p>
    </div>
  {% endif %}
{% elsif cart_ribbon_type == "cart_total_base" %}
  {% if total_price > trigger_ribbon_price %}
    <div class="saleBar {{class}}">
      <p><i class="fa fa-info-circle"></i>{{ cart_success_message | replace: "[[PRICE]]",PRICE | replace: "[[CODE]]",CODE }}</p>
    </div>
  {% else %}
    <div class="saleBar {{class}}">
      <p><i class="fa fa-info-circle"></i>{{ cart_before_success_message | replace: "[[PRICE]]",PRICE | replace: "[[CODE]]",CODE }}</p>
    </div>
  {% endif %}
{% endif %} 

            {% comment %}
              {%- if cart.cart_level_discount_applications != blank -%}
                 <ul class="t4s-cart_discounts">
                 {%- for discount_application in cart.cart_level_discount_applications -%}<li class="t4s-order_cart_discounts"><svg viewBox="0 0 24 24" width="20"><use href="#icon-cart-tag"/></svg> {{- discount_application.title -}} (-{{ discount_application.total_allocated_amount | money }})</li>{%- endfor -%}
                 </ul>
              {%- endif -%}
            
            {% if cart.items_subtotal_price > 69900 %}
              <div class="saleBar" style=" background-color: #ffe1d7; padding: 5px;"><p style="font-size: 13px;text-align:left; line-height: 1.2; color: #000; font-weight: 400; margin-bottom: 0px; padding: 5px;"><i class="fa fa-info-circle" style="color: #000000;width: 16px;margin-left: 8px;"></i>Apply code at next step</p></div>
            {% else %}
              <div class="saleBar" style=" background-color: #ffe1d7; padding: 5px;"><p style="font-size: 13px;text-align:left; line-height: 1.2; color: #000; font-weight: 400; margin-bottom: 0px; padding: 5px;"><i class="fa fa-info-circle" style="color: #000000;width: 16px;margin-left: 8px;"></i>Add products worth <b>{{ 69900 | minus: cart.items_subtotal_price | divided_by: 100 }}</b> & get <strong>15% off</strong></p></div>
            {% endif %}
            

            {% if cart.items_subtotal_price > 69900 %}
              <div class="saleBar" style=" background-color: #ffe1d7; padding: 5px;"><p style="font-size: 13px;text-align:left; line-height: 1.2; color: #000; font-weight: 400; margin-bottom: 0px; padding: 5px;"><i class="fa fa-info-circle" style="color: #000000;width: 16px;margin-left: 8px;"></i>Get 15% OFF +<b> FREE LIP MASK</b> Use Code: <strong>FOX15</strong></p></div>
            {% else %}
              <div class="saleBar" style=" background-color: #ffe1d7; padding: 5px;"><p style="font-size: 13px;text-align:left; line-height: 1.2; color: #000; font-weight: 400; margin-bottom: 0px; padding: 5px;"><i class="fa fa-info-circle" style="color: #000000;width: 16px;margin-left: 8px;"></i>Get 10% OFF +<b> FREE EYE MASK</b> Use Code: <strong>FOX10</strong></p></div>
            {% endif %}
            
              
            {% if cart.items_subtotal_price > 69900 %}
              <div class="saleBar" style=" background-color: #ffe1d7; padding: 5px;"><p style="font-size: 13px;text-align:left; line-height: 1.2; color: #000; font-weight: 400; margin-bottom: 0px; padding: 5px;"><i class="fa fa-info-circle" style="color: #000000;width: 16px;margin-left: 8px;"></i>Use Code: <b>FOX15</b> at next step to avail the offer.</p></div>
            {% else %}
              <div class="saleBar" style=" background-color: #ffe1d7; padding: 5px;"><p style="font-size: 13px;text-align:left; line-height: 1.2; color: #000; font-weight: 400; margin-bottom: 0px; padding: 5px;"><i class="fa fa-info-circle" style="color: #000000;width: 16px;margin-left: 8px;"></i>Add products worth <b>{{ 69900 | minus: cart.items_subtotal_price | divided_by: 100 }}</b> & get <strong>15% off + Lip Mask</strong></p></div>
            {% endif %}
              

            {% if cart.items_subtotal_price > 69900 %}
              <div class="saleBar" style=" background-color: #ffe1d7; padding: 5px;"><p style="font-size: 13px;text-align:left; line-height: 1.2; color: #000; font-weight: 400; margin-bottom: 0px; padding: 5px;"><i class="fa fa-info-circle" style="color: #000000;width: 16px;margin-left: 8px;"></i>Get 15% OFF +<b> FREE EYE MASK</b> Use Code: <strong>GLOW15</strong></p></div>
            {% else %}
              <div class="saleBar" style=" background-color: #ffe1d7; padding: 5px;"><p style="font-size: 13px;text-align:left; line-height: 1.2; color: #000; font-weight: 400; margin-bottom: 0px; padding: 5px;"><i class="fa fa-info-circle" style="color: #000000;width: 16px;margin-left: 8px;"></i>Get 10% OFF +<b> FREE EYE MASK</b> Use Code: <strong>GLOW10</strong></p></div>
            {% endif %}

            {% if cart.items_subtotal_price > 69900 %}
              <div class="saleBar show-default" style=" background-color: #ffe1d7; padding: 5px;"><p style="font-size: 13px;text-align:left; line-height: 1.2; color: #000; font-weight: 400; margin-bottom: 0px; padding: 5px;"><i class="fa fa-info-circle" style="color: #000000;width: 16px;margin-left: 8px;"></i>Get 15% OFF + <b> FREE Eye Mask</b> Use Code: <strong>GLOW15</strong></p></div>
            {% else %}
              <div class="saleBar show-default" style=" background-color: #ffe1d7; padding: 5px;"><p style="font-size: 13px;text-align:left; line-height: 1.2; color: #000; font-weight: 400; margin-bottom: 0px; padding: 5px;"><i class="fa fa-info-circle" style="color: #000000;width: 16px;margin-left: 8px;"></i>Get 10% OFF + <b> FREE Comb</b> Use Code: <strong>GLOW10</strong></p></div>
            {% endif %}

            *%*%%*%*%*%**%*%*%**%*%*%**%*%*%*%*%*%*%*%*%*%**%*%*%*
              {% if total_cart_prod > 2 %}
                <div class="saleBar" style="background-color: #ffe1d7; padding: 5px;"><p style="font-size: 13px;text-align:left; line-height: 1.2; color: #000; font-weight: 400; margin-bottom: 0px; padding: 5px;"><i class="fa fa-info-circle" style="color: #000000;width: 16px;margin-left: 8px;"></i>Use Code: <b>GLOW1099</b> at next step to avail the Offer.</p></div>
              {% elsif total_cart_prod == 1 %}
                <div class="saleBar" style="background-color: #ffe1d7; padding: 5px;"><p style="font-size: 13px;text-align:left; line-height: 1.2; color: #000; font-weight: 400; margin-bottom: 0px; padding: 5px;"><i class="fa fa-info-circle" style="color: #000000;width: 16px;margin-left: 8px;"></i>Add <b>{{ 2 | minus: total_cart_prod }}</b> more product to avail <strong>Buy2@799 + Candle</strong></p></div>
              {% elsif total_cart_prod == 2 %}
                <div class="saleBar" style="background-color: #ffe1d7; padding: 5px;"><p style="font-size: 13px;text-align:left; line-height: 1.2; color: #000; font-weight: 400; margin-bottom: 0px; padding: 5px;"><i class="fa fa-info-circle" style="color: #000000;width: 16px;margin-left: 8px;"></i>Add <b>{{ 3 | minus: total_cart_prod }}</b> more product to avail <strong>Buy3@1099 + Candle</strong></p></div>
              {% endif %}
  
              {% if total_cart_prod > 2 %}
                <div class="saleBar" style="background-color: #ffe1d7; padding: 5px;"><p style="font-size: 13px;text-align:left; line-height: 1.2; color: #000; font-weight: 400; margin-bottom: 0px; padding: 5px;"><i class="fa fa-info-circle" style="color: #000000;width: 16px;margin-left: 8px;"></i>Apply Code <b>VDAY1099</b> at next step.</p></div>
              {% elsif total_cart_prod == 1 %}
                <div class="saleBar" style="background-color: #ffe1d7; padding: 5px;"><p style="font-size: 13px;text-align:left; line-height: 1.2; color: #000; font-weight: 400; margin-bottom: 0px; padding: 5px;"><i class="fa fa-info-circle" style="color: #000000;width: 16px;margin-left: 8px;"></i>Add 1 more product to get <strong>Buy2@799 + Heart Candle</strong></p></div>
              {% elsif total_cart_prod == 2 %}
                <div class="saleBar" style="background-color: #ffe1d7; padding: 5px;"><p style="font-size: 13px;text-align:left; line-height: 1.2; color: #000; font-weight: 400; margin-bottom: 0px; padding: 5px;"><i class="fa fa-info-circle" style="color: #000000;width: 16px;margin-left: 8px;"></i>Add 1 more product to get <strong>Buy3@1099 + Lip Mask</strong></p></div>
              {% endif %}
              
  
              {% if total_cart_prod > 2 %}
                <div class="saleBar" style="background-color: #ffe1d7; padding: 5px;"><p style="font-size: 13px;text-align:left; line-height: 1.2; color: #000; font-weight: 400; margin-bottom: 0px; padding: 5px;"><i class="fa fa-info-circle" style="color: #000000;width: 16px;margin-left: 8px;"></i>Use Code: <b>VDAY1099</b> at next step to avail the Offer.</p></div>
              {% elsif total_cart_prod == 1 %}
                <div class="saleBar" style="background-color: #ffe1d7; padding: 5px;"><p style="font-size: 13px;text-align:left; line-height: 1.2; color: #000; font-weight: 400; margin-bottom: 0px; padding: 5px;"><i class="fa fa-info-circle" style="color: #000000;width: 16px;margin-left: 8px;"></i>Add <b>{{ 2 | minus: total_cart_prod }}</b> more products to avail <strong>Buy2@799</strong></p></div>
              {% elsif total_cart_prod == 2 %}
                <div class="saleBar" style="background-color: #ffe1d7; padding: 5px;"><p style="font-size: 13px;text-align:left; line-height: 1.2; color: #000; font-weight: 400; margin-bottom: 0px; padding: 5px;"><i class="fa fa-info-circle" style="color: #000000;width: 16px;margin-left: 8px;"></i>Add <b>{{ 3 | minus: total_cart_prod }}</b> more products to avail <strong>Buy3@1099 + Lip Mask</strong></p></div>
              {% endif %}
            

              {% if total_cart_prod > 3 %}
                <div class="saleBar" style="background-color: #ffe1d7; padding: 5px;"><p style="font-size: 13px;text-align:left; line-height: 1.2; color: #000; font-weight: 400; margin-bottom: 0px; padding: 5px;"><i class="fa fa-info-circle" style="color: #000000;width: 16px;margin-left: 8px;"></i>Use Code: <b>FOX1399</b> at next step to avail the Offer.</p></div>
              {% elsif total_cart_prod == 1 %}
                <div class="saleBar" style="background-color: #ffe1d7; padding: 5px;"><p style="font-size: 13px;text-align:left; line-height: 1.2; color: #000; font-weight: 400; margin-bottom: 0px; padding: 5px;"><i class="fa fa-info-circle" style="color: #000000;width: 16px;margin-left: 8px;"></i>Add <b>{{ 2 | minus: total_cart_prod }}</b> more product to avail <strong>FOX799</strong></p></div>
              {% elsif total_cart_prod == 2 %}
                <div class="saleBar" style="background-color: #ffe1d7; padding: 5px;"><p style="font-size: 13px;text-align:left; line-height: 1.2; color: #000; font-weight: 400; margin-bottom: 0px; padding: 5px;"><i class="fa fa-info-circle" style="color: #000000;width: 16px;margin-left: 8px;"></i>Add <b>{{ 4 | minus: total_cart_prod }}</b> more products to avail <strong>FOX1399</strong></p></div>
              {% elsif total_cart_prod == 3 %}
                <div class="saleBar" style="background-color: #ffe1d7; padding: 5px;"><p style="font-size: 13px;text-align:left; line-height: 1.2; color: #000; font-weight: 400; margin-bottom: 0px; padding: 5px;"><i class="fa fa-info-circle" style="color: #000000;width: 16px;margin-left: 8px;"></i>Add <b>{{ 4 | minus: total_cart_prod }}</b> more product to avail <strong>FOX1399</strong></p></div>
              {% endif %}
            
              {% if total_cart_prod >= 3 %}
                <div class="saleBar" style="background-color: #ffe1d7; padding: 5px;"><p style="font-size: 13px;text-align:left; line-height: 1.2; color: #000; font-weight: 400; margin-bottom: 0px; padding: 5px;"><i class="fa fa-info-circle" style="color: #000000;width: 16px;margin-left: 8px;"></i>Use Code: <b>FOX1099</b> at next step to avail the Offer.</p></div>
              {% else %}
                <div class="saleBar" style="background-color: #ffe1d7; padding: 5px;"><p style="font-size: 13px;text-align:left; line-height: 1.2; color: #000; font-weight: 400; margin-bottom: 0px; padding: 5px;"><i class="fa fa-info-circle" style="color: #000000;width: 16px;margin-left: 8px;"></i>Add <b>{{ 3 | minus: total_cart_prod }}</b> more product to avail <strong>FOX1099</strong></p></div>
              {% endif %}
              

              {% if total_cart_prod > 3 %}
                <div class="saleBar" style="background-color: #ffe1d7; padding: 5px;"><p style="font-size: 13px;text-align:left; line-height: 1.2; color: #000; font-weight: 400; margin-bottom: 0px; padding: 5px;"><i class="fa fa-info-circle" style="color: #000000;width: 16px;margin-left: 8px;"></i>Apply offer on the next step</p></div>
              {% elsif total_cart_prod == 1 %}
                <div class="saleBar" style="background-color: #ffe1d7; padding: 5px;"><p style="font-size: 13px;text-align:left; line-height: 1.2; color: #000; font-weight: 400; margin-bottom: 0px; padding: 5px;"><i class="fa fa-info-circle" style="color: #000000;width: 16px;margin-left: 8px;"></i>Add <b>{{ 4 | minus: total_cart_prod }}</b> more product to avail the offer</p></div>
              {% elsif total_cart_prod == 2 %}
                <div class="saleBar" style="background-color: #ffe1d7; padding: 5px;"><p style="font-size: 13px;text-align:left; line-height: 1.2; color: #000; font-weight: 400; margin-bottom: 0px; padding: 5px;"><i class="fa fa-info-circle" style="color: #000000;width: 16px;margin-left: 8px;"></i>Add <b>{{ 4 | minus: total_cart_prod }}</b> more products to avail the offer</p></div>
              {% elsif total_cart_prod == 3 %}
                <div class="saleBar" style="background-color: #ffe1d7; padding: 5px;"><p style="font-size: 13px;text-align:left; line-height: 1.2; color: #000; font-weight: 400; margin-bottom: 0px; padding: 5px;"><i class="fa fa-info-circle" style="color: #000000;width: 16px;margin-left: 8px;"></i>Add <b>{{ 4 | minus: total_cart_prod }}</b> more product to avail the offer</p></div>
              {% endif %}
              
              
              
              {% assign cart_item_ids = '' %}
              {% for item in cart_items %}
                  {% assign cart_item_ids = cart_item_ids | append: ',' | append: item.id %}
              {% endfor %}

              {% assign cart_item_ids_array = cart_item_ids | split: ',' %}

              {% if cart_item_ids_array contains '44409361957111' %}
                {% if total_cart_prod > 2 %}
                  <div class="saleBar show-landing-page" style="background-color: #ffe1d7; padding: 5px;"><p style="font-size: 12px;text-align:left; line-height: 1.2; color: #000; font-weight: 400; margin-bottom: 0px; padding: 5px;">You've unlocked a free SPF 50 Glow Sunscreen. <strong>Use code SPF</strong> at checkout.</p></div>
                {% elsif total_cart_prod == 1 %}
                  <div class="saleBar show-landing-page" style="background-color: #ffe1d7; padding: 5px;"><p style="font-size: 12px;text-align:left; line-height: 1.2; color: #000; font-weight: 400; margin-bottom: 0px; padding: 5px;">Add 2 products to get the SPF 50 Glow Sunscreen for free. <strong>Use code SPF</strong></p></div>
                {% elsif total_cart_prod == 2 %}
                  <div class="saleBar show-landing-page" style="background-color: #ffe1d7; padding: 5px;"><p style="font-size: 12px;text-align:left; line-height: 1.2; color: #000; font-weight: 400; margin-bottom: 0px; padding: 5px;">Add 1 more product to get the SPF 50 Glow Sunscreen for free. <strong>Use code SPF</strong></p></div>
                {% endif %}
              {% else %}
                {% if total_cart_prod > 2 %}
                  <div class="saleBar show-landing-page" style="background-color: #ffe1d7; padding: 5px;"><p style="font-size: 12px;text-align:left; line-height: 1.2; color: #000; font-weight: 400; margin-bottom: 0px; padding: 5px;">FREE Sunscreen unlocked <strong>Use code: SPF</strong> at the next step to get your sunscreen.</p></div>
                {% elsif total_cart_prod == 1 %}
                  <div class="saleBar show-landing-page" style="background-color: #ffe1d7; padding: 5px;"><p style="font-size: 12px;text-align:left; line-height: 1.2; color: #000; font-weight: 400; margin-bottom: 0px; padding: 5px;">Add 1 more product to cart to unlock a FREE <strong>SPF 50 Glow Sunscreen</strong></p></div>
                {% elsif total_cart_prod == 2 %}
                  <div class="saleBar show-landing-page" style="background-color: #ffe1d7; padding: 5px;"><p style="font-size: 12px;text-align:left; line-height: 1.2; color: #000; font-weight: 400; margin-bottom: 0px; padding: 5px;">FREE Sunscreen unlocked <strong>Use code: SPF</strong> at the next step to get your sunscreen.</p></div>
                {% endif %}
              {% endif %}
              

              {% if total_cart_prod > 2 %}
                <div class="saleBar show-default" style="background-color: #ffe1d7; padding: 5px;"><p style="font-size: 12px;text-align:left; line-height: 1.2; color: #000; font-weight: 400; margin-bottom: 0px; padding: 5px;">Use Code: <b>FOX1099</b> at checkout to unlock the De-Tan Scrub</p></div>
              {% elsif total_cart_prod == 1 %}
                <div class="saleBar show-default" style="background-color: #ffe1d7; padding: 5px;"><p style="font-size: 12px;text-align:left; line-height: 1.2; color: #000; font-weight: 400; margin-bottom: 0px; padding: 5px;">Add <b>{{ 2 | minus: total_cart_prod }}</b> more products to avail <strong>Buy2@799 + Sheet Mask</strong></p></div>
              {% elsif total_cart_prod == 2 %}
                <div class="saleBar show-default" style="background-color: #ffe1d7; padding: 5px;"><p style="font-size: 12px;text-align:left; line-height: 1.2; color: #000; font-weight: 400; margin-bottom: 0px; padding: 5px;">Add <b>{{ 3 | minus: total_cart_prod }}</b> more products to avail <strong>Buy3@1099 + De-tan Scrub</strong></p></div>
              {% endif %}

                            {% if total_cart_prod > 2 %}
                <div class="saleBar show-default" style="background-color: #ffe1d7; padding: 5px;"><p style="font-size: 12px;text-align:left; line-height: 1.2; color: #000; font-weight: 400; margin-bottom: 0px; padding: 5px;"><i class="fa fa-info-circle" style="color: #000000;width: 16px;margin-left: 8px;"></i>Use Code: <b>FOX1099</b> at checkout to unlock the De-Tan Scrub</p></div>
              {% elsif total_cart_prod == 1 %}
                <div class="saleBar show-default" style="background-color: #ffe1d7; padding: 5px;"><p style="font-size: 12px;text-align:left; line-height: 1.2; color: #000; font-weight: 400; margin-bottom: 0px; padding: 5px;"><i class="fa fa-info-circle" style="color: #000000;width: 16px;margin-left: 8px;"></i>Add <b>{{ 2 | minus: total_cart_prod }}</b> more products to avail <strong>Buy2@799 + Sheet Mask</strong></p></div>
              {% elsif total_cart_prod == 2 %}
                <div class="saleBar show-default" style="background-color: #ffe1d7; padding: 5px;"><p style="font-size: 12px;text-align:left; line-height: 1.2; color: #000; font-weight: 400; margin-bottom: 0px; padding: 5px;"><i class="fa fa-info-circle" style="color: #000000;width: 16px;margin-left: 8px;"></i>Add <b>{{ 3 | minus: total_cart_prod }}</b> more products to avail <strong>Buy3@1099 + De-tan Scrub</strong></p></div>
              {% endif %}

              

              {% if total_cart_prod > 2 %}
                <div class="saleBar show-default" style="background-color: #ffe1d7; padding: 5px;"><p style="font-size: 12px;text-align:left; line-height: 1.2; color: #000; font-weight: 400; margin-bottom: 0px; padding: 5px;"><i class="fa fa-info-circle" style="color: #000000;width: 16px;margin-left: 8px;"></i>Use Code: <b>BUY3</b> at checkout</p></div>
              {% elsif total_cart_prod == 1 %}
                <div class="saleBar show-default" style="background-color: #ffe1d7; padding: 5px;"><p style="font-size: 12px;text-align:left; line-height: 1.2; color: #000; font-weight: 400; margin-bottom: 0px; padding: 5px;"><i class="fa fa-info-circle" style="color: #000000;width: 16px;margin-left: 8px;"></i>Add <b>{{ 2 | minus: total_cart_prod }}</b> more products to avail <strong>BUY2</strong></p></div>
              {% elsif total_cart_prod == 2 %}
                <div class="saleBar show-default" style="background-color: #ffe1d7; padding: 5px;"><p style="font-size: 12px;text-align:left; line-height: 1.2; color: #000; font-weight: 400; margin-bottom: 0px; padding: 5px;"><i class="fa fa-info-circle" style="color: #000000;width: 16px;margin-left: 8px;"></i>Add <b>{{ 3 | minus: total_cart_prod }}</b> more products to avail <strong>BUY3</strong></p></div>
              {% endif %}
              
              {% if cart.items_subtotal_price > 59900 %}
                <div class="saleBar show-landing-page" style=" background-color: #ffe1d7; padding: 5px;"><p style="font-size: 13px;text-align:left; line-height: 1.2; color: #000; font-weight: 400; margin-bottom: 0px; padding: 5px;"><i class="fa fa-info-circle" style="color: #000000;width: 16px;margin-left: 8px;"></i>Use code <b>FOXPPSUN</b> to get this sunscreen for free</p></div>
              {% else %}
                <div class="saleBar show-landing-page" style=" background-color: #ffe1d7; padding: 5px;"><p style="font-size: 13px;text-align:left; line-height: 1.2; color: #000; font-weight: 400; margin-bottom: 0px; padding: 5px;"><i class="fa fa-info-circle" style="color: #000000;width: 16px;margin-left: 8px;"></i>Add products worth ₹<b>{{ 59900 | minus: cart.items_subtotal_price | divided_by: 100 }}</b> to unlock a <b>Free Sunscreen</b></p></div>
              {% endif %}
              {% endcomment %}