{%- liquid 
assign pr_url = product.url
assign pid = product.id
assign isDefault = product.has_only_default_variant
assign pr_variants = product.variants
assign current_variant = pr_variants.first
assign isPreoder = false

if product.tags contains 'isPreoder' or current_variant.inventory_policy == 'continue' and current_variant.inventory_management == 'shopify' and current_variant.inventory_quantity <= 0 and isDefault and product.available
   assign isPreoder = true
endif

if current_variant.inventory_management == 'shopify'
   assign cur_qty = current_variant.inventory_quantity |default:9999
else
   assign cur_qty = 9999
endif

assign meta_theme = product.metafields.theme
assign cus_qty = meta_theme.cus_qty | default:1
assign isExternal = false
assign external_title = meta_theme.external_title 
assign external_link = meta_theme.external_link
if external_title != blank and external_link != blank 
   assign isExternal = true 
endif
assign isGrouped = false 
if  meta_theme.grouped != blank
   assign isGrouped = true 
endif

assign custom_badge = meta_theme.custom_badge
if custom_badge != blank
   assign arr_badge = custom_badge | replace:'  ', '' | replace:' ;', ';' | replace:'; ', ';' | split:';' | join: 'nt-t4s' | escape | split: 'nt-t4s'
   assign arr_badge_handle = arr_badge | join:'nt-t4s'| handle | split:'nt-t4s'
else
   assign badge_tags = product.tags | where: "badge_"
   if badge_tags.size > 0
      assign arr_badge_tags   = badge_tags | join:'nt-t4s' | remove:'badge_' | escape
      assign arr_badge        = arr_badge_tags | split:'nt-t4s'
      assign arr_badge_handle = arr_badge_tags | handle | split:'nt-t4s'
   endif
endif

assign countdown = time_meta| default:meta_theme.countdown | date: '%Y/%m/%d %H:%M:%S'
unless placeholder_img
   assign placeholder_img = settings.placeholder_img
endunless
assign image = product.featured_media | default:placeholder_img

assign color_count = 0
assign size_count = 0

if isDefault == false and enable_pr_color or enable_pr_size
   assign pr_options = product.options_with_values
   
   assign img_variants = pr_variants | where: "featured_image"
   assign available_variants = product.variants | where: "available"
   for option in pr_options
      assign name = option.name | downcase

      if enable_pr_color and get_color contains name and color_count == 0

        assign pr_option_color = 'option' | append: forloop.index
        assign color_variants_avai = available_variants | map: pr_option_color | uniq
        assign featured_imgs = img_variants | map: 'featured_image'
        if show_cl_type == '1'
           assign color_variants = option.values
        else
           assign color_variants = color_variants_avai
        endif
        assign color_count = color_variants.size

      elsif enable_pr_size and get_size contains name and size_count == 0

        assign pr_option_size = 'option' | append: forloop.index 
        assign size_variants_avai = available_variants | map: pr_option_size | uniq
        if show_size_type == '1'
          assign size_variants = option.values
        else
          assign size_variants = size_variants_avai
        endif
        assign size_count = size_variants.size

      endif

   endfor
endif -%}

<div class="t4s-product products t4s-pr-grid t4s-pr-style1 t4s-pr-{{pid}} {{col}} t4s-col-item 123" data-product-options='{ "id":"{{pid}}","cusQty":"{{ cus_qty }}","available":{{product.available}}, "handle":"{{product.handle}}", "isDefault": {{isDefault}}, "VariantFirstID": {{current_variant.id}}, "customBadge":{{arr_badge | json }}, "customBadgeHandle":{{arr_badge_handle | json }},"dateStart":{{product.created_at | date: "%s"}}, "compare_at_price":{{current_variant.compare_at_price | json}},"price":{{current_variant.price| json}}, "isPreoder":{{isPreoder}},"isExternal":{{isExternal}}{% if isExternal %},"external_title":{{external_title| json}},"external_link":"{{external_link| escape}}"{% endif %},"image2":{% if product.media[1] != blank %}{{product.media[1] | image_url: width: 1 | json }},"alt":{{product.media[1].alt | escape | json }}{% else %}false{% endif %},"isGrouped":{{isGrouped}},"maxQuantity":{% if isDefault and isPreoder == false %}{{cur_qty}}{% else %}9999{% endif %} }'>
  <div class="t4s-product-wrapper">
    <div data-cacl-slide class="t4s-product-inner t4s-pr t4s-oh">
      {%- if image != blank %}{% render 'product-img',image:image,imgatt:imgatt %}{% endif -%}
      <div data-fera-container="457325" data-product_id="{{ product.id }}" class="reviewContainerDiv on-productpic"></div>
      <div data-product-badge data-sort="sale,new,soldout,preOrder,custom" class="t4s-product-badge"></div>
      {%- render 'product_labels',on:'singe',product:product -%}
      <div class="t4s-product-btns">
         <div data-replace-quickview></div>
         <div data-replace-atc data-has-qty></div>
      </div>
      <div class="t4s-product-btns2">
         {%- if isGrowaveWishlist -%} 
            {%- capture the_snippet_fave_icon %}{% render 'ssw-widget-faveicon' with pid %}{% endcapture -%}
            {%- unless the_snippet_fave_icon contains 'Liquid error' -%}<div class="t4s-pr-item-btn t4s-pr-wishlist is--growave">{{ the_snippet_fave_icon }}</div>{%- endunless -%}
         {%- else -%}<div data-replace-wishlist data-tooltip="right"></div>
         {%- endif -%}
         <div data-replace-compare data-tooltip="right"></div>
      </div>
      {%- if size_count > 0 and pr_size_pos == '1'%}{%- render 'product-size', size_variants: size_variants, size_variants_avai: size_variants_avai, show_size_type: show_size_type -%}{% endif -%}
      {%- if use_countdown and countdown != blank %}{%- render 'product-countdown',countdown:countdown %}{% endif -%}
      <a data-pr-href class="t4s-full-width-link"  data-foxtale-event="product-click-event" foxtale-event-attr-api-url-for-data="{{ pr_url }}" foxtale-event-attr-from="from-collections" href="{{pr_url}}"></a>
    {%- if product.metafields.custom.ingredientstag != blank -%}
      <span class="ingredient-badge"><h5 style="color: #{{ product.metafields.custom.ingredientscolor }};">{{ product.metafields.custom.ingredientstag }}</h5></span>
    {%- endif -%}
    </div>
    <div class="t4s-product-info product-info" data-pr-id="{{ product.handle }}">
      <div class="t4s-product-info__inner">
         {%- if product.vendor.size > 0 and show_vendor -%}{% if use_link_vendor %}{% assign pr_vendor_handle = product.vendor | handle %}{% assign collection_vendor = collections[pr_vendor_handle] %}{% endif %}<div class="t4s-product-vendor"><a href="{% if use_link_vendor and collection_vendor.url != blank %}{{ collection_vendor.url }}{% else %}{{ product.vendor | url_for_vendor }}{% endif %}">{{ product.vendor }}</a></div>{%- endif -%}
         <h3 class="t4s-product-title product-title"><a data-pr-href href="{{pr_url}}">{{ product.title }}</a></h3>
         {% if product.metafields.my_fields.hp_excerpt != blank %}
           <p class="fx-tags-shop fx-{{ product.metafields.my_fields.hp_excerpt | downcase | replace: " ", "-" }}">{{ product.metafields.my_fields.hp_excerpt }}</p>
         {% endif %}
         {%- if enable_rating %}{%- render 'product-rating',product:product,app_review:app_review -%}{% endif -%}
       {%- render 'product-price',product:product,price_varies_style:price_varies_style,type:'card',isGrouped:isGrouped -%} 
<!--          <p class="t4s-gift" style="font-size: 14px; padding: 0 0 0 4px; font-weight: 400; -webkit-letter-spacing: 0; -moz-letter-spacing: 0; -ms-letter-spacing: 0; color: #fc2779; margin-bottom: 0;">Gift Worth ₹150</p> -->
              <div class="discount-msg">
                  {% if collection.title == "Secret Sale" %}
                    <p class="bottom-leftext">B1G1</p>
                  {% elsif collection.title == "Special Sale" %}
                    <p class="bottom-leftext">BYOB</p>
                  {% elsif collection.title == "Affiliate Valentine Sale" %}
                    <p class="bottom-leftext">CUPID</p>
                    {% elsif collection.title == "Birthday Sale" %}
                    <p class="bottom-leftext">B2G4</p>
                   {% elsif collection.title == "Special Offer" %}
                    <p class="bottom-leftext">VDAY</p>
                   {% elsif collection.title == "Buy 1 Get 1- Phonepe" %}
                    <p class="bottom-leftext">B1G1</p>
                     {% elsif collection.title == "Google Pay Buy 2 Get 2" %}
                    <p class="bottom-leftext">B2G2</p>
                    {% elsif collection.title == "Paytm B2G2" %}
                    <p class="bottom-leftext">B2G2</p>
                    {% elsif collection.title == "Phonepe B2G2" %}
                    <p class="bottom-leftext">B2G2</p>
                   {% elsif collection.title == "Flat 300 off - Phonepe" %}
                    <p class="bottom-leftext">Flat 300 Off</p>                   
                    {% elsif collection.title == "Flat 200 off - Phonepe" %}
                    <p class="bottom-leftext">Flat 200 Off</p>
                    {% elsif collection.title == "Buy2@799" %}
                    <p class="bottom-leftext">B2@799</p>
                    {% elsif collection.title == "New Exclusive Special" %}
                    <p class="bottom-leftext">B2G2</p>
                    {% elsif collection.title == "Exclusive Sale" %}
                    <p class="bottom-leftext">B1G1/B2G2</p>
                    {% elsif collection.title == "Affiliate Secret Sale" %}
                    <p class="bottom-leftext">OMG</p>
                    {% elsif collection.title == "Affiliate Slash Sale" %}
                    <p class="bottom-leftext">Up to 40% Off</p>                   
                    {% elsif collection.title == "Ad Exclusive Offer" %}
                    <p class="bottom-leftext">BYOB</p>
                    {% elsif collection.title == "Partnerships Slash Sale" %}
                    <p class="bottom-leftext">Up to 40% Off</p>
                    {% elsif collection.title == "Affiliate Early Sale" %}
                    <p class="bottom-leftext">Early Access</p>
                    {% elsif collection.title == "Midnight Sale" %}
                    <p class="bottom-leftext">B1G1</p>
                    {% elsif collection.title == "Free Eye Mask - Gpay" %}
                    <p class="bottom-leftext">B1G1 Eye Mask Free</p>
                    {% elsif collection.title == "Secret Flash Sale" %}
                    <p class="bottom-leftext">B1G1</p>
                    {% elsif collection.title == "Secret Party" %}
                    <p class="bottom-leftext">B1G1</p>
                    {% elsif collection.title == "New Sale" %}
                    <p class="bottom-leftext">30% off</p>
                     {% elsif collection.title == "Nyumi" %}
                    <p class="bottom-leftext">NYUMI400</p>
                     {% elsif collection.title == "Gpay Offer Free Sunscreen" %}
                    <p class="bottom-leftext">Free Glow Sunscreen</p>
                    {% elsif collection.title == "Affiliate Birthday Sale" %}
                    <p class="bottom-leftext">PARTY</p>
                     {% elsif collection.title == "Buy 1 Get 1 Free - Gpay" %}
                    <p class="bottom-leftext">B1G1</p>
                    {% elsif collection.title == "Flat 400 off - Gpay" %}
                    <p class="bottom-leftext">Flat 400 Off</p>
                     {% elsif collection.title == "Paytm Flat 400 off" %}
                    <p class="bottom-leftext">Flat 400 Off</p>
                     {% elsif collection.title == "Phonepe Flat 400 off" %}
                    <p class="bottom-leftext">Flat 400 Off</p>
                     {% elsif collection.title == "Zomato Flat 400 Offer" %}
                    <p class="bottom-leftext">Flat 400 Off</p>
                    {% elsif collection.title == "Clovia Flat 400 Offer" %}
                    <p class="bottom-leftext">Flat 400 Off</p>  
                    {% elsif collection.title == "Flipkart 400 Offer" %}
                    <p class="bottom-leftext">Flat 400 Off</p> 
                    {% elsif collection.title == "Cashkaro: 199 Store" %}
                    <p class="bottom-leftext">Bestsellers @ 199</p>
                    {% elsif collection.title == "Admittad 199 Offer" %}
                    <p class="bottom-leftext">Bestsellers @ 199</p>
                    {% elsif collection.title == "Adnetwork Bestsellers 199 Offer" %}
                    <p class="bottom-leftext">Bestsellers @ 199</p>
                    {% elsif collection.title == "Cashkaro: Buy2@799 Store" %}
                    <p class="bottom-leftext">Buy 2 @ 799</p>
                    {% elsif collection.title == "Phonepe Sunscreen Offer" %}
                    <p class="bottom-leftext">Matte Sunscreen Free</p>
                    {% elsif collection.title == "New Gpay B2G2" %}
                    <p class="bottom-leftext">B2G2</p>
                    {% else %}
                  {% assign message = product.price | divided_by: 100 %}
                     {% if message <= 746 %}
                       <p class="bottom-leftext">BYOB</p>
                     {% else %}
                       <p class="bottom-leftext">10% Off</p>
                     {% endif %}
                   {% endif %}
                   {% if collection.title == "Secret Sale" %}
                    <p class="bottom-rightext">Free Gift</p>
                   {% elsif collection.title == "Special Sale" %}
                    <p class="bottom-rightext"></p>
                   {% elsif collection.title == "Affiliate Secret Sale" %}
                    <p class="bottom-rightext">Free Gift</p>
                   {% elsif collection.title == "Gpay Offer Free Sunscreen" %}
                    <p class="bottom-rightext"></p>
                   {% elsif collection.title == "Affiliate Early Sale" %}
                    <p class="bottom-rightext"></p>
                   {% elsif collection.title == "Affiliate Slash Sale" %}
                    <p class="bottom-rightext"></p>
                   {% elsif collection.title == "Partnerships Slash Sale" %}
                    <p class="bottom-rightext"></p>
                   {% elsif collection.title == "Exclusive Sale" %}
                    <p class="bottom-rightext"></p>
                   {% else %}
                    <p class="bottom-rightext"></p>   
                   {% endif %}
                </div>
        {%- if show_list_btns -%}
         {%- assign description_excerpt = product.metafields.theme.description_excerpt -%}
         <div class="t4s-rte">{% if description_excerpt != blank %}{{ description_excerpt }}{% else %}{{ product.content | strip_html | truncatewords: 30 }}{% endif %}</div>
        {%- endif -%}
        {%- if color_count > 0 %}{% assign color_variants_str = color_variants | join:'nt-t4s' %}<div class="t4s-product-colors" data-color-options='{ "color_count":{{color_count}}, "color_variants":{{color_variants_str | escape | split:'nt-t4s' | json}}, "color_variants_avai":{{color_variants_avai | join: 'nt-t4s' | escape | split: 'nt-t4s' | json}}, "color_variants_handle":{{color_variants_str | handle | split:'nt-t4s' | json}}, "img_variants":{{featured_imgs | json }}, "id_variants":{{img_variants  | map:'id' | json }}, "img_ratios":{{featured_imgs  | map:'aspect_ratio' | json }}, "img_options":{{img_variants  | map:pr_option_color | join: 'nt-t4s' | escape | split: 'nt-t4s' | json }} }'><span class="t4s-pr-color__item"><span class="t4s-pr-color__value bg_color_ntloading"></span></span><span class="t4s-pr-color__item"><span class="t4s-pr-color__value bg_color_ntloading"></span></span><span class="t4s-pr-color__item"><span class="t4s-pr-color__value bg_color_ntloading"></span></span></div>{% endif -%}
        {%- if size_count > 0 and pr_size_pos == '2' %}{%- render 'product-size', size_variants: size_variants, size_variants_avai: size_variants_avai, show_size_type: show_size_type -%}{% endif -%}
      </div>
      {%- if show_list_btns -%}
      {% if product.metafields.custom.check_variant %}
        <div class="t4s-product-btns t4s-product-info__btns">
          <div class="shop-all-qty-cart-btn">
              <a href="{{ product.url }}" class="fx-custom-btn-dark t4s-pr-item-btn t4s-pr-addtocart" data-foxtale-event="add-to-cart-click-event" foxtale-event-attr-api-url-for-data="{{ product.url }}" foxtale-event-attr-from="from-feature-collection"><span class="t4s-svg-pr-icon"></span><span class="t4s-text-pr">Select Shade</span></a>
          </div>
        </div>
      {% else %}
        <div class="t4s-product-btns t4s-product-info__btns">
           <div class="shop-all-qty-cart-btn" data-handle="{{ product.handle }}">
                <a href="javascript:void(0)" class="fx-custom-btn-dark t4s-pr-item-btn t4s-pr-addtocart" data-foxtale-event="add-to-cart-click-event" foxtale-event-attr-api-url-for-data="{{ product.url }}" foxtale-event-attr-from="from-feature-collection" data-variant-id="{{product.first_available_variant.id}}" data-action-atc rel="nofollow"><span class="t4s-svg-pr-icon"></span><span class="t4s-text-pr">{{ 'products.product.add_to_cart' | t }}</span></a>
           </div>
        </div>
      {% endif %}
      {% endif %}
    </div>
  </div>
  {{- append_stock -}}
</div>

<!-- Growlytics -->
<script>
$(document).ready(function () {
    $( '.shop-all-qty-cart-btn').on("click", function(){
     var prodName = $(this).data("h3");
     Growlytics.events.track("Loved by Community",{
         'clicks': "Clicks",
       'Product Name': prodName
     });
    });
     });
</script>
<!-- End -->

<style>
span.ingredient-badge {
  position: absolute;
  left: 0px;
  bottom: 9px;
  background-color: #ffffff;
  text-align: left;
  width: max-content;
  border-radius: 0px;
  padding: 1px 3px;
  display: none;
}
span.ingredient-badge h5 {
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
}
</style>