{% liquid
assign _share_permalinks = product.url |default:article.url |default:page.url
assign _share_permalink2 = shop.url | append:_share_permalinks
assign permalinkURL = share_permalinks |default:_share_permalink2
assign permaTitle = share_title | url_param_escape
%}
  <div class="shareIcon-container">
  <div class="shareIcon-container-icon Click-here">
    <div class="shareIcon-container-icon-svg">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="26"
        height="26"
        viewBox="0 0 26 26"
        fill="none">
        <path
          d="M9.92301 13C9.92301 14.4161 8.77502 15.5641 7.3589 15.5641C5.94279 15.5641 4.7948 14.4161 4.7948 13C4.7948 11.5839 5.94279 10.4359 7.3589 10.4359C8.77502 10.4359 9.92301 11.5839 9.92301 13Z"
          stroke="black"
          stroke-width="1.53846" />
        <path
          d="M15.0512 7.35898L9.92303 10.9487"
          stroke="black"
          stroke-width="1.53846"
          stroke-linecap="round" />
        <path
          d="M15.0512 18.641L9.92303 15.0513"
          stroke="black"
          stroke-width="1.53846"
          stroke-linecap="round" />
        <path
          d="M20.1795 19.6667C20.1795 21.0828 19.0315 22.2308 17.6154 22.2308C16.1993 22.2308 15.0513 21.0828 15.0513 19.6667C15.0513 18.2506 16.1993 17.1026 17.6154 17.1026C19.0315 17.1026 20.1795 18.2506 20.1795 19.6667Z"
          stroke="black"
          stroke-width="1.53846" />
        <path
          d="M20.1795 6.33333C20.1795 7.74944 19.0315 8.89743 17.6154 8.89743C16.1993 8.89743 15.0513 7.74944 15.0513 6.33333C15.0513 4.91722 16.1993 3.76923 17.6154 3.76923C19.0315 3.76923 20.1795 4.91722 20.1795 6.33333Z"
          stroke="black"
          stroke-width="1.53846" />
      </svg>
    </div>
    <div class="shareIcon-container-icon-desktop-view">
      <div id="myDropdown" class="dropdown-content arrow-top share-icon-hiden">
        <div class="dropdown-content-inner">
          <div class="dropdown-content-inner-socialmedia dropdown-content-inner-whatsapp">
            <a
              href="https://wa.me/?text={{ permaTitle }}&#x20;{{ permalinkURL }}"
              target="_blank"
              rel="noopener noreferrer">
              <div class="dropdown-content-inner-icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="28"
                  height="28"
                  viewBox="0 0 28 28"
                  fill="none">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M14 28.0001C21.732 28.0001 28 21.9482 28 14.4828C28 7.01745 21.732 0.965576 14 0.965576C6.26801 0.965576 0 7.01745 0 14.4828C0 16.9071 0.661 19.1824 1.81847 21.1497L0 28.0001L7.31486 26.3623C9.3014 27.4067 11.5789 28.0001 14 28.0001ZM14 25.9205C20.5425 25.9205 25.8462 20.7997 25.8462 14.4828C25.8462 8.16602 20.5425 3.04516 14 3.04516C7.45755 3.04516 2.15385 8.16602 2.15385 14.4828C2.15385 16.9218 2.9445 19.1825 4.29184 21.0389L3.23077 24.8807L7.27993 23.9033C9.1894 25.1755 11.5046 25.9205 14 25.9205Z"
                    fill="#BFC8D0" />
                  <path d="M26 13.5172C26 19.9161 20.6274 25.1034 14 25.1034C11.4722 25.1034 9.1269 24.3488 7.19266 23.0601L3.09091 24.0502L4.16576 20.1585C2.80092 18.2779 2 15.9879 2 13.5172C2 7.11835 7.37258 1.93103 14 1.93103C20.6274 1.93103 26 7.11835 26 13.5172Z" fill="url(#paint0_linear_3664_2372)" />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M14 27.0345C21.732 27.0345 28 20.9826 28 13.5172C28 6.05187 21.732 0 14 0C6.26801 0 0 6.05187 0 13.5172C0 15.9416 0.661 18.2168 1.81847 20.1841L0 27.0345L7.31486 25.3968C9.3014 26.4411 11.5789 27.0345 14 27.0345ZM14 24.955C20.5425 24.955 25.8462 19.8341 25.8462 13.5172C25.8462 7.20039 20.5425 2.07958 14 2.07958C7.45755 2.07958 2.15385 7.20039 2.15385 13.5172C2.15385 15.9562 2.9445 18.2169 4.29184 20.0733L3.23077 23.9151L7.27993 22.9377C9.1894 24.21 11.5046 24.955 14 24.955Z"
                    fill="white" />
                  <path d="M10.5 7.24125C10.1672 6.59573 9.6565 6.65287 9.1407 6.65287C8.2188 6.65287 6.78125 7.71908 6.78125 9.70343C6.78125 11.3296 7.52345 13.1098 10.0244 15.7728C12.438 18.3428 15.6094 19.6722 18.2422 19.6269C20.875 19.5817 21.4167 17.3942 21.4167 16.6554C21.4167 16.328 21.2062 16.1647 21.0613 16.1203C20.1641 15.7045 18.5093 14.9299 18.1328 14.7844C17.7563 14.6389 17.5597 14.8357 17.4375 14.9428C17.0961 15.2569 16.4193 16.1828 16.1875 16.3911C15.9558 16.5993 15.6103 16.4939 15.4665 16.4152C14.9374 16.2102 13.5029 15.5941 12.3595 14.5239C10.9453 13.2003 10.8623 12.7449 10.5959 12.3396C10.3828 12.0153 10.5392 11.8164 10.6172 11.7294C10.9219 11.39 11.3426 10.8659 11.5313 10.6055C11.7199 10.345 11.5702 9.94963 11.4803 9.70343C11.0938 8.64425 10.7663 7.75762 10.5 7.24125Z" fill="white" />
                  <defs>
                    <linearGradient
                      id="paint0_linear_3664_2372"
                      x1="24.5"
                      y1="4.82758"
                      x2="2.73664"
                      y2="25.8655"
                      gradientUnits="userSpaceOnUse">
                      <stop stop-color="#5BD066" />
                      <stop offset="1" stop-color="#27B43E" />
                    </linearGradient>
                  </defs>
                </svg>
              </div>
              <div class="dropdown-content-inner-name">WhatsApp</div>
            </a>
          </div>

          <div class="dropdown-content-inner-socialmedia dropdown-content-inner-facebook">
            <a
              href="https://www.facebook.com/sharer/sharer.php?u={{ permalinkURL }}"
              target="_blank"
              rel="noopener noreferrer">
              <div class="dropdown-content-inner-icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="28"
                  height="29"
                  viewBox="0 0 28 29"
                  fill="none">
                  <path d="M28 15.0795C28 7.29743 21.7289 0.992737 14 0.992737C6.26588 0.992737 0 7.29743 0 15.0795C0 22.1087 5.11788 27.9371 11.8125 28.9927V19.1523H8.25738V15.0803H11.8125V11.9751C11.8125 8.44549 13.8994 6.49624 17.0984 6.49624C18.6305 6.49624 20.2344 6.77093 20.2344 6.77093V10.2371H18.466C16.73 10.2371 16.1875 11.3245 16.1875 12.4382V15.0795H20.0699L19.446 19.1514H16.1875V28.9919C22.8769 27.9362 28 22.1079 28 15.0786V15.0795Z" fill="#1877F2" />
                </svg>
              </div>
              <div class="dropdown-content-inner-name">Facebook</div>
            </a>
          </div>

          <div class="dropdown-content-inner-socialmedia dropdown-content-inner-email">
            <a href="mailto:?subject=Check out this product!&body=Here's the product I thought you might like: {{ permalinkURL }}"target="_blank"rel="noopener noreferrer">
              <div class="dropdown-content-inner-icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="28"
                  height="29"
                  viewBox="0 0 28 29"
                  fill="none">
                  <path d="M28 14.9855C28 7.25349 21.732 0.985474 14 0.985474C6.26801 0.985474 0 7.25349 0 14.9855C0 22.7175 6.26801 28.9855 14 28.9855C21.732 28.9855 28 22.7175 28 14.9855Z" fill="black" />
                  <path
                    d="M22.7048 10.073C22.6259 9.67564 22.4497 9.312 22.2037 9.0116C22.1518 8.94615 22.0976 8.88753 22.0388 8.82891C21.6029 8.39079 20.991 8.11749 20.3225 8.11749H7.67748C7.00902 8.11749 6.39933 8.39079 5.96131 8.82891C5.9027 8.88753 5.84849 8.94615 5.79646 9.0116C5.55027 9.31197 5.37407 9.67564 5.29737 10.073C5.26586 10.2264 5.25 10.3849 5.25 10.5451V19.4261C5.25 19.7668 5.32226 20.0943 5.45111 20.3901C5.57064 20.6724 5.74687 20.9279 5.96128 21.1421C6.01563 21.1963 6.06959 21.2461 6.12849 21.2957C6.54842 21.6435 7.09047 21.8535 7.67748 21.8535H20.3225C20.9097 21.8535 21.4541 21.6435 21.8717 21.2935C21.9304 21.2461 21.9846 21.1963 22.0388 21.1421C22.2531 20.9279 22.4293 20.6724 22.5513 20.3901V20.3879C22.6801 20.0921 22.75 19.7668 22.75 19.4262V10.5451C22.75 10.3849 22.7344 10.2264 22.7048 10.073ZM6.83966 9.70716C7.05653 9.49053 7.34778 9.35938 7.67748 9.35938H20.3225C20.6522 9.35938 20.946 9.49053 21.1603 9.70716C21.1987 9.74574 21.2348 9.78874 21.2667 9.83147L14.639 15.6077C14.4562 15.7679 14.2304 15.847 14 15.847C13.7719 15.847 13.5462 15.7679 13.361 15.6077L6.73586 9.82901C6.76519 9.78628 6.80131 9.74574 6.83966 9.70716ZM6.49188 19.4261V11.1141L11.2881 15.2982L6.49431 19.4779C6.49188 19.462 6.49188 19.4442 6.49188 19.4261ZM20.3225 20.6114H7.67748C7.46279 20.6114 7.26192 20.5549 7.09047 20.4558L12.1483 16.048L12.6205 16.4588C13.0157 16.8021 13.5101 16.976 14 16.976C14.4924 16.976 14.9868 16.8021 15.382 16.4588L15.8539 16.048L20.9098 20.4558C20.7381 20.5549 20.5372 20.6114 20.3225 20.6114ZM21.5081 19.4261C21.5081 19.4442 21.5081 19.462 21.5058 19.4779L16.712 15.3007L21.5081 11.1164V19.4261Z"
                    fill="white"
                    stroke="black"
                    stroke-width="0.244141" />
                </svg>
              </div>
              <div class="dropdown-content-inner-name">Email</div>
            </a>
          </div>

          <!-- <div class="dropdown-content-inner-socialmedia dropdown-content-inner-instagram">
          <a
          href="https://www.instagram://sharesheet?url={{ permalinkURL }}"
          target="_blank"
          rel="noopener noreferrer">
          <div class="dropdown-content-inner-icon">
          <svg
          xmlns="http://www.w3.org/2000/svg"
          width="28"
          height="29"
          viewBox="0 0 28 29"
          fill="none">
          <path d="M14 0.978271C10.1941 0.978271 9.71984 0.996649 8.2304 1.05966C6.73484 1.13317 5.72322 1.36507 4.8306 1.71161C3.90999 2.07216 3.12589 2.55084 2.35142 3.32969C1.5717 4.10416 1.08864 4.88826 0.733342 5.80888C0.386798 6.70149 0.154894 7.71311 0.0813852 9.20868C0.0140018 10.699 0 11.1724 0 14.9783C0 18.7841 0.0183773 19.2584 0.0813852 20.7479C0.154894 22.2391 0.386798 23.2551 0.733342 24.1477C1.09389 25.0683 1.57257 25.8524 2.35142 26.6269C3.12589 27.4066 3.90999 27.8896 4.8306 28.2449C5.72322 28.5871 6.73922 28.8234 8.2304 28.8969C9.72072 28.9643 10.1941 28.9783 14 28.9783C17.8059 28.9783 18.2802 28.9599 19.7696 28.8969C21.2608 28.8234 22.2768 28.5862 23.1694 28.2449C24.09 27.8844 24.8741 27.4057 25.6486 26.6269C26.4283 25.8524 26.9114 25.0727 27.2667 24.1477C27.6088 23.2551 27.8451 22.2391 27.9186 20.7479C27.986 19.2576 28 18.7841 28 14.9783C28 11.1724 27.9816 10.6981 27.9186 9.20868C27.8451 7.71749 27.608 6.69624 27.2667 5.80888C26.9061 4.88826 26.4274 4.10416 25.6486 3.32969C24.8741 2.54997 24.0944 2.06691 23.1694 1.71161C22.2768 1.36507 21.2608 1.13317 19.7696 1.05966C18.2793 0.992273 17.8059 0.978271 14 0.978271ZM14 3.49859C17.7376 3.49859 18.1839 3.51696 19.6611 3.57997C21.0236 3.64386 21.7657 3.87138 22.2584 4.06391C22.9156 4.31856 23.375 4.6196 23.8721 5.11141C24.3595 5.59885 24.6606 6.06353 24.9152 6.72074C25.1078 7.21343 25.3353 7.95552 25.3992 9.31806C25.4622 10.7952 25.4806 11.2424 25.4806 14.9791C25.4806 18.7159 25.4622 19.163 25.3939 20.6402C25.3204 22.0028 25.0929 22.7449 24.9012 23.2376C24.6361 23.8948 24.3403 24.3542 23.852 24.8513C23.3593 25.3387 22.8902 25.6397 22.2383 25.8944C21.7517 26.0869 20.9991 26.3144 19.6313 26.3783C18.1463 26.4413 17.7087 26.4597 13.9615 26.4597C10.2143 26.4597 9.7776 26.4413 8.29079 26.3731C6.92824 26.2996 6.17652 26.072 5.68384 25.8804C5.01875 25.6152 4.56282 25.3194 4.07451 24.8311C3.58182 24.3384 3.26853 23.8694 3.027 23.2174C2.83098 22.7309 2.60695 21.9783 2.53432 20.6105C2.48444 19.1429 2.46081 18.6879 2.46081 14.9581C2.46081 11.2302 2.48444 10.7742 2.53432 9.28831C2.60695 7.92052 2.83098 7.16967 3.027 6.68136C3.26853 6.0154 3.5827 5.56034 4.07451 5.06766C4.56195 4.58022 5.01875 4.26518 5.68384 4.0184C6.17652 3.82675 6.90986 3.59922 8.27766 3.53097C9.76272 3.47758 10.2003 3.45833 13.9422 3.45833L14 3.49859ZM14 7.79275C10.0261 7.79275 6.81273 11.0105 6.81273 14.98C6.81273 18.9539 10.0305 22.1673 14 22.1673C17.9739 22.1673 21.1873 18.9495 21.1873 14.98C21.1873 11.0062 17.9695 7.79275 14 7.79275ZM14 19.647C11.4202 19.647 9.33304 17.5598 9.33304 14.98C9.33304 12.4002 11.4202 10.3131 14 10.3131C16.5798 10.3131 18.667 12.4002 18.667 14.98C18.667 17.5598 16.5798 19.647 14 19.647ZM23.1571 7.50571C23.1571 8.43595 22.4002 9.1868 21.4743 9.1868C20.5441 9.1868 19.7932 8.43508 19.7932 7.50571C19.7932 6.58072 20.5493 5.82813 21.4743 5.82813C22.3993 5.82813 23.1571 6.58072 23.1571 7.50571Z" fill="black" />
          </svg>
          </div>
          <div class="dropdown-content-inner-name">Instagram</div>
          </a>
          </div> -->

          <div id="popupMessage" class="popup-message"></div>
          <div class="dropdown-content-inner-socialmedia dropdown-content-inner-copylink">
            <a href="javascript:void(0);" onclick="copyToClipboard('{{ permalinkURL }}');" rel="noopener noreferrer">

              <div class="dropdown-content-inner-icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="28"
                  height="29"
                  viewBox="0 0 28 29"
                  fill="none">
                  <g clip-path="url(#clip0_3664_2399)">
                    <path d="M28 14.971C28 7.23902 21.732 0.971008 14 0.971008C6.26801 0.971008 0 7.23902 0 14.971C0 22.703 6.26801 28.971 14 28.971C21.732 28.971 28 22.703 28 14.971Z" fill="black" />
                    <path
                      d="M18.199 16.2653C18.5198 16.5862 19.0401 16.5862 19.3609 16.2653L21.3943 14.232C23.159 12.4673 23.159 9.60616 21.3943 7.84146C19.6296 6.07677 16.7684 6.07677 15.0037 7.84146L12.9704 9.87481C12.6495 10.1957 12.6495 10.7159 12.9704 11.0367C13.2913 11.3576 13.8114 11.3576 14.1323 11.0367L16.1656 9.00338C17.2887 7.88039 19.1093 7.88039 20.2324 9.00338C21.3553 10.1264 21.3553 11.9471 20.2324 13.0701L18.199 15.1034C17.8782 15.4243 17.8782 15.9445 18.199 16.2653Z"
                      fill="white"
                      stroke="white"
                      stroke-width="0.5" />
                    <path
                      d="M8.90374 13.9415C9.22459 13.6207 9.7448 13.6207 10.0657 13.9415C10.3865 14.2623 10.3865 14.7826 10.0657 15.1034L8.03231 17.1368C6.90932 18.2597 6.90932 20.0805 8.03231 21.2034C9.15529 22.3265 10.976 22.3265 12.099 21.2034L14.1324 19.17C14.4532 18.8492 14.9734 18.8492 15.2943 19.17C15.6151 19.491 15.6151 20.0111 15.2943 20.332L13.2609 22.3653C11.4962 24.13 8.63509 24.13 6.8704 22.3653C5.1057 20.6006 5.1057 17.7395 6.8704 15.9749L8.90374 13.9415Z"
                      fill="white"
                      stroke="white"
                      stroke-width="0.5" />
                    <path
                      d="M11.518 17.7177C11.1971 17.3969 11.1971 16.8767 11.518 16.5558L15.5847 12.4891C15.9055 12.1683 16.4257 12.1683 16.7466 12.4891C17.0675 12.81 17.0675 13.3302 16.7466 13.651L12.6799 17.7177C12.3591 18.0386 11.8388 18.0386 11.518 17.7177Z"
                      fill="white"
                      stroke="white"
                      stroke-width="0.5" />
                  </g>
                  <defs>
                    <clipPath id="clip0_3664_2399">
                      <rect
                        width="28"
                        height="28"
                        fill="white"
                        transform="translate(0 0.971008)" />
                    </clipPath>
                  </defs>
                </svg>
              </div>
              <div class="dropdown-content-inner-name">Copy Link</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- For Mobile -->

  <div class="shareIcon-container-Popup custom-model-main">
    <div class="custom-model-productDetails">
      <div class="custom-model-productDetails-img">
        <img src="{{ product.featured_image | img_url: 'small' }}" alt="">
      </div>
      <div class="custom-model-productDetails-inner">
        <h2 class="custom-model-productDetails-inner-title">{{ product.title }} |
          <span>
            {%- if product.variants.first.weight != 0 %}
              {{ product.variants.first.weight }} ml
            {% endif -%}
          </span>
        </h2>
        {{ product.metafields.global['product-sub-title'] }}
      </div>
    </div>
    <div class="shareIcon-container-Popup-border-inner"></div>
    <div class="custom-model-inner">
      <div class="custom-model-wrap">
        <div class="pop-up-content-wrap">
          <div class="shareIcon-container-Popup-heading">
            <h2 class="shareIcon-container-Popup-heading-txt">Share using</h2>
          </div>
          <div class="shareIcon-container-Popup-icon">

            <div id="popupMessage" class="popup-message"></div>
            <span class="shareIcon-container-Popup-copyLink">
              <a href="javascript:void(0);" onclick="copyToClipboard('{{ permalinkURL }}');" rel="noopener noreferrer">

                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="48"
                  height="48"
                  viewBox="0 0 48 48"
                  fill="none">
                  <g clip-path="url(#clip0_1701_2537)">
                    <path d="M48 24C48 10.7452 37.2548 0 24 0C10.7452 0 0 10.7452 0 24C0 37.2548 10.7452 48 24 48C37.2548 48 48 37.2548 48 24Z" fill="black" />
                    <path
                      d="M31.1985 26.2189C31.7485 26.7689 32.6403 26.7689 33.1903 26.2189L36.6761 22.7331C39.7013 19.708 39.7013 14.8032 36.6761 11.778C33.6508 8.75279 28.7461 8.75279 25.7208 11.778L22.2351 15.2637C21.6851 15.8137 21.6851 16.7055 22.2351 17.2556C22.7852 17.8056 23.6769 17.8056 24.227 17.2556L27.7127 13.7698C29.6379 11.8447 32.759 11.8447 34.6842 13.7698C36.6093 15.6949 36.6093 18.8162 34.6842 20.7413L31.1985 24.227C30.6485 24.777 30.6485 25.6689 31.1985 26.2189Z"
                      fill="white"
                      stroke="white"
                      stroke-width="0.5" />
                    <path
                      d="M15.2637 22.2352C15.8137 21.6852 16.7055 21.6852 17.2555 22.2352C17.8056 22.7852 17.8056 23.677 17.2555 24.227L13.7698 27.7128C11.8446 29.6379 11.8446 32.7592 13.7698 34.6842C15.6949 36.6094 18.8161 36.6094 20.7413 34.6842L24.2271 31.1985C24.7771 30.6485 25.6687 30.6485 26.2189 31.1985C26.7689 31.7486 26.7689 32.6403 26.2189 33.1904L22.7331 36.6761C19.7079 39.7013 14.8031 39.7013 11.7779 36.6761C8.75273 33.6508 8.75273 28.7461 11.7779 25.721L15.2637 22.2352Z"
                      fill="white"
                      stroke="white"
                      stroke-width="0.5" />
                    <path
                      d="M19.7453 28.7087C19.1953 28.1587 19.1953 27.2669 19.7453 26.7169L26.7168 19.7454C27.2668 19.1953 28.1586 19.1953 28.7086 19.7454C29.2588 20.2954 29.2588 21.1872 28.7086 21.7372L21.7372 28.7087C21.1872 29.2587 20.2954 29.2587 19.7453 28.7087Z"
                      fill="white"
                      stroke="white"
                      stroke-width="0.5" />
                  </g>
                  <defs>
                    <clipPath id="clip0_1701_2537">
                      <rect
                        width="48"
                        height="48"
                        fill="white" />
                    </clipPath>
                  </defs>
                </svg>
                <div class="shareIcon-container-Popup-innerTxt">Copy link</div>
              </a>
            </span>
            <span class="shareIcon-container-Popup-whatsapp">
              <a
                href="https://wa.me/?text={{ permaTitle }}&#x20;{{ permalinkURL }}"
                target="_blank"
                rel="noopener noreferrer">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="48"
                  height="48"
                  viewBox="0 0 48 48"
                  fill="none">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M24 48C37.2549 48 48 37.6254 48 24.8276C48 12.0298 37.2549 1.65517 24 1.65517C10.7452 1.65517 0 12.0298 0 24.8276C0 28.9836 1.13314 32.884 3.11738 36.2566L0 48L12.5398 45.1925C15.9453 46.9827 19.8495 48 24 48ZM24 44.4351C35.2157 44.4351 44.3078 35.6565 44.3078 24.8276C44.3078 13.9988 35.2157 5.22017 24 5.22017C12.7844 5.22017 3.69231 13.9988 3.69231 24.8276C3.69231 29.0087 5.04771 32.8841 7.35744 36.0665L5.53846 42.6525L12.4799 40.9769C15.7533 43.158 19.7222 44.4351 24 44.4351Z"
                    fill="#BFC8D0" />
                  <path d="M44.5714 23.1724C44.5714 34.1419 35.3613 43.0345 24 43.0345C19.6666 43.0345 15.6461 41.7408 12.3303 39.5316L5.29872 41.2289L7.14132 34.5574C4.80159 31.3336 3.42859 27.4078 3.42859 23.1724C3.42859 12.2029 12.6387 3.31034 24 3.31034C35.3613 3.31034 44.5714 12.2029 44.5714 23.1724Z" fill="url(#paint0_linear_1699_2497)" />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M24 46.3448C37.2549 46.3448 48 35.9702 48 23.1724C48 10.3746 37.2549 0 24 0C10.7452 0 0 10.3746 0 23.1724C0 27.3284 1.13314 31.2288 3.11738 34.6014L0 46.3448L12.5398 43.5373C15.9453 45.3276 19.8495 46.3448 24 46.3448ZM24 42.7799C35.2157 42.7799 44.3078 34.0014 44.3078 23.1724C44.3078 12.3435 35.2157 3.56499 24 3.56499C12.7844 3.56499 3.69231 12.3435 3.69231 23.1724C3.69231 27.3535 5.04771 31.229 7.35744 34.4114L5.53846 40.9973L12.4799 39.3218C15.7533 41.5028 19.7222 42.7799 24 42.7799Z"
                    fill="white" />
                  <path d="M18 12.4136C17.4295 11.307 16.554 11.405 15.6698 11.405C14.0894 11.405 11.625 13.2327 11.625 16.6345C11.625 19.4223 12.8973 22.4739 17.1847 27.0391C21.3223 31.4448 26.759 33.7238 31.2723 33.6462C35.7857 33.5687 36.7143 29.8186 36.7143 28.5522C36.7143 27.9909 36.3535 27.7109 36.1051 27.6348C34.567 26.922 31.7302 25.5941 31.0848 25.3447C30.4394 25.0952 30.1023 25.4327 29.8929 25.6163C29.3076 26.1547 28.1474 27.742 27.75 28.099C27.3528 28.456 26.7605 28.2753 26.514 28.1404C25.607 27.789 23.1478 26.7329 21.1877 24.8981C18.7634 22.6292 18.6211 21.8484 18.1644 21.1536C17.7991 20.5976 18.0672 20.2567 18.2009 20.1075C18.7233 19.5257 19.4445 18.6273 19.7679 18.1809C20.0913 17.7343 19.8346 17.0565 19.6805 16.6345C19.0179 14.8188 18.4565 13.2988 18 12.4136Z" fill="white" />
                  <defs>
                    <linearGradient
                      id="paint0_linear_1699_2497"
                      x1="42"
                      y1="8.27586"
                      x2="4.69141"
                      y2="44.3408"
                      gradientUnits="userSpaceOnUse">
                      <stop stop-color="#5BD066" />
                      <stop offset="1" stop-color="#27B43E" />
                    </linearGradient>
                  </defs>
                </svg>
                <div class="shareIcon-container-Popup-innerTxt">Whatsapp</div>
              </a>
            </span>
            <span class="shareIcon-container-Popup-facebook">
              <a
                href="https://www.facebook.com/sharer/sharer.php?u={{ permalinkURL }}"
                target="_blank"
                rel="noopener noreferrer">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="48"
                  height="48"
                  viewBox="0 0 48 48"
                  fill="none">
                  <path d="M48 24.1487C48 10.808 37.2495 0 24 0C10.7415 0 0 10.808 0 24.1487C0 36.1989 8.7735 46.1904 20.25 48V31.1306H14.1555V24.1502H20.25V18.8269C20.25 12.7762 23.8275 9.43458 29.3115 9.43458C31.938 9.43458 34.6875 9.90548 34.6875 9.90548V15.8476H31.656C28.68 15.8476 27.75 17.7115 27.75 19.6208V24.1487H34.4055L33.336 31.1291H27.75V47.9985C39.2175 46.1889 48 36.1973 48 24.1472V24.1487Z" fill="#1877F2" />
                </svg>
                <div class="shareIcon-container-Popup-innerTxt">Facebook</div>
              </a>
            </span>
            <span class="shareIcon-container-Popup-twitter">
              <a
                href="https://twitter.com/intent/tweet?url={{ permalinkURL }}"
                target="_blank"
                rel="noopener noreferrer">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="50"
                  height="50"
                  viewBox="0 0 50 50"
                  fill="none">
                  <path
                    d="M25 49C38.2548 49 49 38.2548 49 25C49 11.7452 38.2548 1 25 1C11.7452 1 1 11.7452 1 25C1 38.2548 11.7452 49 25 49Z"
                    fill="black"
                    stroke="white"
                    stroke-miterlimit="10" />
                  <path d="M10.216 11.0951L21.6877 26.4336L10.1437 38.9045H12.742L22.849 27.9858L31.0148 38.9045H39.8563L27.7389 22.7034L38.4841 11.0951H35.8859L26.5781 21.1507L19.0575 11.0951H10.216ZM14.0369 13.0088H18.0986L36.0349 36.9908H31.9732L14.0369 13.0088Z" fill="white" />
                </svg>
                <div class="shareIcon-container-Popup-innerTxt">X</div>
              </a>
            </span>
            <!-- <span class="shareIcon-container-Popup-insta">
            <a
            href="https://www.instagram.com/direct/t/[user-id]?url={{ permalinkURL }}"
            target="_blank"
            rel="noopener noreferrer">
            <svg
            xmlns="http://www.w3.org/2000/svg"
            width="48"
            height="48"
            viewBox="0 0 48 48"
            fill="none">
            <path d="M24 0C17.4757 0 16.6626 0.0315039 14.1093 0.139517C11.5454 0.265533 9.81123 0.663083 8.28104 1.25716C6.70284 1.87523 5.35867 2.69584 4.031 4.031C2.69434 5.35867 1.86623 6.70284 1.25716 8.28104C0.663083 9.81123 0.265533 11.5454 0.139517 14.1093C0.024003 16.6641 0 17.4757 0 24C0 30.5243 0.0315039 31.3374 0.139517 33.8907C0.265533 36.4471 0.663083 38.1888 1.25716 39.719C1.87523 41.2972 2.69584 42.6413 4.031 43.969C5.35867 45.3057 6.70284 46.1338 8.28104 46.7428C9.81123 47.3294 11.5529 47.7345 14.1093 47.8605C16.6641 47.976 17.4757 48 24 48C30.5243 48 31.3374 47.9685 33.8907 47.8605C36.4471 47.7345 38.1888 47.3279 39.719 46.7428C41.2972 46.1248 42.6413 45.3042 43.969 43.969C45.3057 42.6413 46.1338 41.3047 46.7428 39.719C47.3294 38.1888 47.7345 36.4471 47.8605 33.8907C47.976 31.3359 48 30.5243 48 24C48 17.4757 47.9685 16.6626 47.8605 14.1093C47.7345 11.5529 47.3279 9.80223 46.7428 8.28104C46.1248 6.70284 45.3042 5.35867 43.969 4.031C42.6413 2.69434 41.3047 1.86623 39.719 1.25716C38.1888 0.663083 36.4471 0.265533 33.8907 0.139517C31.3359 0.024003 30.5243 0 24 0ZM24 4.32054C30.4073 4.32054 31.1724 4.35204 33.7047 4.46006C36.0405 4.56957 37.3127 4.95962 38.1573 5.28966C39.2839 5.72622 40.0715 6.24228 40.9236 7.08539C41.7592 7.92099 42.2753 8.71759 42.7118 9.84423C43.0419 10.6888 43.4319 11.961 43.5414 14.2968C43.6495 16.8291 43.681 17.5957 43.681 24.0015C43.681 30.4073 43.6495 31.1739 43.5324 33.7062C43.4064 36.042 43.0164 37.3142 42.6878 38.1588C42.2333 39.2854 41.7262 40.073 40.8891 40.9251C40.0445 41.7607 39.2404 42.2768 38.1228 42.7133C37.2887 43.0434 35.9985 43.4334 33.6537 43.5429C31.1079 43.651 30.3578 43.6825 23.934 43.6825C17.5102 43.6825 16.7616 43.651 14.2128 43.5339C11.877 43.4079 10.5883 43.0179 9.74372 42.6893C8.60358 42.2348 7.82198 41.7277 6.98487 40.8906C6.14027 40.046 5.6032 39.2419 5.18915 38.1243C4.85311 37.2902 4.46906 36 4.34454 33.6552C4.25903 31.1394 4.21853 30.3593 4.21853 23.9655C4.21853 17.5747 4.25903 16.7931 4.34454 14.2458C4.46906 11.901 4.85311 10.6138 5.18915 9.77672C5.6032 8.63508 6.14177 7.85498 6.98487 7.01038C7.82048 6.17477 8.60358 5.6347 9.74372 5.21165C10.5883 4.88311 11.8455 4.49306 14.1903 4.37605C16.7361 4.28454 17.4862 4.25153 23.901 4.25153L24 4.32054ZM24 11.682C17.1876 11.682 11.679 17.1982 11.679 24.003C11.679 30.8154 17.1952 36.324 24 36.324C30.8124 36.324 36.321 30.8078 36.321 24.003C36.321 17.1906 30.8048 11.682 24 11.682ZM24 32.0035C19.5774 32.0035 15.9995 28.4256 15.9995 24.003C15.9995 19.5804 19.5774 16.0025 24 16.0025C28.4226 16.0025 32.0005 19.5804 32.0005 24.003C32.0005 28.4256 28.4226 32.0035 24 32.0035ZM39.698 11.1899C39.698 12.7846 38.4003 14.0718 36.8131 14.0718C35.2184 14.0718 33.9312 12.7831 33.9312 11.1899C33.9312 9.6042 35.2274 8.31404 36.8131 8.31404C38.3988 8.31404 39.698 9.6042 39.698 11.1899Z" fill="black" />
            </svg>
            <div class="shareIcon-container-Popup-innerTxt">Instagram</div>
            </a>
            </span>
            <span class="shareIcon-container-Popup-threads">
            <a
            href="https://threads.app/share?url={{ permalinkURL }}"
            target="_blank"
            rel="noopener noreferrer">
            <svg
            xmlns="http://www.w3.org/2000/svg"
            width="41"
            height="48"
            viewBox="0 0 41 48"
            fill="none">
            <path d="M31.9039 22.2471C31.6987 22.148 31.4902 22.0526 31.2789 21.9613C30.9111 15.1346 27.2076 11.2262 20.9889 11.1862C20.9608 11.1861 20.9327 11.1861 20.9046 11.1861C17.185 11.1861 14.0915 12.7852 12.1875 15.6952L15.6076 18.0582C17.03 15.8846 19.2622 15.4212 20.9062 15.4212C20.9252 15.4212 20.9443 15.4212 20.9631 15.4214C23.0106 15.4345 24.5557 16.0342 25.5557 17.2035C26.2835 18.0548 26.7702 19.2313 27.0112 20.716C25.1958 20.4052 23.2325 20.3096 21.1337 20.4308C15.2213 20.7738 11.4203 24.247 11.6756 29.073C11.8051 31.521 13.016 33.627 15.0848 35.0028C16.8341 36.1657 19.087 36.7345 21.4284 36.6058C24.5205 36.435 26.9462 35.2467 28.6385 33.074C29.9237 31.424 30.7366 29.2857 31.0955 26.5915C32.5691 27.4872 33.6612 28.666 34.2644 30.083C35.29 32.4917 35.3498 36.45 32.1432 39.677C29.3337 42.504 25.9566 43.727 20.8528 43.7648C15.1914 43.7225 10.9097 41.8937 8.12586 38.3293C5.51903 34.9915 4.17181 30.1705 4.12154 24C4.17181 17.8295 5.51903 13.0084 8.12586 9.67068C10.9097 6.10623 15.1913 4.2775 20.8528 4.23513C26.5553 4.27782 30.9116 6.11535 33.802 9.697C35.2192 11.4534 36.2878 13.6622 36.9922 16.2376L41 15.1606C40.1462 11.9906 38.8026 9.25893 36.9743 6.9935C33.2688 2.40167 27.8494 0.048787 20.8667 0H20.8388C13.8703 0.0486175 8.51157 2.41045 4.91162 7.01982C1.70814 11.1216 0.0556979 16.8289 0.000173745 23.9831L0 24L0.000173745 24.0169C0.0556979 31.171 1.70814 36.8785 4.91162 40.9803C8.51157 45.5895 13.8703 47.9515 20.8388 48H20.8667C27.0621 47.9567 31.4291 46.323 35.0266 42.7028C39.7334 37.9665 39.5917 32.0298 38.0404 28.3853C36.9274 25.7717 34.8055 23.649 31.9039 22.2471ZM21.207 32.3768C18.6157 32.5238 15.9236 31.3523 15.7909 28.843C15.6925 26.9825 17.1055 24.9065 21.366 24.6592C21.854 24.6308 22.3328 24.617 22.8031 24.617C24.3507 24.617 25.7985 24.7684 27.1147 25.0583C26.6238 31.2337 23.7441 32.2365 21.207 32.3768Z" fill="black" />
            </svg>
            <div class="shareIcon-container-Popup-innerTxt">Threads</div>
            </a>
            </span> -->
            <span class="shareIcon-container-Popup-reddit">
              <a
                href="https://www.reddit.com/submit?url={{ permalinkURL }}"
                target="_blank"
                rel="noopener noreferrer">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="48"
                  height="48"
                  viewBox="0 0 48 48"
                  fill="none">
                  <path d="M24 0C10.7625 0 0 10.7625 0 24C0 37.2375 10.7625 48 24 48C37.2375 48 48 37.2375 48 24C48 10.7625 37.2375 0 24 0Z" fill="#FC471E" />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M30.8902 11.8449C30.8684 11.9826 30.8571 12.1239 30.8571 12.2679C30.8571 13.7217 32.0084 14.9002 33.4286 14.9002C34.8487 14.9002 36 13.7217 36 12.2679C36 10.814 34.8487 9.63549 33.4286 9.63549C32.7958 9.63549 32.2164 9.86949 31.7683 10.2576L25.0906 8.57143L22.6771 18.4545C19.4664 18.6708 16.5788 19.6661 14.4005 21.1689C13.782 20.5479 12.9347 20.165 12 20.165C10.1064 20.165 8.57141 21.7365 8.57141 23.6748C8.57141 25.0239 9.31483 26.1951 10.4051 26.7826C10.3264 27.2013 10.2857 27.6285 10.2857 28.0622C10.2857 33.3929 16.4258 37.7143 24 37.7143C31.5742 37.7143 37.7143 33.3929 37.7143 28.0622C37.7143 27.6285 37.6736 27.2013 37.5948 26.7826C38.6851 26.1951 39.4286 25.0239 39.4286 23.6748C39.4286 21.7365 37.8936 20.165 36 20.165C35.0654 20.165 34.218 20.5479 33.5995 21.1689C31.2262 19.5317 28.0112 18.4966 24.4538 18.4154L26.3379 10.6996L30.8902 11.8449ZM18 28.9397C19.4201 28.9397 20.5714 27.7611 20.5714 26.3073C20.5714 24.8534 19.4201 23.6748 18 23.6748C16.5799 23.6748 15.4286 24.8534 15.4286 26.3073C15.4286 27.7611 16.5799 28.9397 18 28.9397ZM30 28.9397C31.4201 28.9397 32.5714 27.7611 32.5714 26.3073C32.5714 24.8534 31.4201 23.6748 30 23.6748C28.5799 23.6748 27.4286 24.8534 27.4286 26.3073C27.4286 27.7611 28.5799 28.9397 30 28.9397ZM18.4754 31.7194C18.0816 31.4506 17.5495 31.5595 17.2868 31.9627C17.0242 32.3661 17.1307 32.9109 17.5244 33.1797C19.3898 34.4525 21.695 35.089 24 35.089C26.305 35.089 28.6102 34.4525 30.4754 33.1797C30.8693 32.9109 30.9758 32.3661 30.7131 31.9627C30.4505 31.5595 29.9184 31.4506 29.5244 31.7194C27.9471 32.7958 25.9736 33.3341 24 33.3341C22.8296 33.3341 21.6591 33.1449 20.5714 32.7663C19.825 32.5065 19.1174 32.1574 18.4754 31.7194Z"
                    fill="white" />
                </svg>
                <div class="shareIcon-container-Popup-innerTxt">Reddit</div>
              </a>
            </span>
            <span class="shareIcon-container-Popup-messanger">
              <a
                href="fb-messenger://share/?link={{ permalinkURL }}"
                target="_blank"
                rel="noopener noreferrer">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="48"
                  height="48"
                  viewBox="0 0 48 48"
                  fill="none">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M24 0C10.7451 0 0 9.94919 0 22.2222C0 29.2156 3.48998 35.4535 8.94409 39.527V48L17.1159 43.5151C19.2967 44.1187 21.6072 44.4445 24 44.4445C37.2549 44.4445 48 34.4953 48 22.2222C48 9.94919 37.2549 0 24 0ZM26.3851 29.9259L20.2733 23.4074L8.34784 29.9259L21.4659 16L27.7267 22.5185L39.5031 16L26.3851 29.9259Z"
                    fill="#007FFF" />
                </svg>
                <div class="shareIcon-container-Popup-innerTxt">Messenger</div>
              </a>
            </span>
            <span class="shareIcon-container-Popup-telegram">
              <a
                href="https://telegram.me/share/url?url={{ permalinkURL }}"
                target="_blank"
                rel="noopener noreferrer">

                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="48"
                  height="48"
                  viewBox="0 0 48 48"
                  fill="none">
                  <path d="M24 0C10.7451 0 0 10.7451 0 24C0 37.2549 10.7451 48 24 48C37.2549 48 48 37.2549 48 24C48 10.7451 37.2549 0 24 0Z" fill="#40B3E0" />
                  <path d="M35.678 13.8058L31.3914 35.4183C31.3914 35.4183 30.7919 36.9172 29.1433 36.1978L19.2511 28.6138L15.6541 26.8753L9.599 24.8368C9.599 24.8368 8.66975 24.5071 8.57975 23.7877C8.48994 23.0683 9.629 22.6786 9.629 22.6786L33.6995 13.2361C33.6995 13.2361 35.678 12.3669 35.678 13.8058Z" fill="white" />
                  <path d="M18.4909 35.1757C18.4909 35.1757 18.2021 35.1487 17.8423 34.0094C17.4827 32.8703 15.6542 26.8752 15.6542 26.8752L30.1924 17.6427C30.1924 17.6427 31.0318 17.1331 31.0018 17.6427C31.0018 17.6427 31.1516 17.7325 30.702 18.1522C30.2524 18.572 19.2812 28.4339 19.2812 28.4339" fill="#D2E5F1" />
                  <path d="M23.0441 31.5216L19.1313 35.089C19.1313 35.089 18.8255 35.3211 18.4908 35.1756L19.2401 28.5492" fill="#B5CFE4" />
                </svg>
                <div class="shareIcon-container-Popup-innerTxt">Telegram</div>
              </a>
            </span>
            <span class="shareIcon-container-Popup-message">
              <a
                href="sms:?&amp;body={{ permaTitle }}%20-%20{{ permalinkURL }}"
                target="_blank"
                rel="noopener noreferrer">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="48"
                  height="48"
                  viewBox="0 0 48 48"
                  fill="none">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M17.3349 0.925595C21.6543 -0.308532 26.233 -0.308532 30.5525 0.925595C38.5441 3.20895 44.7911 9.45586 47.0745 17.4476C48.3085 21.767 48.3085 26.3457 47.0745 30.6652L46.9845 30.9802C44.757 38.7759 38.6632 44.8697 30.8675 47.0972C26.3202 48.3962 21.4864 48.2913 16.9998 46.7959L12.9067 45.4313C12.7262 45.3713 12.5324 45.3638 12.3478 45.4099L3.36669 47.6551C2.51749 47.8675 1.61917 47.6188 1.00023 46.9998C0.381284 46.3808 0.132465 45.4824 0.344777 44.6334L2.59005 35.6523C2.6362 35.4676 2.62875 35.2738 2.5686 35.0933L1.20424 31.0003C-0.291287 26.5136 -0.396321 21.6798 0.902895 17.1326C3.13028 9.33677 9.22409 3.24296 17.0199 1.01558L17.3349 0.925595ZM12.7298 27.7942C14.7941 27.7942 16.4676 26.1207 16.4676 24.0563C16.4676 21.992 14.7941 20.3184 12.7298 20.3184C10.6654 20.3184 8.99187 21.992 8.99187 24.0563C8.99187 26.1207 10.6654 27.7942 12.7298 27.7942ZM27.6813 24.0563C27.6813 26.1207 26.0077 27.7942 23.9434 27.7942C21.8791 27.7942 20.2055 26.1207 20.2055 24.0563C20.2055 21.992 21.8791 20.3184 23.9434 20.3184C26.0077 20.3184 27.6813 21.992 27.6813 24.0563ZM35.1571 27.7942C37.2214 27.7942 38.895 26.1207 38.895 24.0563C38.895 21.992 37.2214 20.3184 35.1571 20.3184C33.0928 20.3184 31.4192 21.992 31.4192 24.0563C31.4192 26.1207 33.0928 27.7942 35.1571 27.7942Z"
                    fill="black" />
                </svg>
                <div class="shareIcon-container-Popup-innerTxt">Messages</div>
              </a>
            </span>
            <span class="shareIcon-container-Popup-email">
              <a href="mailto:?subject=Check out this product!&body=Here's the product I thought you might like: {{ permalinkURL }}"target="_blank"rel="noopener noreferrer">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="48"
                  height="48"
                  viewBox="0 0 48 48"
                  fill="none">
                  <path d="M48 24C48 10.7452 37.2548 0 24 0C10.7452 0 0 10.7452 0 24C0 37.2548 10.7452 48 24 48C37.2548 48 48 37.2548 48 24Z" fill="black" />
                  <path
                    d="M38.9225 15.5786C38.7873 14.8974 38.4853 14.274 38.0634 13.759C37.9745 13.6468 37.8816 13.5463 37.7808 13.4459C37.0335 12.6948 35.9845 12.2263 34.8386 12.2263H13.1614C12.0155 12.2263 10.9703 12.6948 10.2194 13.4459C10.1189 13.5463 10.026 13.6468 9.9368 13.759C9.51475 14.274 9.2127 14.8974 9.08121 15.5786C9.02719 15.8415 9 16.1132 9 16.3879V31.6125C9 32.1966 9.12387 32.758 9.34477 33.265C9.54967 33.749 9.85178 34.1869 10.2193 34.5541C10.3125 34.6471 10.405 34.7325 10.506 34.8175C11.2259 35.4137 12.1551 35.7737 13.1614 35.7737H34.8386C35.8453 35.7737 36.7785 35.4136 37.4943 34.8137C37.5949 34.7325 37.6879 34.6471 37.7808 34.5541C38.1482 34.1869 38.4503 33.749 38.6594 33.265V33.2613C38.8802 32.7543 38.9999 32.1966 38.9999 31.6126V16.3879C39 16.1132 38.9732 15.8415 38.9225 15.5786ZM11.7251 14.9514C12.0969 14.5801 12.5962 14.3552 13.1614 14.3552H34.8386C35.4038 14.3552 35.9075 14.5801 36.2749 14.9514C36.3406 15.0176 36.4025 15.0913 36.4572 15.1645L25.0955 25.0666C24.7821 25.3412 24.395 25.4769 24 25.4769C23.6089 25.4769 23.2221 25.3412 22.9046 25.0666L11.5472 15.1603C11.5975 15.0871 11.6594 15.0176 11.7251 14.9514ZM11.1289 31.6125V17.3634L19.3511 24.5361L11.1331 31.7013C11.1289 31.6741 11.1289 31.6435 11.1289 31.6125ZM34.8386 33.6444H13.1614C12.7934 33.6444 12.449 33.5476 12.1551 33.3776L20.8257 25.8214L21.6352 26.5256C22.3126 27.1143 23.1602 27.4124 24 27.4124C24.8441 27.4124 25.6917 27.1143 26.3691 26.5256L27.1781 25.8214L35.8453 33.3776C35.551 33.5476 35.2066 33.6444 34.8386 33.6444ZM36.8711 31.6125C36.8711 31.6435 36.8711 31.6741 36.8671 31.7013L28.6492 24.5403L36.8711 17.3672V31.6125Z"
                    fill="white"
                    stroke="black"
                    stroke-width="0.244141" />
                </svg>
                <div class="shareIcon-container-Popup-innerTxt">Email</div>
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-overlay"></div>
</div>



<style>
  .bg-overlay {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1001;
    -webkit-transition: background 0.15s linear;
    -o-transition: background 0.15s linear;
    transition: background 0.15s linear;
  }
  .template-product .shareIcon-container-icon {
    position: absolute;
    z-index: 100;
    top: 20px;
    right: 51px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 17px;
  }
  .customSingle-template .shareIcon-container-icon {
    top: 28px !important;
    right: 28px !important;
  }
  .template-product .shareIcon-container-icon .shareIcon-container-icon-svg {
    cursor: pointer;
    border-radius: 50%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    line-height: 0;
  }
  .template-product .shareIcon-container-icon svg {
    height: 23px;
    width: 23px;
  }
  .template-product .t4s-product_social-share.t4s-text-start {
    display: none;
  }
  .template-product .shareIcon-container-Popup .pop-up-content-wrap .shareIcon-container-Popup-heading-txt {
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .template-product .pop-up-content-wrap .shareIcon-container-Popup-icon {
    display: flex;
    overflow-y: scroll;
  }

  .template-product .shareIcon-container-Popup-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  .template-product .shareIcon-container-Popup-innerTxt {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .template-product .custom-model-wrap .pop-up-content-wrap .shareIcon-container-Popup-icon span {
    margin: 0 24px 0 0;
    height: 68px;
    width: 48px;
    display: flex;
  }
  .template-product .custom-model-wrap .pop-up-content-wrap .shareIcon-container-Popup-icon span a {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 11px;
  }
  .template-product .custom-model-wrap .pop-up-content-wrap .shareIcon-container-Popup-icon span a svg {
    height: 40px;
    width: 40px;
  }



  .shareIcon-container {
    position: relative;
  }

  .shareIcon-container-Popup {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1002;
    background-color: #ffffff;
    border-radius: 4px 4px 0 0;
  }

  .shareIcon-container-Popup.show {
    display: block;
  }

  .shareIcon-container-Popup .custom-model-productDetails {
    display: flex;
    margin-top: 10px;
    padding: 10px 10px 10px 12px;
  }
  .shareIcon-container-Popup .custom-model-inner {
    padding: 12px;
  }
  .shareIcon-container-Popup-border-inner {
    margin: 0 12px;
    border-top: 0.7px solid #CACACA;
  }
  .template-product .pop-up-content-wrap .shareIcon-container-Popup-icon::-webkit-scrollbar {
    display: none;
  }
  .shareIcon-container-Popup .custom-model-productDetails .custom-model-productDetails-inner {
    margin-left: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .shareIcon-container-Popup .custom-model-productDetails .custom-model-productDetails-img img {
    height: 50px;
    width: 50px;
  }

  .shareIcon-container-Popup .custom-model-productDetails .custom-model-productDetails-inner .custom-model-productDetails-inner-title {
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .shareIcon-container-Popup .custom-model-productDetails .custom-model-productDetails-inner .prod_sub {
    color: #6D6E71;
    font-family: Poppins;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
  }

  .popup-message {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 8px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 5px;
    font-size: 14px;
    transition: opacity 0.5s;
  }

  @media screen and (min-width:960px) {
    .template-product .pop-up-content-wrap .shareIcon-container-Popup-icon {
      margin: 12px;
    }
  }

  @media screen and (min-width:360px) and(max-width:426px) {
    .template-product .shareIcon-container-icon {
      right: 38px;
    }
  }

  @media screen and (min-width:767px) {
    .shareIcon-container-Popup {
      display: none;
    }
  }

  /* Desktop */


  .dropbtn {
    background-color: #1c2931;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropbtn:hover,
  .dropbtn:focus {
    background-color: #2980b9;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  .arrow-up {
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #737373;
  }
  .dropdown-content {
    position: absolute;
    top: 43px;
    right: 0;
    background-color: #ffffff;
    min-width: 100px;
    overflow: auto;
    z-index: 3;
    border-radius: 4px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  }
  .share-icon-hiden {
    display: none;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content .dropdown-content-inner {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 11px 14px;
  }
  .dropdown-content .dropdown-content-inner .dropdown-content-inner-socialmedia {
    width: 100%;
    display: inline-flex;
    align-items: center;
  }
  .dropdown-content .dropdown-content-inner .dropdown-content-inner-socialmedia .dropdown-content-inner-icon {
    width: 28px;
    height: 28px;
    padding: 0 0 0 7px;
  }
  .dropdown-content .dropdown-content-inner .dropdown-content-inner-socialmedia .dropdown-content-inner-icon svg {
    width: inherit;
    height: inherit;
  }
  .dropdown-content .dropdown-content-inner .dropdown-content-inner-socialmedia:last-child {
    border: none;
  }

  .dropdown-content .dropdown-content-inner .dropdown-content-inner-socialmedia .dropdown-content-inner-name {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 7px;
  }
  .dropdown-content .dropdown-content-inner .dropdown-content-inner-socialmedia a {
    width: 100%;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 9px 0;
    border-bottom: 1px solid #CBCBCB;
  }
  .shareIcon-container-icon-desktop-view.after-content::after {
    content: " ";
    position: absolute;
    top: 35px;
    left: 7px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
    z-index: 2;
  }
  .dropdown-content-inner-socialmedia.dropdown-content-inner-copylink a {
    border-bottom: none !important;
  }
  .toast {
    visibility: visible;
    max-width: 243px;
    height: 35px;
    /*margin-left: -125px;*/
    background-color: #ffffff;
    color: #2C2C2C;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    z-index: 9999;
    left: 30%;
    bottom: 40px;
    padding: 8px;
    transition: visibility 0.5s, opacity 0.5s linear;
    opacity: 0;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: Poppins;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
}

.toast.show {
    visibility: visible;
    opacity: 1;
}
  
@media screen and (min-width: 320px) and (max-width: 768px){
  .customSingle-template .shareIcon-container-icon {
    top: 14px !important;
    right: 14px !important;
  }
  .customSingle-template .shareIcon-container-icon .shareIcon-container-icon-svg {
    width: 28px;
    height: 28px;
  }
  .customSingle-template .shareIcon-container-icon svg {
    height: 18px;
    width: 18px;
  }
}

@media screen and (min-width: 360px) and (max-width:424px){
  .toast{
    left : 29% !important;
  }
}

@media screen and (min-width: 425px) and (max-width:500px){
  .toast{
    left : 33% !important;
  }
}

@media screen and (min-width: 501px) and (max-width:768px){
  .toast{
    left : 36% !important;
  }

  @media screen and (min-width: 769px) and (max-width: 3000px){
  .toast{

    left : 90% !important;
  }
  
}


</style>

<script>
   // For clipboard
  function copyToClipboard(permalinkURL) {
    // Copying to clipboard
    const el = document.createElement('textarea');
    el.value = permalinkURL;
    document.body.appendChild(el);
    el.select();
    document.execCommand('copy');
    document.body.removeChild(el);

    // Showing toast
    showToast("Link copied to clipboard!");
}

function showToast(message) {
    const toast = document.createElement("div");
    toast.className = "toast";
    toast.innerHTML = message;
    document.body.appendChild(toast);

    setTimeout(() => {
        toast.classList.add("show");
        setTimeout(() => {
            toast.classList.remove("show");
            setTimeout(() => {
                document.body.removeChild(toast);
            }, 500);
        }, 1400);
    }, 100);
}


// For mobile

  $(document).ready(function() {

    if ($(window).width() < 768) {
      const iconContainer = $(".shareIcon-container-icon");
      const popupContainer = $(".shareIcon-container-Popup");

      iconContainer.click(function() {
        popupContainer.slideToggle("slow").toggleClass("show");
        $(".bg-overlay").fadeToggle();

      });
      $(".bg-overlay").click(function() {
        if (popupContainer.hasClass("show")) {
          popupContainer.slideUp("slow").removeClass("show");
          $(this).fadeOut();
          $("html").removeClass("t4s-lock-scroll");
        }
      });

      $(iconContainer).click(function() {
        if (popupContainer.hasClass("show")) {
          $("html").addClass("t4s-lock-scroll");
        }
      })

    }
  });

// Desktop

  if ($(window).width() > 767) {
    $(document).ready(function() {
      $(".shareIcon-container-icon-svg").click(function() {
        $(this).siblings().children(".dropdown-content").toggleClass("share-icon-hiden")
      })
      $(window).click(function(event) {

// If the click was not on the popup and not on the trigger
        if (!$(event.target).closest(".shareIcon-container-icon-svg").length && !$(event.target).closest(".dropdown-content").length) {
          $(".dropdown-content").addClass("share-icon-hiden");
          $(".shareIcon-container-icon-desktop-view").removeClass("after-content");
        }
      });
    })

    $(document).ready(function() {
      $(".shareIcon-container-icon").click(function() {
        $(".shareIcon-container-icon-desktop-view").toggleClass("after-content");
      })
    })
  }
</script>

<script>
   $(document).ready(function () {
    $( '.shareIcon-container-icon').on("click", function(){
     Growlytics.events.track("Share Icon",{
       'clicks': "Clicks",
     });
    });
  });
</script>






                    
                    
