<!doctype html>
{%- liquid
  assign t_name = request.page_type
  assign iso_code = request.locale.iso_code
  assign use_rtl = settings.use_rtl
  if use_rtl == '3'
    assign lis_rtl = 'ar; dv; ha; he; ku; fa; ur; ug; ps; yi'
    assign iso_code_ck = iso_code | split: '-' | first
  else
    assign lis_rtl = settings.list_rtl
    assign iso_code_ck = iso_code
  endif
  if use_rtl == '1'
    assign isRTL = true
  elsif lis_rtl contains iso_code_ck and use_rtl == '2' or use_rtl == '3'
    assign isRTL = true
  else
    assign isRTL = false
  endif
  assign body_img = settings.body_bg_image
  if body_img != blank and settings.general_layout == 'boxed'
    assign class_lazy = 'lazyloadt4s'
  endif
-%}
{%- capture class_html -%}
t4sp-theme t4s-wrapper__{{settings.general_layout}} rtl_{{isRTL}} swatch_color_style_{{settings.swatch_color_style}} pr_border_style_{{settings.pr_border_style}} pr_img_effect_{{settings.pr_img_effect}} enable_eff_img1_{{settings.enable_eff_img1}} badge_shape_{{settings.badge_shape}} css_for_wis_app_{{settings.enable_css_wis}}{% if settings.use_cus_lz and settings.cus_lz %} t4s-lzcus-true{% endif %} shadow_round_img_{{settings.enable_shadow_round_img}} t4s-header__{{settings.header_design}} is-remove-unavai-{{settings.variant_remove}} t4_compare_{{settings.enable_compe}}{% if settings.type_qv == '1' %} t4s-sidebar-qv{% endif %} t4s-cart-count-{{cart.item_count}} t4s-pr-ellipsis-{{settings.enable_pr_ellipsis}}
{%- endcapture -%}
<html
  class="{{class_html}} no-js"
  lang="{{ iso_code }}"
  {% if isRTL %}
    dir="rtl"
  {% endif %}
>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, height=device-height, minimum-scale=1.0, maximum-scale=1.0"
    >
    <meta name="theme-color" content="{{ settings.body_bg }}">
    <meta name="format-detection" content="telephone=no">
    <meta name="facebook-domain-verification" content="s5z0ta16xhbtvk47daov838gcw9ztp">
    <meta name="google-site-verification" content="HsSgZmkJ2paFfXlwix1JbGA_gSg40B7cHIIWBs8PBMI" />
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="dns-prefetch" fetchpriority="high" href="https://cdn.shopify.com" crossorigin>
   <link rel="dns-prefetch" fetchpriority="high" href="https://www.googletagmanager.com/" >
    
   {% if request.path contains 'daily-hydrating-serum-with-hyaluronic-acid-1' or request.path contains 'skin-repair-cream' or request.path contains 'skin-barrier-duo' or request.path contains 'daily-hydrating-serum-with-hyaluronic-acid-1' or request.path contains 'aha-bha-exfoliating-serum-1' %}
    <meta name="robots" content="index">
   {% endif %}

    {% if request.path contains '/gpay-b2g2/combination' or request.path contains '/gpay-b2g2/glow' or request.path contains '/phonepe-b2g2/sensitive-skin' or request.path contains '/gpay-b2g2/sensitive-skin' or request.path contains '/paytm-b2g2/sensitive-skin' or request.path contains '/gpay-b2g2/acne-control' %}
     <meta name="robots" content="noindex">
    {% endif %}
  
    {% if request.page_type != 'index' %}
    <link rel="stylesheet" as="style" href="{{ 'pre_theme.min.css' | asset_url }}" >
    <link rel="stylesheet" as="style" href="{{ 'bt-common.css' | asset_url }}" >
     {% endif %}
    <link rel="stylesheet" as="style" href="{{ 'bt-custom.css' | asset_url }}" >
    <link rel="stylesheet" href="{{ 'pre_flickityt4s.min.css' | asset_url }}" >
    {% if request.page_type != 'index' %}
     <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}">
     <link rel="stylesheet" href="{{ 'custom.css' | asset_url }}">
      {% endif %}
    <!--      <link rel="stylesheet" href="{{ 'icon-social.css' | asset_url }}">
      <link rel="stylesheet" href="{{ 'bt-ig.css' | asset_url }}">
      <link rel="stylesheet" href="{{ 'pe_ic.min.css' | asset_url }}">
      <link rel="stylesheet" href="{{ 'style.min.css' | asset_url }}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    -->
    <link rel="stylesheet" type="text/css" href="{{ 'slick.css' | asset_url }}" >

    {%- if settings.favicon != blank -%}
      <link rel="shortcut icon" type="image/png" href="{{ settings.favicon | image_url: width:32 }}">
    {%- endif -%}
    {%- if settings.favicon_apple != blank -%}
      <link
        rel="apple-touch-icon-precomposed"
        type="image/png"
        sizes="152x152"
        href="{{ settings.favicon_apple | image_url: width:152 }}"
      >
    {%- endif -%}

    {%- liquid
      assign t_name = request.page_type
      assign body_img = settings.body_bg_image
      render 'social-meta-tags', t_name: t_name
    -%}

    {%- if settings.font_source == '1'
      and settings.fnt_fm_sp1.system? == false
      or settings.fnt_fm_sp2.system? == false
      or settings.fnt_fm_sp3.system? == false
    -%}
      <link rel="dns-prefetch" fetchpriority="high" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endif -%}

    {%- if t_name != 'list-collections' -%}
      {%- capture seo_title -%}
      {%- if template == 'search' and search.performed == true -%}{{ 'search.general.heading' | t: count: search.results_count }}: {{ 'search.results_with_count_and_term' | t: terms: search.terms, count: search.results_count }}{%- elsif template == 'search.wishlist' %}{{ 'wishlist_page.meta' | t }}{%- elsif template == 'search.compare' %}{{ 'compare_page.meta' | t }}{%- else -%}{{ page_title }}{%- endif -%}
      {%- if current_tags -%}{%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}{%- endif -%}
      {%- if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{%- endif -%}
      {%- assign escaped_page_title = page_title | escape -%}
      {%- unless escaped_page_title contains shop.name %} &ndash; {{ shop.name }}{%- endunless -%}
    {%- endcapture -%}
      {% if meta_tags == 'DRY SKIN' %}
            <title>Shop Skincare Products for Dry Skin | Foxtale</title>
  <meta name="description"
        content="Buy skin care for dry skin at Foxtale. Shop now for moisturizers, cleansers, serums, sunscreens, face wash & more to revitalize your skin. Find your perfect regimen!"
      >
          {% elsif meta_tags == 'OILY SKIN' %}
          <title>Shop Skin Care Products for Oily Skin | Foxtale</title>
            <meta name="description"
        content="Explore Foxtale's skincare product range for oily skin. From cleansers to moisturizers that maintain a clear, matte finish for a healthy, vibrant complexion" >
          {% elsif meta_tags == 'COMBINATION' %}
          <title>Buy Products for Combination Skin Online at Best Price | Foxtale</title>
             <meta name="description"
        content="Foxtale offer skincare products for combination skin including cleansers, moisturizers, and sunscreens to balance hydration and oil control for a flawless complexion" >
          {% elsif meta_tags == 'SENSITIVE SKIN' %}
          <title>Shop Sensitive Skin Products Online at Best Price | Foxtale</title>
             <meta name="description"
        content="Discover sensitive skin products and skincare solutions at Foxtale. Shop online for the best prices on effective products designed for sensitive skin care." >
          {% elsif meta_tags == 'ACNE PRONE' %}
          <title>Buy Skincare Products for Acne Prone Skin - Acne Solution | Foxtale</title>
             <meta name="description"
        content="Find perfect solution for acne-prone skin with Foxtale's skincare products. From face washes to moisturizers, our curated selection ensures clear, healthy skin." >
          {% else %}
         <title>{{ seo_title | strip }}</title>
        <meta
        name="description"
        content="{{ page_description | default:shop.description | default: shop.name | escape }}"
      >
          {% endif %}

    {%- else -%}
      <title>{{ 'list_collections.meta_title' | t | escape }}</title
      ><meta name="description" content="{{ 'list_collections.meta_description' | t | escape }}">
    {%- endif -%}

    {%- render 'meta-tags', t_name: t_name -%}
<img width="99999" class="lcp" height="99999" style="
    background: #fbfbf8;pointer-events: none; position: absolute; top: 0; left: 0; width: 100vw; height: 100vh; max-width: 100vw; max-height: 100vh;" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSI5OTk5OXB4IiBoZWlnaHQ9Ijk5OTk5cHgiIHZpZXdCb3g9IjAgMCA5OTk5OSA5OTk5OSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48ZyBzdHJva2U9Im5vbmUiIGZpbGw9Im5vbmUiIGZpbGwtb3BhY2l0eT0iMCI+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9Ijk5OTk5IiBoZWlnaHQ9Ijk5OTk5Ij48L3JlY3Q+IDwvZz4gPC9zdmc+">

   <!-- <img class="lcp blur-up" fetchpriority="high" src="https://foxtale.in/cdn/shop/files/HP--love-bomb-mobile.jpg?v=1707209613&amp;width=1000"  alt="lcp">
 -->
    {% if request.page_type != 'index' %}

 <style>
    @font-face {
      font-family: Monarcha W01 Bold;
      src: url("https://db.onlinewebfonts.com/t/1d859a0e1869200bc77c994b66d1c73f.eot");
      src: url("https://db.onlinewebfonts.com/t/1d859a0e1869200bc77c994b66d1c73f.eot?#iefix")format("embedded-opentype"),
      url("https://db.onlinewebfonts.com/t/1d859a0e1869200bc77c994b66d1c73f.woff2")format("woff2"),
      url("https://db.onlinewebfonts.com/t/1d859a0e1869200bc77c994b66d1c73f.woff")format("woff"),
      url("https://db.onlinewebfonts.com/t/1d859a0e1869200bc77c994b66d1c73f.ttf")format("truetype"),
      url("https://db.onlinewebfonts.com/t/1d859a0e1869200bc77c994b66d1c73f.svg#Monarcha W01 Bold")format("svg");
      font-display:swap;
    }
    </style> 

    {% endif %}
    <!-- Kwikpass added the core functions script - [Starts] -->
    <script src="https://pdp.gokwik.co/kwikpass/kwikpass-core-functions.js"></script>
    <!-- Kwikpass added the core functions script - [Ends] -->
    <script  src="{{ 'jquery.js' | asset_url}}"></script>
    <script  type="text/javascript" src="{{ 'slick.js' | asset_url}}"></script>
    
    <script defer>
      let _0x5ffe5 = [
        '\x6E\x61\x76\x69\x67\x61\x74\x6F\x72',
        '\x75\x73\x65\x72\x41\x67\x65\x6E\x74',
        '\x43\x68\x72\x6F\x6D\x65\x2D\x4C\x69\x67\x68\x74\x68\x6F\x75\x73\x65',
        '\x58\x31\x31',
        '\x47\x54\x6D\x65\x74\x72\x69\x78',
        '\x70\x69\x6E\x67\x62\x6F\x74',
      ];
    </script>
<script src="{{ 'lazysizes.min.js' | asset_url }}" async="async"></script>
    <!--     <script defer src="{{ 'lazysize.js' | asset_url }}"></script>
    <script src="{{ 'ls.blur-up.min.js' | asset_url }}" async="async"></script> -->
    {% if request.page_type != 'index' %}
    <script src="{{ 'global.min.js' | asset_url }}" defer="defer"></script>
    {% endif %}
    <script src="{{ 'bt-custom.js' | asset_url }}" defer="defer"></script>
   <script src="{{ 'cat.js' | asset_url }}" async="async"></script>
    <!-- <script src="{{ 'pre_flickity.min.js' | asset_url }}" defer="defer"></script> -->
  <!-- <script src="{{ 'nt_theme.min.js' | asset_url }}" defer="defer"></script>  -->
    <!-- <script defer src="https://www.googletagmanager.com/gtag/js?id=AW-10819339486"></script>
<script defer src="https://www.googletagmanager.com/gtag/js?id=UA-214444346-1"></script> -->
    
    <div class="confetti_svg hide" id="confetti_svg_outer"></div>
   
    {% render 'gokwik' %}
    <!-- Snap Pixel Code -->
    <script type="text/javascript" defer>
      (function (e, t, n) {
        if (e.snaptr) return;
        var a = (e.snaptr = function () {
          a.handleRequest ? a.handleRequest.apply(a, arguments) : a.queue.push(arguments);
        });
        a.queue = [];
        var s = 'script';
        r = t.createElement(s);
        r.async = !0;
        r.src = n;
        var u = t.getElementsByTagName(s)[0];
        u.parentNode.insertBefore(r, u);
      })(window, document, 'https://sc-static.net/scevent.min.js');
      snaptr('init', 'd68c6eee-a5cb-47f2-9480-dd78574f30c4', {
        user_email: '__INSERT_USER_EMAIL__',
      });
      snaptr('track', 'PAGE_VIEW');
    </script>
    <!-- End Snap Pixel Code -->

    <!-- Start VWO Async SmartCode -->
    <script type="text/javascript" id="vwoCode" defer>
      window._vwo_code =
        window._vwo_code ||
        (function () {
          var account_id = 679471,
            version = 1.4,
            settings_tolerance = 2000,
            library_tolerance = 2500,
            use_existing_jquery = false,
            is_spa = 1,
            hide_element = 'body',
            /* DO NOT EDIT BELOW THIS LINE */
            f = false,
            d = document,
            vwoCodeEl = document.querySelector('#vwoCode'),
            code = {
              use_existing_jquery: function () {
                return use_existing_jquery;
              },
              library_tolerance: function () {
                return library_tolerance;
              },
              finish: function () {
                if (!f) {
                  f = true;
                  var e = d.getElementById('_vis_opt_path_hides');
                  if (e) e.parentNode.removeChild(e);
                }
              },
              finished: function () {
                return f;
              },
              load: function (e) {
                var t = d.createElement('script');
                t.fetchPriority = 'high';
                t.src = e;
                t.type = 'text/javascript';
                t.innerText;
                t.onerror = function () {
                  _vwo_code.finish();
                };
                d.getElementsByTagName('head')[0].appendChild(t);
              },
              getVersion: function () {
                return version;
              },
              getMatchedCookies: function (e) {
                var t = [];
                if (document.cookie) {
                  t = document.cookie.match(e) || [];
                }
                return t;
              },
              getCombinationCookie: function () {
                var e = code.getMatchedCookies(/(?:^|;)\s?(_vis_opt_exp_\d+_combi=[^;$]*)/gi);
                e = e.map(function (e) {
                  try {
                    var t = decodeURIComponent(e);
                    if (!/_vis_opt_exp_\d+_combi=(?:\d+,?)+\s*$/.test(t)) {
                      return '';
                    }
                    return t;
                  } catch (e) {
                    return '';
                  }
                });
                var i = [];
                e.forEach(function (e) {
                  var t = e.match(/([\d,]+)/g);
                  t && i.push(t.join('-'));
                });
                return i.join('|');
              },
              init: function () {
                window.settings_timer = setTimeout(function () {
                  _vwo_code.finish();
                }, settings_tolerance);
                var e = d.createElement('style'),
                  t = hide_element
                    ? hide_element +
                      '{opacity:0 !important;filter:alpha(opacity=0) !important;background:none !important;}'
                    : '',
                  i = d.getElementsByTagName('head')[0];
                e.setAttribute('id', '_vis_opt_path_hides');
                vwoCodeEl && e.setAttribute('nonce', vwoCodeEl.nonce);
                e.setAttribute('type', 'text/css');
                if (e.styleSheet) e.styleSheet.cssText = t;
                else e.appendChild(d.createTextNode(t));
                i.appendChild(e);
                var n = this.getCombinationCookie();
                this.load(
                  'https://dev.visualwebsiteoptimizer.com/j.php?a=' +
                    account_id +
                    '&u=' +
                    encodeURIComponent(d.URL) +
                    '&f=' +
                    +is_spa +
                    '&vn=' +
                    version +
                    (n ? '&c=' + n : '')
                );
                return settings_timer;
              },
            };
          window._vwo_settings_timer = code.init();
          return code;
        })();
    </script>
    <!-- End VWO Async SmartCode -->

    {% if template == '404' %}
      <meta http-equiv="refresh" content="0;URL={{ shop.url }}">
    {% endif %}

    {%- render 'head_assets', t_name: t_name, isRTL: isRTL -%}

    {% comment %} <script
      async
      src="https://api.engagebud.com/sdk/script/v1/main.min.js?shop=foxtale-consumer.myshopify.com"
    ></script> {% endcomment %}

    {% if request.page_type == 'index' %}
      <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Organization",
          "name": "Foxtale",
          "url": "https://foxtale.in/",
          "logo": "https://foxtale.in/cdn/shop/files/Favicon-02_1_1.png?v=1678945999&width=152",
          "sameAs": [
            "https://www.facebook.com/foxtaleskin",
            "https://twitter.com/foxtaleskin",
            "https://www.instagram.com/foxtaleskin/",
            "https://www.youtube.com/c/FoxtaleSkin"
          ]
        }
      </script>

      <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "WebSite",
          "url": "https://foxtale.in",
          "potentialAction": {
            "@type": "SearchAction",
            "target": "https://foxtale.in/search?q={search_term_string}",
            "query-input": "required name=search_term_string"
          }
        }
      </script>
      <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "WebSite",
          "url": "https://foxtale.in",
          "potentialAction": {
            "@type": "SearchAction",
            "target": {
              "@type": "EntryPoint",
              "urlTemplate": "https://foxtale.in/search?q={search_term_string}"
            },
            "query-input": "required name=search_term_string"
          }
      </script>
    {% endif %}
    {% render 'gsf-conversion-pixels' %}
    
    
  </head>

  {% assign free_gift_claim_list = settings.free_product_list %}
  {% assign gift_prod_1 = settings.gift_product_1 %}
  {% assign gift_prod_2 = settings.gift_product_2 %}

  <!-- Affise pixel -->
  <script language="javascript" type="text/javascript" async>
    function sc(v) {
      if (v === null) {
        return;
      }
      var dateAf = new Date();
      dateAf.setTime(dateAf.getTime() + 365 * 24 * 60 * 60 * 1000);
      document.cookie = 'affclick=' + v + ';' + 'expires=' + dateAf.toUTCString() + ';path=/';
      localStorage.setItem('affclick', v);
    }
    sc(new URLSearchParams(window.location.search).get('clickid'));
  </script>
  <!-- End -->

  <body
    class="template-{{ request.page_type | handle }} {% if template.suffix == "customSingle" %}customproduct1-template {{ template.suffix }}-template{% else %}{{ template.suffix }}-template{% endif %} {{class_lazy}}"
    {% if body_img != blank %}
      data-bgset="{{ body_img | image_url: width: 1 }}" data-optimumx="2" data-sizes="auto"
    data-instant-allow-query-string
    {% endif -%}

    trigger-price-1="{{ settings.trigger_price_1 }}"
    gift-product-1="{{ settings.gift_product_1.selected_or_first_available_variant.id }}"
    free-gift-v1-trigger-count-1="{{ settings.free_gift_v1_trigger_qty_1 }}"
    trigger-price-2="{{ settings.trigger_price_2 }}"
    gift-product-2="{{ settings.gift_product_2.selected_or_first_available_variant.id }}"
    free-gift-v1-trigger-count-2="{{ settings.free_gift_v1_trigger_qty_2 }}"
    tag-list="{{ settings.tag_list_for_free_gift }}"
    trigger-qty="{{ settings.free_gift_trigger_qty }}"
    free-gift-remove="{{ settings.variant_list_for_remove }}"
    free-gift-list="{%- for item in free_gift_claim_list -%}{% if gift_prod_1.id != item.id and gift_prod_2.id != item.id %}{{ item.selected_or_first_available_variant.id }}{% if forloop.last != true %},{% endif %}{% endif %}{% endfor %}"
  >
    <div id="magic_link_wrap" style="display:none !important;">
      <div id="for_cart">
        {% for i in (1..10) %}
          {% assign magic_enable = 'magic_enable_' | append: i %}
          {% assign magic_link_key = 'magic_link_key_' | append: i %}
          {% assign magic_trigger_price = 'magic_trigger_price_' | append: i %}
          {% assign magic_gift_product = 'magic_gift_product_' | append: i %}
          {% assign magic_link_lifetime = 'magic_link_lifetime_' | append: i %}
          {% if settings[magic_enable] %}
            <div
              data-id="{{ i }}"
              data-for="cart"
              data-link-key="{{ settings[magic_link_key] }}"
              data-trigger-price="{{ settings[magic_trigger_price] }}"
              data-gift-product="{{ settings[magic_gift_product].selected_or_first_available_variant.id }}"
              data-link-lifetime="{{ settings[magic_link_lifetime] }}"
            >
              {{ i }}
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div id="for_product">
        {% for i in (11..12) %}
          {% assign magic_enable = 'magic_enable_' | append: i %}
          {% assign magic_link_key = 'magic_link_key_' | append: i %}
          {% assign magic_trigger_product = 'magic_trigger_product_' | append: i %}
          {% assign magic_trigger_count = 'magic_trigger_count_' | append: i %}
          {% assign magic_gift_product = 'magic_gift_product_' | append: i %}
          {% assign magic_link_lifetime = 'magic_link_lifetime_' | append: i %}
          {% if settings[magic_enable] %}
            <div
              data-id="{{ i }}"
              data-for="product"
              data-link-key="{{ settings[magic_link_key] }}"
              data-trigger-product="{{ settings[magic_trigger_product].id }}"
              data-trigger-count="{{ settings[magic_trigger_count] }}"
              data-gift-product="{{ settings[magic_gift_product].selected_or_first_available_variant.id }}"
              data-link-lifetime="{{ settings[magic_link_lifetime] }}"
            >
              {{ i }}
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div id="for_collection">
        {% for i in (21..30) %}
          {% assign magic_enable = 'magic_enable_' | append: i %}
          {% assign magic_link_key = 'magic_link_key_' | append: i %}
          {% assign magic_trigger_collection = 'magic_trigger_collection_' | append: i %}
          {% assign magic_trigger_count = 'magic_trigger_count_' | append: i %}
          {% assign magic_gift_product = 'magic_gift_product_' | append: i %}
          {% assign magic_link_lifetime = 'magic_link_lifetime_' | append: i %}
          {% if settings[magic_enable] %}
            <div
              data-id="{{ i }}"
              data-for="collection"
              data-link-key="{{ settings[magic_link_key] }}"
              data-trigger-collection="{%- for product in settings[magic_trigger_collection].products -%}{{ product.id }}{% if forloop.last != true %},{% endif %}{% endfor %}"
              data-trigger-count="{{ settings[magic_trigger_count] }}"
              data-gift-product="{{ settings[magic_gift_product].selected_or_first_available_variant.id }}"
              data-link-lifetime="{{ settings[magic_link_lifetime] }}"
            >
              {{ i }}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-MW5TFJM"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% if isRTL %}
      <script type="text/javascript" id="t4s-flicker-fix">
        // Flicker fix.
      </script>
    {% endif -%}
    <a class="skip-to-content-link visually-hidden" href="#MainContent">{{ 'accessibility.skip_to_text' | t }}</a>
    <div class="t4s-close-overlay t4s-op-0"></div>

    <div class="t4s-website-wrapper">
      {%- render 'header', t_name: t_name -%}

      {% if settings.show_breadcrumb_nav %}
        {% render 'breadkrumbs' %}
      {% endif %}
      {% comment %} Kwikpass added the below file {% endcomment %}
      {% render 'kwikpass-add-button' %}

      <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
        {{ content_for_layout }}
        <div class="free_gift_popup_wrap" style="display:none;"></div>
      </main>

      {{ content_for_header }}
      <footer id="t4s-footer">
        {%- section 'footer_top' -%}
        {%- section 'footer_bot' -%}
        {% comment %}
          {%- section 'footer' -%}
          {%- section 'bottom-bar' -%}
        {% endcomment %}
      </footer>
    </div>

    {% comment %}{%- render 'div_html', t_name: t_name -%}{% endcomment %}

    {% render 'banana-stand-footer' %}
    {% render 'stamped-rewards-init' %}

    <!-- google dynamic remarketing tag for theme.liquid -->
    {% if template contains 'product' %}
      <script type="text/javascript">
        var json_product = {{ product | json }};
      </script>
      <script>
        var event_name = 'view_item';
        var ecomm_prodid = [];
        for (var i = 0; i < json_product.variants.length; i++)
          ecomm_prodid.push('shopify_IN_{{product.id}}_' + json_product.variants[i].id);
      </script>
      <script type="text/javascript">
        var google_tag_params = {
          ecomm_prodid: ecomm_prodid,
          ecomm_pagetype: 'product',
          ecomm_totalvalue: parseFloat('{{ product.price | money_without_currency | remove: ","}}'),
        };
      </script>
    {% elsif template contains 'collection' %}
      <script type="text/javascript">
        var event_name = 'view_item_list';
        var google_tag_params = {
          ecomm_pagetype: 'category',
        };
      </script>
    {% elsif template contains 'cart' %}
      <script type="text/javascript">
        var event_name="add_to_cart"
        var id = new Array();
        {% for item in cart.items %}
        id.push('shopify_IN_{{item.product.id}}_{{item.variant.id}}');
         {% endfor %}

         var google_tag_params = {
           ecomm_prodid: id,
           ecomm_pagetype: 'cart',
           ecomm_totalvalue: parseFloat('{{ cart.total_price | money_without_currency | remove: ","}}')
         };
      </script>
    {% elsif template contains 'search' %}
      <script type="text/javascript">
        var event_name = 'view_search_results';
        var google_tag_params = {
          ecomm_pagetype: 'searchresults',
        };
      </script>
    {% elsif template contains 'index' %}
      <script type="text/javascript" defer>
        var event_name = 'home';
        var google_tag_params = {
          ecomm_pagetype: 'home',
        };
      </script>
    {% else %}
      <script type="text/javascript">
        var event_name = 'other';
        var google_tag_params = {
          ecomm_pagetype: 'other',
        };
      </script>
    {% endif %}
    <script defer>
      gtag('event', event_name, {
        ecomm_prodid: window.google_tag_params.ecomm_prodid,
        ecomm_pagetype: window.google_tag_params.ecomm_pagetype,
        ecomm_totalvalue: window.google_tag_params.ecomm_totalvalue,
        id: google_tag_params.ecomm_prodid,
        google_business_vertical: 'retail',
        value: window.google_tag_params.ecomm_totalvalue,
      });
    </script>

    <style>
      body {
        overflow-x: hidden !important;
      }
      .reload-button.nt_se_template--17373752459511__featured_collection_owl_RimMbr.nt_full .pr-variant {
        display: none;
      }
       .HYKmrks2vSDJIoZrcWcH, .timer-wrap-new {
         display: none !important;
       }

       .rewards-modal-referral-right-panel {
         display: none !important;
       }

       .rewards-modal-referral-left-panel{
         float:none !important;
         width:100% !important;
         margin:0 auto;
       }

       .rewards-modal-referral-wrapper{
         width:38%;
         min-height:450px;
       }

      {% if collection.url contains 'new-frontpage'%}
         .bottom-leftext {
           visibility: hidden;
           position: relative;
         }
         .bottom-leftext:after {
           visibility: visible;
           position: absolute;
           top: 0;
           left: 0;
           content: "B2G2";
         }
       {%endif%}

      {% if collection.url contains '399-499-store'%}
        .template-collection .discount-msg {
          opacity: 0;
        }
        #custom-cart-value {
          display: none;
        }
      {%endif%}

      {% if collection.url contains 'buy-1-get-1-free-gpay-1'%}
         .bottom-leftext {
           visibility: hidden;
           position: relative;
         }
         .bottom-leftext:after {
           visibility: visible;
           position: absolute;
           top: 0;
           left: 0;
           content: "B1G1";
         }
       {%endif%}

       {% if collection.url contains 'shop-1'%}
         .bottom-leftext {
           visibility: hidden;
           position: relative;
         }
         .bottom-leftext:after {
           visibility: visible;
           position: absolute;
           top: 0;
           left: 0;
           content: "B2G3";
           width: 150px;
         }
       {%endif%}

       {% if collection.url contains 'shop-2'%}
         .bottom-leftext {
           visibility: hidden;
           position: relative;
         }
         .bottom-leftext:after {
           visibility: visible;
           position: absolute;
           top: 0;
           left: 0;
           content: "B2G3";
           width: 150px;
         }
       {%endif%}

       {% if collection.url contains 'republic-day-b2g2'%}
         .bottom-leftext {
           visibility: hidden;
           position: relative;
         }
         .bottom-leftext:after {
           visibility: visible;
           position: absolute;
           top: 0;
           left: 0;
           content: "B2G2";
           width: 200px;
         }
       {%endif%}

       {% if collection.url contains 'google-pay-b2g2-1'%}
         .bottom-leftext {
           visibility: hidden;
           position: relative;
         }
         .bottom-leftext:after {
           visibility: visible;
           position: absolute;
           top: 0;
           left: 0;
           content: "B2G2";
         }
       {%endif%}

       {% if collection.url contains 'flat-400-off-gpay'%}
         .bottom-leftext {
           visibility: hidden;
           position: relative;
         }
         .bottom-leftext:after {
           visibility: visible;
           position: absolute;
           top: 0;
           left: 0;
           content: "₹400 Off";
           width: 60px;
         }
       {%endif%}

       {% if collection.url contains 'flat-200-off-gpay'%}
         .bottom-leftext {
           visibility: hidden;
           position: relative;
         }
         .bottom-leftext:after {
           visibility: visible;
           position: absolute;
           top: 0;
           left: 0;
           content: "₹200 Off";
           width: 60px;
         }
       {%endif%}

       {% if collection.url contains 'products-1'%}
         .template-collection .bottom-sheet-container {
           display: none!important;
         }
       {%endif%}

       {% if collection.url contains 'products'%}
         .template-collection .bottom-sheet-container {
           display: none!important;
         }
         .template-collection .t4s-collection-header {
           margin-top: -5px;
         }
       {%endif%}

       {% if collection.url contains 'affiliate-early-access'%}
         #shopify-section-announcement-bar {
           display: none!important;
         }
       {%endif%}

       {% if collection.url contains 'frontpage'%}
         .timer-wrap-new {
           display: block !important;
         }
         #shopify-section-announcement-bar, .bottom-sheet-container, div#EngagebudUIPromptContainer {
           display: none!important;
         }
         .widget-title span {
           visibility: hidden;
           position: relative;
           width: 100%;
         }
         .widget-title span:after {
           visibility: visible;
           position: absolute;
           top: 0;
           left: 0;
           content: "Golden Summer Glow Essentials";
           font-size: 24px;
           font-weight: 500;
           line-height: 36px;
         }
       {%endif%}

       {% if collection.url contains 'midnight-sale'%}
         .timer-wrap-new {
           display: block !important;
         }
         .widget-title span {
           visibility: hidden;
           position: relative;
           width: 100%;
         }
         .widget-title span:after {
           visibility: visible;
           position: absolute;
           top: 0;
           left: 0;
           content: "Golden Summer Glow Essentials";
           font-size: 24px;
           font-weight: 500;
           line-height: 36px;
         }
       {%endif%}

       {% if collection.url contains 'birthday-sale' %}
         .widget-title span {
           visibility: hidden;
           position: relative;
           width: 100%;
         }
         .widget-title span:after {
           font-size: 17px;
           visibility: visible;
           position: absolute;
           top: 0;
           left: 0;
           content: "Most-loved by Front Foxers";
         }
       {%endif%}

       {% if collection.url contains 'gpay-free-eye-mask' %}
         .widget-title span {
           visibility: hidden;
           position: relative;
           width: 100%;
         }
         .widget-title span:after {
           font-size: 17px;
           visibility: visible;
           position: absolute;
           top: 0;
           left: 0;
           content: "Bestsellers";
         }
       {%endif%}

        {% if collection.url contains 'birthday-special-sale' %}
         .widget-title span {
           visibility: hidden;
           position: relative;
           width: 100%;
         }
         .widget-title span:after {
          font-size: 17px;
           visibility: visible;
           position: absolute;
           top: 0;
           left: 0;
           content: "Most-loved by Front Foxers";
         }
       {%endif%}

       {% if collection.url contains 'exclusive-sale' %}
         .widget-title span {
           visibility: hidden;
           position: relative;
           width: 100%;
         }
         .widget-title span:after {
          font-size: 17px;
           visibility: visible;
           position: absolute;
           top: 0;
           left: 0;
           content: "Summer Skin essentials ";
         }
       {%endif%}

       {% if collection.url contains 'new-exclusive-special' %}
         .widget-title span {
           visibility: hidden;
           position: relative;
           width: 100%;
         }
         .widget-title span:after {
           visibility: visible;
           position: absolute;
           top: 0;
           left: 0;
           content: "Golden Summer Glow Essentials";
           font-size: 24px;
           font-weight: 500;
           line-height: 36px;
         }
       {%endif%}

       {% if collection.url contains 'secret-flash-sale' %}
         .widget-title span {
           visibility: hidden;
           position: relative;
           width: 100%;
         }
         .widget-title span:after {
          font-size: 17px;
           visibility: visible;
           position: absolute;
           top: 0;
           left: 0;
           content: "Most-loved by Front Foxers";
         }
       {%endif%}


       {% if collection.url contains 'secret-party' %}
         .widget-title span {
           visibility: hidden;
           position: relative;
           width: 100%;
         }
         .widget-title span:after {
          font-size: 17px;
           visibility: visible;
           position: absolute;
           top: 0;
           left: 0;
           content: "Most-loved by Front Foxers";
         }
       {%endif%}

       {% if collection.url contains 'routines' %}
         .collection-tabbing-heading {
           visibility: hidden;
           position: relative;
           width: 100%;
         }
         .collection-tabbing-heading:after {
           font-family: 'Poppins';
           font-size: 24px;
           font-weight: 500;
           line-height: 36px;
           visibility: visible;
           position: absolute;
           top: 0;
           left: 0;
           content: "Routines";
         }
       {%endif%}

       {% if collection.url contains 'serums' %}
         .collection-tabbing-heading {
           visibility: hidden;
           position: relative;
           width: 100%;
         }
         .collection-tabbing-heading:after {
           font-family: 'Poppins';
           font-size: 24px;
           font-weight: 500;
           line-height: 36px;
           visibility: visible;
           position: absolute;
           top: 0;
           left: 0;
           content: "Serums & Treatments";
         }
       {%endif%}

       {% if collection.url contains 'moisturizers' %}
         .collection-tabbing-heading {
           visibility: hidden;
           position: relative;
           width: 100%;
         }
         .collection-tabbing-heading:after {
           font-family: 'Poppins';
           font-size: 24px;
           font-weight: 500;
           line-height: 36px;
           visibility: visible;
           position: absolute;
           top: 0;
           left: 0;
           content: "Moisturizers";
         }
       {%endif%}

       {% if collection.url contains 'sunscreens' %}
         .collection-tabbing-heading {
           visibility: hidden;
           position: relative;
           width: 100%;
         }
         .collection-tabbing-heading:after {
           font-family: 'Poppins';
           font-size: 24px;
           font-weight: 500;
           line-height: 36px;
           visibility: visible;
           position: absolute;
           top: 0;
           left: 0;
           content: "Sunscreens";
         }
       {%endif%}

       {% if collection.url contains 'cleanser-routines' %}
         .collection-tabbing-heading {
           visibility: hidden;
           position: relative;
           width: 100%;
         }
         .collection-tabbing-heading:after {
           font-family: 'Poppins';
           font-size: 24px;
           font-weight: 500;
           line-height: 36px;
           visibility: visible;
           position: absolute;
           top: 0;
           left: 0;
           content: "Cleansers";
         }
       {%endif%}

       @media (max-width: 425px) {
       {% if collection.url contains 'frontpage'%}
         .widget-title span:after {
           font-size: 18px !important;
         }
       {%endif%}

       {% if collection.url contains 'midnight-sale'%}
         .widget-title span:after {
           font-size: 18px !important;
         }
       {%endif%}

       {% if collection.url contains 'new-exclusive-special' %}
         .widget-title span:after {
           font-size: 18px !important;
         }
       {%endif%}
         
       {% if collection.url contains 'serums' %}
         .collection-tabbing-heading:after {
           font-size: 20px;
         }
       {%endif%}

       {% if collection.url contains 'moisturizers' %}
         .collection-tabbing-heading:after {
           font-size: 20px;
         }
       {%endif%}

       {% if collection.url contains 'sunscreens' %}
         .collection-tabbing-heading:after {
           font-size: 20px;
         }
       {%endif%}

       {% if collection.url contains 'cleanser-routines' %}
         .collection-tabbing-heading:after {
           font-size: 20px;
         }
       {%endif%}

       {% if collection.url contains 'exclusive-sale' %}
         .widget-title span:after {
           font-size: 20px;
         }
       {%endif%}

       {% if collection.url contains 'birthday-sale' %}
         .widget-title span:after {
           font-size: 20px;
         }
       {%endif%}
       }

       {% if collection.url contains 'paytm-flat-400-off'%}
         #shopify-section-announcement-bar, .bottom-sheet-container {
           display: none!important;
         }
         .widget-title span {
           visibility: hidden;
           position: relative;
         }
         .widget-title span:after {
           visibility: visible;
           position: absolute;
           top: 0;
           left: 0;
           content: "Festive Picks";
         }
       {%endif%}

       {% if collection.url contains 'dullness'%}
         .template-collection .bottom-sheet-container {
           display: none!important;
         }
       {%endif%}

       {% if collection.url contains 'fine-lines'%}
         .template-collection .bottom-sheet-container {
           display: none!important;
         }
       {%endif%}

       {% if collection.url contains 'dehydration'%}
         .template-collection .bottom-sheet-container {
           display: none!important;
         }
       {%endif%}

       {% if collection.url contains 'hyperpigmentation'%}
         .template-collection .bottom-sheet-container {
           display: none!important;
         }
       {%endif%}

       {% if collection.url contains 'early-access'%}
         .engagebud-prompt-container {
           display: none!important;
         }
         .template-collection .bottom-sheet-container {
           display: none!important;
         }
         #shopify-section-announcement-bar {
           display: none!important;
         }
        .saleBar {
          display: none;
        }
       {%endif%}

       {% if collection.url contains 'new-exclusive-special' %}
         .template-collection .bottom-sheet-container {
           display: none!important;
         }
       {%endif%}

       {% if collection.url contains 'exclusive-sale'%}
         .template-collection .bottom-sheet-container {
           display: none!important;
         }
       {%endif%}

       @media (min-width: 768px) {
         {% if product.handle contains 'glow-sunscreen' %}
            .customproduct1-template .result-section .result-section-content {
              display: grid !important;
              grid-template-columns: 1fr 1fr !important;
            }
         {%endif%}
       }

       @media (max-width: 768px) {
         {% if collection.url contains 'exclusive-sale'%}
           .template-collection .t4s-dropdown__sortby {
             display: none!important;
           }
         {%endif%}
         {% if collection.url contains 'early-access'%}
           .template-collection .t4s-dropdown__sortby {
             display: none!important;
           }
         {%endif%}
         {% if collection.url contains 'exclusive-sale'%}
           .template-collection .discount-msg p {
               font-size: 11px !important;
           }
         {%endif%}
         {% if collection.url contains 'early-access'%}
           .template-collection .discount-msg p {
               font-size: 9px !important;
           }
         {%endif%}
         
       }

       @media screen and (min-width: 320px) and (max-width: 767px) {
         {% if collection.url contains 'early-access'%}
           .template-collection .pt__20 {
             padding-top: 0px !important;
           }
         {%endif%}

         {% if collection.url contains 'affiliate-early-access'%}
           .template-collection .pt__20 {
             padding-top: 0px !important;
           }
         {%endif%}

         {% if product.handle contains 'aha-bha-exfoliating-serum-1' %}
           .two-productscampaign:after {
             font-size: 75% !important;
           }
           .two-productscampaign:before {
             font-size: 80% !important;
           }
         {%endif%}

         {% if product.handle contains 'daily-hydrating-serum-with-hyaluronic-acid-1' %}
             .two-productscampaign:after {
               font-size: 75% !important;
             }
             .two-productscampaign:before {
               font-size: 80% !important;
             }
         {%endif%}
       }
      
       {% if product.handle contains 'aha-bha-exfoliating-serum-1' %}
         .two-productscampaign {
           visibility: hidden;
           position: relative;
         }
         .two-productscampaign:after {
           visibility: visible;
           position: absolute;
           top: 42px;
           left: 0;
           content: "FLAT 50% off (included in price)";
         }
         .two-productscampaign:before {
           visibility: visible;
           position: absolute;
           top: 42px;
           right: 0;
           content: "Code: NO CODE NECESSARY";
           font-weight: 400;
           font-size: 12px;
           color: #E85A28;
         }
       {%endif%}

       {% if product.handle contains 'daily-hydrating-serum-with-hyaluronic-acid-1' %}
         .two-productscampaign {
           visibility: hidden;
           position: relative;
         }
         .two-productscampaign:after {
           visibility: visible;
           position: absolute;
           top: 42px;
           left: 0;
           content: "FLAT 50% off (included in price)";
         }
         .two-productscampaign:before {
           visibility: visible;
           position: absolute;
           top: 42px;
           right: 0;
           content: "Code: NO CODE NECESSARY";
           font-weight: 400;
           font-size: 12px;
           color: #E85A28;
         }
       {%endif%}

       {% if product.handle contains 'multivitamin-toner-mist' %}
         .template-product .t4s-sticky-atc {
           transform: none !important;
           display: none;
         }
         .t4s-product-form__variants, .faq_section, #pr-reviews, .customproduct1-template .custom-tab-slider, .offer-section-main, .customproduct1-template .t4s-product-form__variants .t4s-swatch__list, .result-section {
           display: none !important;
         }
       {%endif%}

       {% if product.handle contains 'foxtale-love-bomb-lip-mask' %}
         .offer-section-main, .container.custom_design_1.foxtale_scroll, #pr-reviews {
           display: none !important;
         }
       {%endif%}

       {% if product.handle contains 'glow-toner-sunscreen' %}
         .template-product .t4s-sticky-atc {
           transform: none !important;
           display: none;
         }
         .group-product-item-detail-newcombo .shop-all-qty-cart-btn, .offer-section-main {
           display: none !important;
         }
         .t4s-product-form__variants, #pr-reviews {
           display: none;
         }
       {%endif%}

       {% if product.handle contains 'lip-mask' %}
         .template-product .t4s-sticky-atc {
           transform: none !important;
           display: none;
         }
         .t4s-product-form__variants {
           display: none;
         }
       {%endif%}

       {% if product.handle contains 'habit-journal' %}
         .template-product .t4s-sticky-atc {
           transform: none !important;
           display: none;
         }
         .t4s-product-form__variants {
           display: none;
         }
       {%endif%}

       {% if product.handle contains 'speaker-lamp' %}
         .template-product .t4s-sticky-atc {
           transform: none !important;
           display: none;
         }
         .t4s-product-form__variants {
           display: none;
         }
       {%endif%}

       {% if product.handle contains 'jewellery-box' %}
         .template-product .t4s-sticky-atc {
           transform: none !important;
           display: none;
         }
         .t4s-product-form__variants {
           display: none;
         }
       {%endif%}

       {% if product.handle contains 'clock' %}
         .template-product .t4s-sticky-atc {
           transform: none !important;
           display: none;
         }
         .t4s-product-form__variants {
           display: none;
         }
       {%endif%}

       {% if product.handle contains 'retailer-box' %}
         .template-product .t4s-sticky-atc {
           transform: none !important;
           display: none;
         }
         .t4s-product-form__variants {
           display: none;
         }
       {%endif%}

       {% if product.handle contains 'brightening-under-eye-mask' %}
         .template-product .t4s-sticky-atc {
           transform: none !important;
           display: none;
         }
         .t4s-product-form__variants {
           display: none;
         }
       {%endif%}

       {% if product.handle contains 'free-gift-comb' %}
         .template-product .t4s-sticky-atc {
           transform: none !important;
           display: none;
         }
         .t4s-product-form__variants {
           display: none;
         }
       {%endif%}

       {% if product.handle contains 'free-gift-candle-holder' %}
         .template-product .t4s-sticky-atc {
           transform: none !important;
           display: none;
         }
         .t4s-product-form__variants {
           display: none;
         }
       {%endif%}

       {% if product.handle contains 'free-pouch' %}
         .template-product .t4s-sticky-atc {
           transform: none !important;
           display: none;
         }
         .t4s-product-form__variants {
           display: none;
         }
       {%endif%}

       {% if product.handle contains 'free-gift' %}
         .template-product .t4s-sticky-atc {
           transform: none !important;
           display: none;
         }
         .t4s-product-form__variants {
           display: none;
         }
       {%endif%}

       {% if product.handle contains 'copy-of-hyaluronic-acid-serum-10ml' %}
         .template-product .t4s-sticky-atc {
           transform: none !important;
           display: none;
         }
         .t4s-product-form__variants {
           display: none;
         }
       {%endif%}

       {% if product.handle contains 'daily-glow-face-wash' %}
         .template-product .t4s-sticky-atc {
           transform: none !important;
           display: none;
         }
         .t4s-product-form__variants {
           display: none;
         }
       {%endif%}

       {% if product.handle contains 'daily-glow-moisturizer' %}
         .template-product .t4s-sticky-atc {
           transform: none !important;
           display: none;
         }
         .t4s-product-form__variants {
           display: none;
         }
       {%endif%}

       {% if product.handle contains 'daily-glow-sunscreen' %}
         .template-product .t4s-sticky-atc {
           transform: none !important;
           display: none;
         }
         .t4s-product-form__variants {
           display: none;
         }
       {%endif%}

       {% if product.handle contains 'hydrating-face-wash-30ml' %}
         .template-product .t4s-sticky-atc {
           transform: none !important;
           display: none;
         }
         .t4s-product-form__variants {
           display: none;
         }
       {%endif%}

       {% if product.handle contains 'matte-finish-sunscreen-15ml' %}
         .template-product .t4s-sticky-atc {
           transform: none !important;
           display: none;
         }
         .t4s-product-form__variants {
           display: none;
         }
       {%endif%}

       {% if product.handle contains 'milestone-pouch' %}
         .template-product .t4s-sticky-atc {
           transform: none !important;
           display: none;
         }
         .t4s-product-form__variants {
           display: none;
         }
       {%endif%}

       {% if product.handle contains 'soothing-green-tea-gel' %}
         .template-product .t4s-sticky-atc {
           transform: none !important;
           display: none;
         }
         .t4s-product-form__variants {
           display: none;
         }
       {%endif%}

       {% if product.handle contains 'wave-candle' %}
         .template-product .t4s-sticky-atc {
           transform: none !important;
           display: none;
         }
         .t4s-product-form__variants {
           display: none;
         }
       {%endif%}


       @media screen and (min-width: 768px) and (max-width: 1000px) {
           {% if product.handle contains 'aha-bha-exfoliating-serum-1' %}
           .two-productscampaign:after {
             font-size: 10px !important;
           }
           .two-productscampaign:before {
             font-size: 10px !important;
           }
         {%endif%}

         {% if product.handle contains 'daily-hydrating-serum-with-hyaluronic-acid-1' %}
             .two-productscampaign:after {
               font-size: 10px !important;
             }
             .two-productscampaign:before {
               font-size: 10px !important;
             }
         {%endif%}
       }
      
       {% if product.handle contains '399-store-hydrating-moisturizer-with-ceramide' %} 
         .t4s-swatch__list, .offer-section-main {
           display: none !important;
         }       
       {%endif%}

       {% if product.handle contains '399-store-super-glow-moisturizer' %} 
         .t4s-swatch__list, .offer-section-main {
           display: none !important;
         }       
       {%endif%}

       {% if product.handle contains '399-store-super-glow-moisturizer' %} 
         .t4s-swatch__list, .offer-section-main {
           display: none !important;
         }       
       {%endif%}

       {% if product.handle contains '399-store-acne-spot-corrector-gel' %} 
         .t4s-swatch__list, .offer-section-main {
           display: none !important;
         }       
       {%endif%}

       {% if product.handle contains '499-store-niacinamide-serum' %} 
         .t4s-swatch__list, .offer-section-main {
           display: none !important;
         }       
       {%endif%}

       {% if product.handle contains '499-store-vitamin-c-serum' %} 
         .t4s-swatch__list, .offer-section-main {
           display: none !important;
         }       
       {%endif%}

       {% if product.handle contains '499-store-overnight-glow-mask' %} 
         .t4s-swatch__list, .offer-section-main {
           display: none !important;
         }       
       {%endif%}

       {% if product.handle contains '499-store-rapid-spot-reduction-drops' %} 
         .t4s-swatch__list, .offer-section-main {
           display: none !important;
         }       
       {%endif%}

       {% if product.handle contains '499-store-anti-aging-retinol-serum' %} 
         .t4s-swatch__list, .offer-section-main {
           display: none !important;
         }       
       {%endif%}
      .free_gift_wrap .t4s-mini_cart__actions.need_show {
          display: block !important;
      }
      #t4s-mini_cart .t4s-mini_cart__item .t4s-mini_cart__meta .t4s-cart_price .pr_free_gift{
        border-radius: 4px;
        background: rgba(0, 131, 37, 0.15);
        font-size: 10px;
        line-height: 12px;
        font-weight: 500;
        margin: auto 0;
        top: 0;
      }
      #t4s-mini_cart .t4s-mini_cart__item .t4s-mini_cart__meta .t4s-cart_price{
        display: flex;
        gap: 10px;
      }
    </style>

    <script defer>
      function addEventListenerStamped(el, eventName, handler) {
        if (el.addEventListener) {
          el.addEventListener(eventName, handler);
        } else {
          el.attachEvent('on' + eventName, function () {
            handler.call(el);
          });
        }
      }

      // Example
      // Listening for launcher loaded event
      addEventListenerStamped(document, 'stamped:launcher:loaded', function (e) {
        StampedFn.setOptions({ is_rewards_code_copy: true });
      });
    </script>

    <ul hidden class="t4s-d-none">
      <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
    </ul>
    {%- render 'render_bottom' -%}
    <!--
      <script src="https://bot.orimon.ai/deploy/index.js" tenantId="11369d09-f6a7-4650-b5f8-988170a641d6"></script>
    -->

    <script>
      var view_url = new URL(window.location.href);
      var utm_source = view_url.searchParams.get('utm_source');
      if(utm_source){
        localStorage.setItem('utm_source',utm_source);
      }
    </script>

    <script defer>
      function setCookie(name, value, days) {
        var expires = '';
        if (days) {
          var date = new Date();
          date.setTime(date.getTime() + days * 24 * 60 * 60 * 1000);
          expires = '; expires=' + date.toUTCString();
        }
        document.cookie = name + '=' + (value || '') + expires + '; path=/';
      }
      function getCookie(name) {
        var nameEQ = name + '=';
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0) == ' ') c = c.substring(1, c.length);
          if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
      }
      function eraseCookie(name) {
        document.cookie = name + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
      }

      var free_gift_claim_tags = $('body').attr('tag-list');
      var prod_with_tag_ids = [];
      var gift_claim_trigger_count = $('body').attr('trigger-qty');
      var total_prod_with_tag = 0;
      var free_gift_list = $('body').attr('free-gift-list');
      var free_gift_prod_array = free_gift_list.split(',');
      var gift_already_added = 0;

      if (free_gift_claim_tags) {
        var free_gift_claim_array = free_gift_claim_tags.split(',');

        jQuery
          .getJSON('/cart.js', function (cart) {
            $.each(cart.items, function (index, value) {
              var current_product_url = value.url;
              // console.log("**********************",value);
              current_product_url = current_product_url.replace('?', '.json?');
              // console.log("**********************",current_product_url);

              $.ajax({
                type: 'GET',
                url: current_product_url,
                dataType: 'json',
                success: function (data) {
                  var current_product_tags = data['product'].tags;
                  console.log('second success -------', current_product_tags);
                  $.each(free_gift_claim_array, function (index, free_gift_tag) {
                    if (current_product_tags.includes(free_gift_tag)) {
                      // console.log( "second success 1111 *************",total_prod_with_tag );
                      if (!prod_with_tag_ids.includes(data['product'].id)) {
                        prod_with_tag_ids.push(data['product'].id);
                        total_prod_with_tag = total_prod_with_tag + value.quantity;
                        // console.log( "second success ------ *************",total_prod_with_tag );
                      }
                    }
                  });
                },
                complete: function (data) {},
              });

              if (free_gift_prod_array.includes(value.id.toString())) {
                gift_already_added = 1;
              }
            });
          })
          .done(function () {
            setTimeout(function () {
              console.log(
                'on load ------ second success',
                total_prod_with_tag,
                gift_already_added,
                'gift_already_added'
              );
              if (total_prod_with_tag >= gift_claim_trigger_count && prod_with_tag_ids.length > 1) {
                if (gift_already_added != 1) {
                  $('#t4s-mini_cart .free_gift_claim').show();
                } else {
                  $('#t4s-mini_cart .free_gift_claim').hide();
                }
              } else {
                $('#t4s-mini_cart .free_gift_claim').hide();
              }
            }, 2000);
          });
      }

      // for chnage free gift remove on chnages gift product functionality start -------
      var all_product_array = [];

      jQuery.getJSON('/cart.js', function (cart) {
        $.each(cart.items, function (index, value) {
          all_product_array.push(value.id.toString());
        });
        var free_gift_remove_ids = $('body').attr('free-gift-remove');
        let gift_product_1 = $('body').attr('gift-product-1') ? $('body').attr('gift-product-1') : '';
        let gift_product_2 = $('body').attr('gift-product-2') ? $('body').attr('gift-product-2') : '';
        var free_gift_remove_array = free_gift_remove_ids.split(',');
        var variantObject4 = {};
        var update_cart = false;

        $.each(free_gift_remove_array, function (index, free_gift_id) {
          if (
            all_product_array.includes(free_gift_id) &&
            free_gift_id != gift_product_1 &&
            free_gift_id != gift_product_2
          ) {
            var removeproductId4 = free_gift_id;
            variantObject4[removeproductId4] = 0;
            update_cart = true;
          } else if (all_product_array.includes(free_gift_id)) {
            var removeproductId4 = free_gift_id;
            variantObject4[removeproductId4] = 1;
            update_cart = true;
          }
          console.log(variantObject4,"variantObject4");
        });
        if (update_cart) {
          var jsonObject4 = {};
          jsonObject4['updates'] = variantObject4;
          $.ajax({
            type: 'post',
            url: '/cart/update.js',
            data: jsonObject4,
            dataType: 'json',
            success: function (data) {},
          });
        }
      });

      // hard coded for no gift sale
      
        var removeproductId5 = "43565338427639";
        var variantObject5 = {};
        variantObject5[removeproductId5] = 0;

        var jsonObject5 = {};
        jsonObject5['updates'] = variantObject5;
        $.ajax({
          type: 'post',
          url: '/cart/update.js',
          data: jsonObject5,
          dataType: 'json',
          success: function (data) {},
        });
      
        var removeproductId5 = "44174537294071";
        var variantObject5 = {};
        variantObject5[removeproductId5] = 0;

        var jsonObject5 = {};
        jsonObject5['updates'] = variantObject5;
        $.ajax({
          type: 'post',
          url: '/cart/update.js',
          data: jsonObject5,
          dataType: 'json',
          success: function (data) {},
        });
      
      // for chnage free gift remove on chnages gift product functionality end ---------

      // ======================= for magiclink functionality start ============================

      var view_url = new URL(window.location.href);
      var magic_key = view_url.searchParams.get('magic_key');
      var magic_link_lifetime_val = $('#magic_link_wrap div[data-link-key="' + magic_key + '"]').attr(
        'data-link-lifetime'
      );
      if (magic_key && magic_link_lifetime_val) {
        var older_magic_key = getCookie('magic_key');
        if (older_magic_key && $('#magic_link_wrap div[data-link-key="' + magic_key + '"]').length != 0) {
          if (older_magic_key == magic_key) {
            setCookie('magic_key', magic_key, magic_link_lifetime_val);
          } else {
            $.getJSON('/cart.js', function(cart) {
          // Iterate through each item in the cart
          var data = {
            updates: {}
          };
          $.each(cart.items, function(index, item) {
            // Prepare data to update item quantity to 0
            data.updates[item.variant_id] = 0; // Set quantity to 0 for the current item
          });
            // Make an AJAX request to update the cart item quantity
            $.ajax({
              type: 'POST',
              url: '/cart/update.js',
              data: data,
              dataType: 'json',
              success: function () {},
              complete: function () {
                console.log('Cart55',data);

                  jQuery.getJSON('/cart.js', function (cart) {
                      let cartData = cart.items;
                      document.dispatchEvent(new CustomEvent('cart:build', { bubbles: true }));
                      document.dispatchEvent(
                        new CustomEvent('cart:refresh:opend', {
                          bubbles: true,
                          detail: cartData,
                        })
                      );
                    });
                $('span.t4s-count-box[data-cart-count]').html('0');

                
              }
            });
          
        });
            setCookie('magic_key', magic_key, magic_link_lifetime_val);
          }
        } else {
          setCookie('magic_key', magic_key, magic_link_lifetime_val);
        }
        if ($('#magic_link_wrap div[data-link-key="' + magic_key + '"]').length == 0) {
          $.getJSON('/cart.js', function(cart) {
          // Iterate through each item in the cart
          var data = {
            updates: {}
          };
          $.each(cart.items, function(index, item) {
            // Prepare data to update item quantity to 0
            data.updates[item.variant_id] = 0; // Set quantity to 0 for the current item
          });
            // Make an AJAX request to update the cart item quantity
            $.ajax({
              type: 'POST',
              url: '/cart/update.js',
              data: data,
              dataType: 'json',
              success: function () {},
              complete: function () {
                console.log('Cart55',data);

                  jQuery.getJSON('/cart.js', function (cart) {
                      let cartData = cart.items;
                      document.dispatchEvent(new CustomEvent('cart:build', { bubbles: true }));
                      document.dispatchEvent(
                        new CustomEvent('cart:refresh:opend', {
                          bubbles: true,
                          detail: cartData,
                        })
                      );
                    });
                $('span.t4s-count-box[data-cart-count]').html('0');

                
              }
            });
          
        });

          eraseCookie('magic_key');
        }
      }

      var older_magic_key_check = getCookie('magic_key');
      if (
        older_magic_key_check &&
        $('#magic_link_wrap div[data-link-key="' + older_magic_key_check + '"]').length == 0
      ) {
        $.getJSON('/cart.js', function(cart) {
          // Iterate through each item in the cart
          var data = {
            updates: {}
          };
          $.each(cart.items, function(index, item) {
            // Prepare data to update item quantity to 0
            data.updates[item.variant_id] = 0; // Set quantity to 0 for the current item
          });
            // Make an AJAX request to update the cart item quantity
            $.ajax({
              type: 'POST',
              url: '/cart/update.js',
              data: data,
              dataType: 'json',
              success: function () {},
              complete: function () {
                console.log('Cart55',data);

                  jQuery.getJSON('/cart.js', function (cart) {
                      let cartData = cart.items;
                      document.dispatchEvent(new CustomEvent('cart:build', { bubbles: true }));
                      document.dispatchEvent(
                        new CustomEvent('cart:refresh:opend', {
                          bubbles: true,
                          detail: cartData,
                        })
                      );
                    });
                $('span.t4s-count-box[data-cart-count]').html('0');

                
              }
            });
          
        });

        
        eraseCookie('magic_key');
      }

      // ======================= for magiclink functionality end ============================
    </script>
    {% comment %} Kwikpass added the below file {% endcomment %}
    {% render 'kwikpass' %}
<script defer>
  var page_type= {{ request.page_type | json}}
    function loadScript(src) {
        var script = document.createElement('script');
        script.src = src;
        document.head.appendChild(script);
    }

    function loadStyle(src) {
        var link = document.createElement('link');
        link.rel = 'stylesheet';
        link.href = src;
        document.head.appendChild(link);
    }

    function loadScriptss() {
        loadScript("{{ 'ls.blur-up.min.js' | asset_url }}");
        loadScript("{{'lazysize.js'| asset_url }}");
      loadScript('https://www.googletagmanager.com/gtag/js?id=AW-10819339486');
        loadScript('https://www.googletagmanager.com/gtag/js?id=UA-214444346-1');
        loadScript("{{'g_tag_manager.js'| asset_url }}");
      if(page_type == 'index')
       {
         loadScript("{{'global.min.js' | asset_url }}");
         loadStyle("{{'pre_theme.min.css'| asset_url }}");
       }
    }

    function loadScripts() {
       loadScript("{{'pre_flickity.min.js'| asset_url }}");
        loadScript('https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.5/lottie.min.js');
      if(page_type == 'index')
      {
       loadStyle("{{'bt-common.css'| asset_url }}");
      }
        loadStyle('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
        loadScript("{{'nt_theme.min.js'| asset_url }}");
        loadStyle("{{'icon-social.css'| asset_url }}");
        loadStyle("{{'theme.css'| asset_url }}");
        loadStyle("{{'bt-ig.css'| asset_url }}");
        loadStyle("{{'custom.css'| asset_url }}");
        loadStyle("{{'pe_ic.min.css'| asset_url }}");
        loadStyle("{{'style.min.css'| asset_url }}");
        var v = new URLSearchParams(window.location.search).get('clickid');
        if (v !== null) {
            var dateAf = new Date();
            dateAf.setTime(dateAf.getTime() + 365 * 24 * 60 * 60 * 1000);
            document.cookie = 'affclick=' + v + '; expires=' + dateAf.toUTCString() + '; path=/';
            localStorage.setItem('affclick', v);
        }
       var hideComm = document.getElementsByClassName("lcp")[0];
      if (hideComm) {
                hideComm.style.display = 'none';
      }
        document.removeEventListener('click', loadScripts);
        document.removeEventListener('mouseover', loadScripts);
        document.removeEventListener('scroll', loadScripts);
    }

    document.addEventListener('DOMContentLoaded', loadScriptss);
    document.addEventListener('mouseover', loadScripts, { once: true });
    document.addEventListener('scroll', loadScripts, { once: true });

    document.addEventListener('DOMContentLoaded', function() {
        setTimeout(function() {
            var hideCom = document.getElementsByClassName("hide-com")[0];
            if (hideCom) {
                hideCom.style.opacity = 1;
            }
          var hideComm = document.getElementsByClassName("lcp")[0];
          if (hideComm) {
                hideComm.style.opacity = 0;
                hideComm.style.zIndex= 0;
                 hideComm.style.background= 'white';
            }
        }, 1000);
    });
</script>


  </body>
</html>
