{{ 'before-after.css' | asset_url | stylesheet_tag }}
<script defer="defer" src="{{ 'before-after.js' | asset_url }}" defer="defer"></script>

<section class="app-before-after t4s-code__html container">
  <div class="before-after-container expected-results">
  <h3>{% if product.metafields.custom.b_a_heading != blank %}{{ product.metafields.custom.b_a_heading }}{% else %}Expected Results{% endif %}</h3>
    {% if product.metafields.custom.b_a_sub_heading != blank %}
    <p>{{ product.metafields.custom.b_a_sub_heading }}</p>
    {% endif %}
  <div class="bottom-ex">
    {% if product.metafields.custom.b_a_day_1_text != blank %}
    <div class="fex" data-id="1" style="display:none;">
      <img src="https://cdn.shopify.com/s/files/1/0609/6096/4855/files/DAY1.png?v=1715844267">
      <h4>{{ product.metafields.custom.b_a_day_1_text }}</h4>
    </div>
    {% endif %}
    {% if product.metafields.custom.b_a_day_15_text != blank %}
    <div class="fex" data-id="2">
      {% if product.metafields.custom.day_fifteen_text == "Day 10" %}
        <img src="https://cdn.shopify.com/s/files/1/0609/6096/4855/files/Glow_Toner_-_New_PDP_copy-18.png?v=1718194250">
      {% elsif product.metafields.custom.day_fifteen_text == "Day 5" %}
        <img src="https://cdn.shopify.com/s/files/1/0609/6096/4855/files/GLOW_SUNSCREEN_PDP_V3-15.jpg?v=1722406772">
      {% elsif product.metafields.custom.day_fifteen_text == "Day 7" %}
        <img src="https://cdn.shopify.com/s/files/1/0609/6096/4855/files/SRM_PDP_V3-16_1.jpg?v=1722407119">
      {% elsif product.metafields.custom.day_thirty_text == "" %}
        <img src="https://cdn.shopify.com/s/files/1/0609/6096/4855/files/DAY1.png?v=1715844267">
      {% else %}
        <img src="https://cdn.shopify.com/s/files/1/0609/6096/4855/files/DAY15.png?v=1715844267">
      {% endif %}
      <h4>{{ product.metafields.custom.b_a_day_15_text }}</h4>
    </div>
    {% endif %}
    {% if product.metafields.custom.b_a_day_30_text != blank %}
    <div class="fex" data-id="3" style="display:none;">
      {% if product.metafields.custom.day_thirty_text == "Day 20" %}
        <img src="https://cdn.shopify.com/s/files/1/0609/6096/4855/files/Glow_Toner_-_New_PDP_copy-19.png?v=1718194249">
      {% elsif product.metafields.custom.day_thirty_text == "Day 15" %}
        <img src="https://cdn.shopify.com/s/files/1/0609/6096/4855/files/DAY15.png?v=1715844267">
      {% else %}
      <img src="https://cdn.shopify.com/s/files/1/0609/6096/4855/files/DAY30.png?v=1715844266">
      {% endif %}
      <h4>{{ product.metafields.custom.b_a_day_30_text }}</h4>
    </div>
      {% endif %}
  </div>           
    <div class="border-wrapper {% if section.settings.border_top %}border-wrapper--top{% endif %} {% if section.settings.border_bottom %}border-wrapper--bottom{% endif %}">
      <div class="compare__box">

        <div class="compare__slide">

          {% if product.metafields.custom.b_a_before_image.value != blank and product.metafields.custom.b_a_after_image.value != blank %}
            <div class="twentytwenty-wrapper twentytwenty-horizontal">
              <div class="twentytwenty-container">
                {{ product.metafields.custom.b_a_before_image.value | image_url: width: 1790 | image_tag: loading: 'lazy', widths: '553, 895, 1790' }}
                {{ product.metafields.custom.b_a_after_image.value | image_url: width: 1790 | image_tag: loading: 'lazy', widths: '553, 895, 1790' }}
              </div>
            </div>

          {%- else -%}
            <div class="compare__default">
              {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
              {{ 'product-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
  <div class="day-barbottom">
    <div class="day-one" data-id="1">{{ product.metafields.custom.day_one_text }}</div>
    <div class="day-one active don" data-id="2">{{ product.metafields.custom.day_fifteen_text }}</div>
    <div class="day-one nod" data-id="3" style="{% if product.handle contains 'exfoliating-facial-toner' %}text-align: right;{%endif%}">{{ product.metafields.custom.day_thirty_text }}</div>
  </div>
</section>
<style>

  .twentytwenty-container .twentytwenty-left-arrow {
  /* width: 2rem;
  height: 2rem;
  top: 20px;
  left: 32px;
  background-image: url("https://cdn.shopify.com/s/files/1/0609/6096/4855/files/Asset_1.png?v=1715776848");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto; 
  background-image: url(https://cdn.shopify.com/s/files/1/0609/6096/4855/files/Asset_1.png?v=1715776848);
  top: 50%;
  left: 85%; */
  /* background-image: url(https://cdn.shopify.com/s/files/1/0609/6096/4855/files/1NIACIANMIDE.png?v=1715943212); */
  background-image: url({{product.metafields.custom.b_a_product_icon.value | image_url: width: 500}}); 
  border: none;
  width: 100%;
  height: 100%;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
@media only screen and (min-width: 767px) {
  .twentytwenty-container .twentytwenty-left-arrow {
    width: 150px;
    height: 150px;
    z-index: 31;
  }
}
</style>

{% schema %}
{
  "name": "App Before After",
  "tag": "section",
  "class": "section-compare spaced-section",
  "enabled_on": {
    "templates": ["*"]
  },
  "settings": [
    {
      "type": "text",
      "id": "app_before_after_heading",
      "label": "Before After Heading"
    },
    {
      "type": "richtext",
      "id": "app_before_after_heading_mobile",
      "label": "Before After Heading Mobile"
    },
    {
      "type": "checkbox",
      "id": "border_top",
      "default": false,
      "label": "t:sections.compare-block.settings.border_top.label"
    },
    {
      "type": "checkbox",
      "id": "border_bottom",
      "default": false,
      "label": "t:sections.compare-block.settings.border_bottom.label"
    },
    {
      "type": "text",
      "id": "policy_text",
      "label": "Before After Policy Text"
    }
  ],
  "presets": [
    {
      "name": "App Before After"
    }
  ],
  "blocks": [
    {
      "type": "before-after",
      "name": "Before After",
      "settings": [
        {
          "id": "before_after_details_heading",
          "type": "text",
          "label": "Before After Details Heading"
        },
        {
          "id": "before_after_details_content",
          "type": "richtext",
          "label": "Before After Details Content"
        }
      ]
    }
  ]
}
{% endschema %}