{% if product.metafields.product_handle.boost_with != blank %}
  <div class="pairs-best-with-main related product-extra container foxtale_scroll">
    {% assign pairItemHandle = product.metafields.product_handle.boost_with | split: '@' %}
    <div class="section-heading wrap_title">
      <h3 class="tc">
        <span>{{ section.settings.boost_section_heading }}</span>
      </h3>
    </div>
    <div class="pairProducts-grid-items boost-with-items">
      {% for pairHandle in pairItemHandle %}
        {% assign pairHandleArray = pairHandle | split: '#' %}
        {% assign pairHandleUrl = pairHandleArray[0] %}
        {% assign pairHandleExcerpt = pairHandleArray[1] %}
        {% assign pairProduct = all_products[pairHandleUrl] %}
        <div>
          <div class="product-inner pr">
            <div
              class="product-image pr oh lazyloadt4sed"
              data-rendert4s="/products/{{pairProduct.handle}}/?view=imgfalse"
              data-currentrendert4s=""
            >
              <h6>{{ pairHandleExcerpt }}</h6>
              <a class="db" data-foxtale-event="product-click-event" foxtale-event-attr-api-url-for-data="/products/{{pairProduct.handle}}" foxtale-event-attr-from="from-feature-collection-image" href="/products/{{pairProduct.handle}}?section=boost-with">
                <div
                  class="pr_lazy_img main-img nt_img_ratio nt_bg_lz lazyloadt4sed"
                  data-id="{{ pairProduct.images[0].id }}"
                  data-bgset="{{ pairProduct.images[0] | image_url }}"
                  data-parent-fit="width"
                  data-wiis=""
                  data-ratio="1.0"
                  style="padding-top: 100%; background-image: url('{{ pairProduct.images[0] | image_url }}');"
                >
                  <picture style="display: none;">
                    <source
                      data-srcset="{{ pairProduct.images[0] | image_url }}"
                      sizes="570px"
                      srcset="{{ pairProduct.images[0] | image_url }}"
                    >
                    <img
                      alt=""
                      class="lazyautosizes lazyloadt4sed ls-is-cached"
                      data-sizes="auto"
                      data-ratio="1.0"
                      sizes="570px"
                    >
                  </picture>
                </div>
              </a>
              {% if pairProduct.images.size > 1 %}
                <div class="hover_img pa pe_none t__0 l__0 r__0 b__0 op__0">
                  <div
                    class="pr_lazy_img back-img pa nt_bg_lz lazyloadt4sed"
                    data-id="{{ pairProduct.images[1].id }}"
                    data-bgset="{{ pairProduct.images[1] | image_url }}"
                    data-parent-fit="width"
                    data-wiis=""
                    data-ratio="1.0"
                    style="padding-top: 100%; background-image: url('{{ pairProduct.images[1] | image_url }}');"
                  >
                    <picture style="display: none;">
                      <source
                        data-srcset="{{ pairProduct.images[1] | image_url }}"
                        sizes="570px"
                        srcset="{{ pairProduct.images[1] | image_url }}"
                      >
                      <img
                        alt=""
                        class="lazyautosizes lazyloadt4sed ls-is-cached"
                        data-sizes="auto"
                        data-ratio="1.0"
                        sizes="570px"
                      >
                    </picture>
                  </div>
                </div>
              {% endif -%}
              {% comment %}
                <div class="hover_button op__0 tc pa flex column ts__03 des_btns_pr_1 has_sizelistt4_ has_2btnst4_pr">
                    <a class="pr nt_add_qv js_add_qv cd br__40 pl__25 pr__25 bgw tc dib ttip_nt tooltip_top_left"
                        href="/products/{{pairProduct.handle}}" data-id="{{pairProduct.id}}" rel="nofollow">
                        <span class="tt_txt">Quick view</span><i class="iccl iccl-eye"></i><span>Quick view</span>
                    </a>
                    <a href="/products/{{pairProduct.handle}}"
                        class="pr pr_atc cd br__40 bgw tc dib js_addtc cb chp ttip_nt tooltip_top_left"
                        data-id="{{pairProduct.variants.first.id}}" rel="nofollow">
                        <span class="tt_txt">Add to cart</span><i class="iccl iccl-cart"></i><span>Add to
                            cart</span>
                    </a>
                </div>
              {% endcomment %}
            </div>
            <div class="product-info mt__15">
              <h3 class="product-title pr fs__14 mg__0 fwm" style="font-weight: 600;">
                <a class="cd chp prod-title-bs" data-foxtale-event="product-click-event" foxtale-event-attr-api-url-for-data="{{ pairProduct.url }}" foxtale-event-attr-from="from-feature-collection-product-info" href="{{pairProduct.url}}">{{ pairProduct.title }}</a>
              </h3>
              <span class="price dib mb__5" style="margin-top: 10px; font-size: 16px; font-weight: 800;"
                ><ins>{{ pairProduct.price | money }}</ins></span
              >
              <div class="shopify-product-reviews-badge star-rating" data-id="{{pairProduct.id}}"></div>
            </div>
            {% if pairProduct.metafields.custom.check_variant %}
              <div class="shop-all-qty-cart-btn">
                    <a href="{{ pairProduct.url }}" class="fx-custom-btn-dark t4s-pr-item-btn btn-boost-with-atc t4s-pr-addtocart"><span class="t4s-svg-pr-icon"></span><span class="t4s-text-pr">Select Shade</span></a>
                  </div>
            {% else %}
              <div class="shop-all-qty-cart-btn">
                    <a href="javascript:void(0)" class="fx-custom-btn-dark t4s-pr-item-btn btn-boost-with-atc t4s-pr-addtocart" data-variant-name="{{ pairProduct.title }}" data-variant-id="{{pairProduct.first_available_variant.id}}" data-action-atc rel="nofollow"><span class="t4s-svg-pr-icon"></span><span class="t4s-text-pr">{{ 'products.product.add_to_cart' | t }}</span></a>
                  </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
<script>
  $(document).ready(function () {
    $( '.btn-boost-with-atc').on("click", function(){
      var prodName = $(this).data("variant-name");
       Growlytics.events.track("Usually Bought Together",{
      'Product Name': prodName
     });
    });
     });
</script>
  <script>
      
    $('.boost-with-items').slick({
        slidesToShow: 2,
        slidesToScroll: 2,
        arrows: true,
        centerMode: false,
        prevArrow: `<svg focusable="false" style="width: 50px;  padding: 10px;" role="presentation" class="icon icon-chevron-left slick-arrow" viewBox="0 0 284.49 498.98" style=""><path d="M249.49 0a35 35 0 0 1 24.75 59.75L84.49 249.49l189.75 189.74a35.002 35.002 0 1 1-49.5 49.5L10.25 274.24a35 35 0 0 1 0-49.5L224.74 10.25A34.89 34.89 0 0 1 249.49 0z"></path></svg>`,
        nextArrow: `<svg focusable="false" style="width: 50px;  padding: 10px;" role="presentation" class="icon icon-chevron-right slick-arrow" viewBox="0 0 284.49 498.98" style=""><path d="M35 498.98a35 35 0 0 1-24.75-59.75l189.74-189.74L10.25 59.75a35.002 35.002 0 0 1 49.5-49.5l214.49 214.49a35 35 0 0 1 0 49.5L59.75 488.73A34.89 34.89 0 0 1 35 498.98z"></path></svg>`
    });


  </script>
{% endif %}
{% schema %}
{
"name": "Boost With",
"settings": [
{
"type": "text",
"id": "boost_section_heading",
"label": "Heading",
"default": "Boost With"
}
],
  "presets": [
        {
            "name": "Boost With",
            "category": "Collection"
        }
    ]
}
{% endschema %}

<style>
    svg.icon.icon-chevron-left.slick-arrow {
      position: absolute;
      top: 45%;
      z-index: 9;
      width: 30px !important;
  }
    svg.icon.icon-chevron-right.slick-arrow{
      position: absolute;
      top: 45%;
  right:0;
      z-index: 9;
      width: 30px !important;
  }
</style>

{% javascript %}
{% endjavascript %}
