{% if request.page_type != 'index' %}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
  integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
  integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
>
{% endif %}
{% assign inc_pr = section.settings.pr_des %}
<section>
  <div class="container custom_design_{{inc_pr}} foxtale_scroll">
    {% if section.settings['slider-title'] != blank %}
      <div class="best-title">
        <h3>{{ section.settings['slider-title'] }}</h3>
      </div>
    {% endif %}
    <div class="tab-slider-main">
      <div class="tab-list-title">
        <span class="collection-name">Routines for </span>
        <select class="tab-content" onchange="tabCustom(event);this.dataset.chosen = this.value;">
          {% for block in section.blocks %}
            {% if block.type == 'tabs' %}
              {% if block.settings['tab-title'] != blank %}
                <option
                  class="tab-links{% if forloop.first %} active{% endif %}"
                  data-tab="tabs-{{ forloop.index }}"
                  value="val-{{ forloop.index }}"
                >
                  {{ block.settings['tab-title'] }}
                </option>
              {% endif %}
            {% endif %}
          {% endfor %}
        </select>
      </div>
      <div class="product-tabs-content design_{{inc_pr}}">
        {% if inc_pr == '2' %}
          {% for block in section.blocks %}
            {% assign dataTab = block.settings['tab-title'] %}
            {% if block.type == 'content' %}
              {% assign len = forloop.length | divided_by: 2 %}
              <div class="tabcontents" id="tabs-{{ forloop.index | minus: len }}">
                {% assign collection = collections[block.settings.collection] %}
                {% if collection != blank %}
                  <div class="products-grid-item-main owl-carousel pdp-custom-collection-{{inc_pr}}">
                    {%- for product in collection.products limit: 10 -%}
                      <div class="products-grid-item">
                        <div class="product-innr">
                          {% if product.metafields.custom.pr_excerpt != blank %}
                            <h6 class="pr-{{ product.metafields.custom.pr_excerpt }}">
                              {{ product.metafields.custom.pr_excerpt }}
                            </h6>
                          {% endif %}
                          <div class="product-image pr oh lazyloadt4sed product-innr-top">
                            <a href="{{product.url}}">
                              {%- render 'product_labels', on: 'singe', product: product -%}
                              <img
                                class="pr-img-first"
                                src="{{ product.images[0] | product_img_url: "master" }}"
                                alt=""
                              >
                              <img
                                class="pr-img-second"
                                src="{{ product.images[0] | product_img_url: "master" }}"
                                alt=""
                              >
                            </a>
                            <div data-fera-container="457325" data-product_id="{{ product.id }}" class="reviewContainerDiv on-productpic"></div>
                          </div>
                          <div class="product-info mt__15 mb__10 product-innr-bottom" data-pr-id="{{ product.handle }}">
                            <div class="pr-det">
                              <h3 class="product-title pr fs__14 mg__0 fwm">
                                <a class="cd chp" href="{{product.url}}">{{ product.title }}</a>
                              </h3>
                              {% if product.metafields.my_fields.hp_excerpt != blank %}
                                <p class="fx-tags-shop fx-{{ product.metafields.my_fields.hp_excerpt | downcase | replace: " ", "-" }}">
                                  {{ product.metafields.my_fields.hp_excerpt }}
                                </p>
                              {% endif %}
                            </div>
                            {% comment %}<p style="font-size: 14px; font-weight: 400; -webkit-letter-spacing: 0; -moz-letter-spacing: 0; -ms-letter-spacing: 0; color: #fc2779; margin-bottom: 0;">Free Gift Worth ₹150</p>{% endcomment %}
                            <div class="pr-variant">
                              <div class="t4s-product-form__variants pr-variants">
                                <div class="t4s-swatch__list">
                                  {%- for value in option.values -%}
                                    <div
                                      data-swatch-item
                                      class="t4s-swatch__item{% if selected_value == value %} is--selected{% endif %}  {% if value == 'Pack of 2' %}t4s-swatch-pack-2 {% endif %}"
                                      data-value="{{ value | escape }}"
                                      data-price="{{ product.variants[forloop.index0].price | divided_by: 100 }}"
                                    >
                                      <div>{{ value }}</div>
                                      {% if product.variants[forloop.index0].compare_at_price > 0 %}
                                        <div class="pr-price">
                                          <del>{{ product.variants[forloop.index0].compare_at_price | money }}</del
                                          ><ins>{{ product.variants[forloop.index0].price | money }}</ins>
                                        </div>
                                      {% else -%}
                                        {{- product.variants[forloop.index0].price | money -}}
                                      {%- endif -%}
                                      {%- if value == 'Pack of 2' -%}
                                        <span class="pr-best-seller">{{ 'Save Extra' }}</span>
                                      {%- endif %}
                                    </div>
                                  {%- endfor -%}
                                </div>
                              </div>
                            </div>
                            <span class="price dib mb__5">
                              {%- render 'product-price',
                                product: product,
                                price_varies_style: price_varies_style,
                                type: 'card',
                                isGrouped: isGrouped
                              -%}
                            </span>
                          </div>
                        </div>
                        {% if product.metafields.custom.check_variant %}
                            <div class="shop-all-qty-cart-btn">
                                <a href="{{ product.url }}" class="fx-custom-btn-dark t4s-pr-item-btn t4s-pr-addtocart"><span class="t4s-svg-pr-icon"></span><span class="t4s-text-pr">Select Shade</span></a>
                            </div>
                        {% else %}
                          <div class="shop-all-qty-cart-btn" data-handle="{{ product.handle }}">
                            <a
                              href="{{ product.url }}"
                              id="addtocart_r"
                              class="fx-custom-btn-dark t4s-pr-item-btn t4s-pr-addtocart"
                              data-variant-id="{{product.first_available_variant.id}}"
                              data-action-atc
                              rel="nofollow"
                              ><span class="t4s-svg-pr-icon"></span
                              ><span class="t4s-text-pr">{{ 'products.product.add_to_cart' | t }}</span></a
                            >
                          </div>
                        {% endif %}
                        
                      </div>
                    {%- endfor -%}
                  </div>
                  <div class="view-more-btn">
                    <a href="{{ collection.url }}">View more routines</a>
                  </div>
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}
        {% else %}
          {% for block in section.blocks %}
            {% assign dataTab = block.settings['tab-title'] %}
            {% if block.type == 'content' %}
              {% assign len = forloop.length | divided_by: 2 %}
              <div class="tabcontents" id="tabs-{{ forloop.index | minus: len }}">
                {% assign collection = collections[block.settings.collection] %}
                {% if collection != blank %}
                  <div class="products-grid-item-main owl-carousel pdp-custom-collection">
                    {%- for product in collection.products limit: 10 -%}
                      <div class="products-grid-item">
                        <div class="product-innr">
                          {% if product.metafields.custom.pr_excerpt != blank %}
                            <h6 class="pr-{{ product.metafields.custom.pr_excerpt }}">
                              {{ product.metafields.custom.pr_excerpt }}
                            </h6>
                          {% endif %}
                          <div class="product-image pr oh lazyloadt4sed product-innr-top">
                            <a href="{{product.url}}">
                              {%- render 'product_labels', on: 'singe', product: product -%}
                              <img
                                class="pr-img-first"
                                src="{{ product.images[0] | product_img_url: "master" }}"
                                alt=""
                              >
                              <img
                                class="pr-img-second"
                                src="{{ product.images[0] | product_img_url: "master" }}"
                                alt=""
                              >
                            </a>
                            <div data-fera-container="457325" data-product_id="{{ product.id }}" class="reviewContainerDiv on-productpic"></div>
                          </div>
                          <div class="product-info mt__15 mb__10 product-innr-bottom">
                            <div class="pr-det">
                              <h3 class="product-title pr fs__14 mg__0 fwm">
                                <a class="cd chp" href="{{product.url}}">{{ product.title }}</a>
                              </h3>
                              {% if product.metafields.my_fields.hp_excerpt != blank %}
                                <p class="fx-tags-shop fx-{{ product.metafields.my_fields.hp_excerpt | downcase | replace: " ", "-" }}">
                                  {{ product.metafields.my_fields.hp_excerpt }}
                                </p>
                              {% endif %}
                            </div>
                            {% comment %}<p style="font-size: 14px; font-weight: 400; -webkit-letter-spacing: 0; -moz-letter-spacing: 0; -ms-letter-spacing: 0; color: #fc2779; margin-bottom: 0;">Free Gift Worth ₹150</p>{% endcomment %}
                            <span class="price dib mb__5">
                              {%- render 'product-price',
                                product: product,
                                price_varies_style: price_varies_style,
                                type: 'card',
                                isGrouped: isGrouped
                              -%}
                            </span>
                          </div>
                        </div>
                        {% if product.metafields.custom.check_variant %}
                            <div class="shop-all-qty-cart-btn">
                                <a href="{{ product.url }}" class="fx-custom-btn-dark t4s-pr-item-btn t4s-pr-addtocart"><span class="t4s-svg-pr-icon"></span><span class="t4s-text-pr">Select Shade</span></a>
                            </div>
                        {% else %}
                          <div class="shop-all-qty-cart-btn">
                            <a
                              href="{{ product.url }}"
                              id="addtocart_r"
                              class="fx-custom-btn-dark t4s-pr-item-btn t4s-pr-addtocart"
                              data-variant-id="{{product.first_available_variant.id}}"
                              data-action-atc
                              rel="nofollow"
                              ><span class="t4s-svg-pr-icon"></span
                              ><span class="t4s-text-pr">{{ 'products.product.add_to_cart' | t }}</span></a
                            >
                          </div>
                        {% endif %}
                      </div>
                    {%- endfor -%}
                  </div>
                  <div class="view-more-btn">
                    <a href="{{ collection.url }}">{{ 'products.grid_items.view_more' | t }}</a>
                  </div>
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</section>

<style>
  .custom-tab-slider .tabcontent {
    display: none;
  }
  .custom-tab-slider .products-grid-item {
    height: auto!important;
  }
    @media (max-width: 600px) {
    select[data-chosen='val-2'] {
      width:42% !important;
  }
    }

{% if product.url contains 'oil-free-moisturizer' %}
      @media (max-width: 600px) {
         select[data-chosen='val-2'] {
           width:57% !important;
         }
      }
{% endif %} 
  
      @media (min-width: 768px) {
    select[data-chosen='val-2'] {
      width:20% !important;
  }
    }
  {% if product.url contains 'the-daily-duet-cleanser' or product.url contains 'finish-sunscreen' or product.url contains 'coverup-broad-spectrum-spf-50-pa' %}
   @media (max-width: 600px) {
     select {
      width:25% !important;
  }
    select[data-chosen='val-1'] {
      width:25% !important;
  }
     select[data-chosen='val-3'] {
      width:auto !important;
  }
    }
      @media (min-width: 768px) {
        select {
      width:12% !important;
  }
    select[data-chosen='val-1'] {
      width:12% !important;
  }
    }
    {% endif %}

.owl-nav, .owl-dots {
  display: none !important;
}
</style>

<script>
  document.querySelector('#tabs-1').style.display = "block";
  function tabCustom(evt, country_code) {
    var country_select = document.querySelector(".tab-content");
    var country_code = country_select.options[country_select.selectedIndex].getAttribute('data-tab');
    let i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontents");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
      tabcontent[i].className = tabcontent[i].className.replace(" active", "");
      tabcontent[i].style.visibility = "hidden";
    }
    tablinks = document.getElementsByClassName("tab-links");
    // console.log(tablinks.length);
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    let variantActive = document.querySelectorAll('.tabcontents.active');
    $('.t4s-swatch__item').removeClass('active');
    if(variantActive){
      $('.t4s-swatch__item:first-child').trigger("click");
       $('.t4s-swatch__item:first-child').addClass('active');
    }
    document.getElementById(country_code).style.display = "block";
    country_select.options[country_select.selectedIndex].className += " active";
    document.getElementById(country_code).className += " active";
    console.log("fefefe",country_select.options[country_select.selectedIndex].className);
    setTimeout(function () {document.getElementById(country_code).style.visibility = "visible"}, 450);
  }
    if ($('.tab-list-title > div.field-item:contains("Anti Ageing")').length > 0) {
      $(".tab-list-title").addClass("thisClass");
  }
</script>
<script>
  //   $('.pdp-custom-collection').slick({
  //   dots: false,
  //   infinite: true,
  //   speed: 300,
  //   arrows: true,
  //   slidesToShow: 4,
  //   slidesToScroll: 1,
  //   //variableWidth: true,
  //   responsive: [
  //     {
  //       breakpoint: 1024,
  //       settings: {
  //         slidesToShow: 2,
  //         slidesToScroll: 2,
  //         infinite: true
  //       }
  //     },
  //     {
  //       breakpoint: 768,
  //       settings: {
  //         slidesToShow: 2.2,
  //         slidesToScroll: 2,
  //         infinite: false
  //       }
  //     }
  //   ]
  // });
  // $('.pdp-custom-collection-2').slick({
  //    dots: false,
  //   infinite: true,
  //   speed: 300,
  //   arrows: true,
  //   slidesToShow: 2,
  //   slidesToScroll: 2,
  //   //variableWidth: true,
  //   responsive: [
  //     {
  //       breakpoint: 1024,
  //       settings: {
  //         slidesToShow: 2,
  //         slidesToScroll: 2,
  //         infinite: true
  //       }
  //     },
  //     {
  //       breakpoint: 768,
  //       settings: {
  //         slidesToShow: 2,
  //         slidesToScroll: 2,
  //         infinite: false
  //       }
  //     }
  //   ]
  // });
  // $('.tab-content').change(function(){
  //   $('.slick-prev').trigger("click");
  //   setTimeout(function(){
  //     $('.slick-next').trigger("click");
  //   },300);
  // });

  $('.owl-carousel').owlCarousel({
    loop: true,
    margin: 10,
    nav: true,
    // navText: [
    //   "<i class='fa-chevron-circle-left'></i>",
    //   "<i class='fa-chevron-circle-right'></i>"
    // ],
    // autoplay: false,
    // autoplayHoverPause: true,
    responsive: {
      0: {
        items: 2
      },
      600: {
        items: 3
      },
      1024: {
        items: 4
      }
    }
  })
    $(".owl-prev span").hide();
    $(".owl-next span").hide();
    // $(".owl-prev").addClass('slick-prev');
    // $(".owl-prev").addClass('slick-arrow');
    // $(".owl-next").addClass('slick-arrow');
    // $('.owl-next').addClass('slick-next');
</script>

<style>
    .slick-disabled {
      opacity: 0;
      pointer-events:none;
  }
</style>

<!-- Growlytics Event-->
<script>
   $(document).ready(function () {
    $( '.shop-all-qty-cart-btn ').on("click", function(){
     Growlytics.events.track(“Spotlight and Newlaunches ATC,{
       'clicks': "Clicks",
       'Product Name': prodName
     });
    });
  });
</script>
<!-- End -->
{% schema %}
{
  "name": "Custom Collection Slider",
  "class": "custom-tab-slider custom-collection-slider",
  "settings": [
    {
      "type": "text",
      "id": "slider-title",
      "label": "Slider Title"
    },
    {
      "type": "select",
      "id": "pr_des",
      "label": "Design product",
      "default": "1",
      "options": [
        {
          "value": "1",
          "label": "Design 1"
        },
        {
          "value": "2",
          "label": "Design 2"
        }
      ]
    }
  ],
  "blocks": [
    {
      "name": "Product Tab",
      "type": "tabs",
      "settings": [
        {
          "type": "text",
          "id": "tab-title",
          "label": "Tab Title"
        }
      ]
    },
    {
      "name": "Product Tab Content",
      "type": "content",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Select Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Collection Slider"
    }
  ]
}
{% endschema %}