<style>
.benefits-slider {
  padding-top: 48px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  grid-column-gap: 18rem;
}
.benefit-left, .benefit-right {
  width: 50%;
}
.benefit-left h3, .benefit-right h3 {
  color: #000;
  font-size: 30px;
  font-weight: 500;
  line-height: 48px;
  margin-bottom: 12px;
}
.benefit-left h4, .benefit-right h4 {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  margin: 0 6px;
}
.benefit-left h4 span, .benefit-right h4 span {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}
.benefit-left ul li {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  list-style: disc;
}
.benefit-right h3 span {
  border-radius: 4px;
  background: #FFF9F2;
  color: #FF8701;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  padding: 3px 4px;
  margin-left: 7px;
}
.direct-mainwrap  {
  margin-top: 18px;
}
.direct-mainwrap .products-grid-item {
  text-align: center;
}
.direct-mainwrap .products-grid-item {
  border-radius: 11.429px;
  border: 1.429px solid #E9E5E5;
  padding: 20px 45px;
  margin: 0 8px !important;
}
.stepz {
  font-size: 18px;
  font-weight: 500;
  line-height: 22.857px;
}
h6.pr-Cleanse {
  color: #12A2AD;
}
h6.pr-Treat {
  color: #C382B8;
}
h6.pr-Moisturize {
  color: #e4aaeb;
}
h6.pr-Protect {
  color: #F6E99E;
}
.prod-deetz h2  {
  font-size: 18px;
  font-weight: 500;
  line-height: 22.857px;
  padding: 30px 0 8px 0;
}
.prod-deetz h2 a {
  color: #000;
}
.prod-deetz h5 {
  color: #FF8701;
  font-size: 18px;
  font-weight: 500;
  line-height: 22.857px;
  padding-bottom: 16px;
}
.prod-deetz h5 span {
  color: #A9A9A9;
  font-size: 18px;
  font-weight: 500;
  line-height: 22.857px;
}
.benefits-slider .shop-all-qty-cart-btn {
  margin-top: 0px;
}
.template-product .benefits-slider .fx-custom-btn-dark {
  font-size: 18px;
  font-weight: 600;
  border-radius: 12px;
  padding: 10px 20px;
}
.dot-tex {
  padding-top: 16px;
}
.dot-tex1 {
  display: none;
}

@media (max-width: 768px) {
  .benefits-slider {
    padding-top: 0px;
    grid-column-gap: 0rem;
    flex-direction: column;
  }
  .benefit-left, .benefit-right {
    width: 100%;
  }
  .benefit-left h3 {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    margin-top: 16px;
  }
  .benefit-right h3 {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    margin-top: 7px;
  }
  .benefit-left h4, .benefit-right h4 {
    font-size: 12px;
    line-height: 22px;
    margin: 0 0px 14px;
  }
  .benefit-left h4 span, .benefit-right h4 span {
    font-size: 12px;
    line-height: 22px;
  }
  .benefit-right h3 span {
    font-size: 10px;
  }
  .direct-mainwrap .products-grid-item {
    padding: 12px 20px;
  }
  .stepz {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
  }
  .prod-deetz h2 {
    font-size: 11px;
    font-weight: 500;
    line-height: 16px;
    padding: 8px 0 8px 0;
  }
  .prod-deetz h5, .prod-deetz h5 span {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    padding-bottom: 9px;
  }
  .template-product .benefits-slider .fx-custom-btn-dark {
    font-size: 12px;
    padding: 7px 15px;
  }
  .benefit-left ul li {
    color: #000;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
  }
  .dot-tex {
    display: none;
  }
  .dot-tex1 {
    padding-top: 3px;
    padding-bottom: 5px;
    border-bottom: 1px solid #E5E5E5;
    display: block;
  }
}
</style>

<div class="benefits-slider t4s-code__html container">
  <div class="benefit-left">
    <h3>Directions of use</h3>
    <h4><span>How to Use? : </span>Take a pea-sized amount and gently pat it onto a cleansed face in your morning routine.</h4>
    <h4><span>When to Use? : </span>Daily in the morning, or whenever required as a touch-up.</h4>

    <div class="dot-tex">
      <h3>Things to Remember</h3>
      <ul>
        <li>Store in a cool, dry place</li>
        <li>Avoid contact with eyes</li>
        <li>Always do a patch test</li>
      </ul>
  
      <h3>Know the Ingredients</h3>
      <ul>
        <li>5% Niacinamide</li>
        <li>Olive Leaf Extract</li>
      </ul>
    </div>
  </div>

  <div class="benefit-right">
    <h3>Enhance Benefits<span>Recommended</span></h3>
    <h4>Maximise the Impact of <span>Niacinamide Serum</span></h4>
    <div class="direct-mainwrap">
      {% assign collection = collections[section.settings.collection] %}
      <div class="newroute products-grid-item-main" >
        {%- for product in collection.products -%}
          <div class="products-grid-item">
            <div class="product-innr">
              {% if product.metafields.custom.pr_excerpt != blank %}
                <h6 class="pr-{{ product.metafields.custom.pr_excerpt }} stepz">
                  <span>Step {{ forloop.index }}.</span> {{ product.metafields.custom.pr_excerpt }}
                </h6>
              {% endif %}
              <div class="product-image pr oh lazyloadt4sed product-innr-top">
                <a rel="dofollow" href="{{product.url}}">
                  {%- render 'product_labels', on: 'singe', product: product -%}
                  <img class="pr-img-first lazyload" loading="lazy" alt="Product--Image" src="{{ product.metafields.custom.benefit_image | image_url }}"/>
                </a>
              </div>
              <div class="prod-deetz">
                <h2>
                  <a rel="dofollow" href="{{product.url}}">{{ product.title | truncate: 25 }}</a>
                </h2>
                <h5>
                  {{ product.price | money | remove: 00 }} |
                  <span>
                    {%- if product.variants.first.weight != 0 %}{{ product.variants.first.weight }} ml {% endif -%}
                  </span>
                </h5>
              </div>
            </div>
            <div class="shop-all-qty-cart-btn">
              <a
                href="{{ product.url }}"
                id="addtocart_r"
                class="fx-custom-btn-dark t4s-pr-item-btn t4s-pr-addtocart s-atc"
                data-variant-id="{{product.first_available_variant.id}}"
                data-action-atc
                rel="dofollow"
                ><span class="t4s-svg-pr-icon"></span
                ><span class="t4s-text-pr">{{ 'products.product.add_to_cart' | t }}</span></a
              >
            </div>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
  <div class="dot-tex1 benefit-left">
      <h3>Things to Remember</h3>
      <ul>
        <li>Store in a cool, dry place</li>
        <li>Avoid contact with eyes</li>
        <li>Always do a patch test</li>
      </ul>
  
      <h3>Know the Ingredients</h3>
      <ul>
        <li>5% Niacinamide</li>
        <li>Olive Leaf Extract</li>
      </ul>
  </div>
</div>

<script>
  $('.newroute').slick({
    dots: false,
    infinite: false,
    speed: 300,
    slidesToShow: 2,
    slidesToScroll: 1,
    arrows: false,
    responsive: [
      {
        breakpoint: 1200,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 1,
          infinite: true
        }
      }, 
      {
        breakpoint: 1024,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 1,
          infinite: true
        }
      },
      {
        breakpoint: 600,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 1
        }
      },
      {
        breakpoint: 480,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 1
        }
      }
    ]
  });
</script>

{% schema %}
{
  "name": "Custom BenefitSlide",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Select Collection"
    }
  ],
  "presets": [
    {
      "name": "Custom BenefitSlide",
      "category": "Any"
    }
  ]
}
{% endschema %}