<style>
.cusmall-colselec {
  display: block !important;
}
.mftt {
  padding: 0 0 0 32px !important;
}
.cus-collswrapp .slick-slide {
  margin: 0 0 0 0 !important;
}
.shopify-section .cus-collswrapp .slick-list {
  margin: 0 0 0 -20px !important;
  padding: 0 70px 0 0 !important;
}
.cus-collswrapp {
  position: relative;
  padding: 15px 0 30px;
}
.mftt {
  padding: 0 0 0 60px;
}
.cus-pi {
  /* background: #FFFFFF; */
  border-bottom: 0;
  padding: 0;
  display: block;
}
.cus-singl {
  /* margin: 0 27px;
  border-radius: 8px; 
  background-color: #FFD6CA; */
  position: relative;
  padding: 5px 20px 24px 21px;
}
/* .cus-singl a img {
  width: 100%;
  border-radius: 8px;
} */
.cus-singl a img {
  /* width: 183px;
  height: 183px; */
  margin: 0 auto;
}
.cus-titlez {
  display: block;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  border-radius: 8px;
}
.inside-mft {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
.inside-mft a {
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 63px;
  margin: 0;
  width: 100%;
  display: block;
}
  @media(min-width: 768px) {
    .cus-collswrapp {
      margin-left: 90px;
    }
    .cus-collswrapp .heading-all{
      margin : 20px 0px 46px 32px !important;
  }
  }
  
@media(max-width: 768px) {
  .cus-singl{
    padding: 5px 20px 24px 3px;
  }

  .cus-collswrapp .slick-slide {
  margin: 0 0 0 0 !important;
}

  .cus-colselec {
    display: none !important;
  }
  .cusmall-colselec {
    display: block !important;
  }
  .cus-collswrapp {
    padding: 0 0 32px;
  }
  .cus-headz {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    padding-left: 18px;
    margin-bottom: 15px;
  }
  .inside-mft a {
    line-height: 36px;
    font-size: 16px;
  }
  .mftt {
    padding: 0 0 0 16px;
  }
  .cus-collswrapp .slick-list {
    margin: 0 0 0 -20px !important;
    padding: 0 40px 0 0 !important;
  }
  .cus-collswrapp .slick-slide {
    margin: 0 0 0 0px;
  }
}

.cus-singl h4 {
  color: #292930;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.6px;
  padding-top: 22px;
}
.cus-singl p {
  color: #000;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px; /* 160% */
  letter-spacing: -0.375px;
  opacity: 0.5;
}
.cus-btnlrz {
  display: flex;
}
.slider_pagecount_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 80px;
  padding-top: 8px;
}
.slider_sfter_wrap {
  padding-top: 22px;
  padding-left: 14px;
  padding-right: 14px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
} 
.current_slide_count {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.28px;
  position: relative;
}
.current_slide_count:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 35px;
  width: 38px;
  height: 1px;
  background-color: #000;
}
.total_slide_count {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.28px;
  opacity: 0.3;
}
button.slik-leftz {
  background-color: transparent;
  border-color: transparent;
  padding: 0 0;
  transform: rotate(180deg);
  line-height: 0;
}
button.slik-rightz {
  background-color: transparent;
  border-color: transparent;
  padding: 0 0;
  line-height: 0;
  padding-left: 14px;
}
.tsmall button.slick-next, .tsmall button.slick-prev {
  
}
.tsmall .slick-prev {
  width: 40px;
  height: 40px;
  background-color: transparent;
  position: absolute;
  top: 100%;
  left: 1rem;
  padding: 0;
  z-index: 1;
  color: transparent;
  padding-top: 22px;
}
.tsmall .slick-prev:before {
  background-image: url('https://cdn.shopify.com/s/files/1/0609/6096/4855/files/Right_Arrow_1.svg?v=1719308272');
  background-size: 40px 40px;
  background-repeat: no-repeat;
  display: inline-block;
  transform: rotate(180deg);
  background-position: center;
  width: 40px;
  height: 40px;
  content: "";
}
.tsmall .slick-prev .slick-disabled:before {
  background-image: url('https://cdn.shopify.com/s/files/1/0609/6096/4855/files/Left_Arrow.svg?v=1719308273');
  background-size: 30px 30px;
  background-repeat: no-repeat;
  display: inline-block;
  background-position: center;
  width: 40px;
  height: 40px;
  content: "";
}
.tsmall .slick-next {
  width: 40px;
  height: 40px;
  background-color: transparent;
  position: absolute;
  top: 100%;
  left: 6.8rem;
  padding: 0;
  z-index: 1;
  color: transparent;
  padding-top: 22px;
}
.tsmall .slick-next:before {
  background-image: url('https://cdn.shopify.com/s/files/1/0609/6096/4855/files/Right_Arrow_1.svg?v=1719308272');
  background-repeat: no-repeat;
  background-size: 40px 40px;
  display: inline-block;
  background-position: center;
  width: 40px;
  height: 40px;
  content: "";
}
.tsmall .slick-next .slick-disabled:before {
  background-image: url('https://cdn.shopify.com/s/files/1/0609/6096/4855/files/Left_Arrow.svg?v=1719308273');
  background-repeat: no-repeat;
  background-size: 40px 40px;
  display: inline-block;
  background-position: center;
  transform: rotate(180deg);
  width: 40px;
  height: 40px;
  content: "";
}
.tsmall button.slick-prev.slick-arrow.slick-disabled {
  opacity: 0.3;
}
.tsmall button.slick-next.slick-arrow.slick-disabled {
  opacity: 0.3;
}
</style>

<div class="cus-collswrapp">
  <div class="heading-all"><h3>{{ section.settings.heading }}</h3></div>
  <!-- <div class="cus-colselectz-{{ section.id }} mftt"> -->
  {% assign total_slide = 0 %}
  <div class="cusmall-colselec mftt tsmall">
    {% for block in section.blocks %}
      {% assign total_slide = forloop.length %}
      <div class="cus-singl">
        <div class="">
          {% if block.settings.collectionim != blank %}
            <img  class="lazyload" alt="img"
              src="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' fill='darkgray'><rect width='100' height='100'/></svg>"
               data-src="{{ block.settings.collectionim | img_url: 'master' }}">
          {% endif %}
        </div>
        <!-- <h4>{{ block.settings.txtbl }}</h4>
        <div style="padding-top: 16px;">{{ block.settings.txtblwt }}</div> -->
      </div>
    {% endfor %}
  </div>
  <!-- <div class="slider_sfter_wrap">
    <div class="slider_pagecount_wrap">
      <div class="current_slide_count">01</div>
      <div class="total_slide_count">0{{ total_slide }}</div>
    </div>
  </div> -->
</div>

<script>
  $('.cusmall-colselec').slick({
    dots: false,
    infinite: true,
    speed: 300,
    slidesToShow: 2,
    slidesToScroll: 1,
    arrows: false,
    touchThreshold:1000,
    responsive: [
      {
        breakpoint: 1200,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 1,
          infinite: true
        }
      },{
        breakpoint: 600,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1
        }
      }
    ]
  });
</script>

{% schema %}
  {
    "name": "New Reviews Section",
    "settings": [
      {
        "id": "heading",
        "type": "text",
        "label": "Section Heading"
      }
    ],
    "blocks": [
      {
        "name": "Image",
        "type": "text",
        "settings": [
          {
            "id": "imglin",
            "type": "url",
            "label": "Add Link"
          }, 
          {
            "id": "collectionim",
            "type": "image_picker",
            "label": "Add Image Mobile"
          }, {
            "id": "txtbl",
            "type": "text",
            "label": "Add Card Heading"
          }, {
            "id": "txtblwt",
            "type": "textarea",
            "label": "Add Content"
          }
        ]
      },
    ],
    "presets": [
      {
        "name": "New Reviews Section",
        "category": "Any"
      }
    ]
  }
{% endschema %}