<style>
.cus-collswrapperzzz {
  position: relative;
  padding: 15px 0 30px;
}
.mfttzzz {
  padding: 0 0 0 122px !important;
}
.cus-singlezzz {
  /* margin: 0 27px;
  border-radius: 8px; */
  position: relative;
}
.cus-singlezzz a img {
  width: 100%;
  border-radius: 8px;
}
.cus-titlezzz {
  display: block;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  border-radius: 8px;
}
.stored-videozzz video {
  width: 65%;
  height: 50%;
}

.perfect-headingzzz {
  margin: 30px 0px 46px 122px;
}
.perfect-headingzzz h3 {
  color: #101828;
  font-size: 36px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.72px;
}  
.tsmallzzz .slick-list.draggable {
  margin: 0 0 0 -36px;
  padding: 0 123px 0 0;
}
.cus-singlezzz {
  padding:48px 35px 0 35px;
  margin: 0 0 0 36px;
  border-radius: 12px;
}
.cus-singlezzz a img {
  width: 183px;
  height: 183px;
  margin: 0 auto;
}
.cus-singlezzz h4 {
  color: #292930;
  text-align: center;
  font-size: 42px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.3px;
  padding-bottom: 1.2rem;
}
.cus-singlezzz h6 {
  font-size: 28px;
  /* padding-bottom: 3rem; */
  text-align: center;
}
.cus-singlezzz p {
  color: #000;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px; /* 160% */
  letter-spacing: -0.375px;
  opacity: 0.5;
}
.cus-btnlrz {
  display: flex;
}
.slider_pagecount_wrapzzz {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 80px;
  padding-top: 8px;
}
.slider_sfter_wrapzzz {
  padding-top: 22px;
  padding-left: 14px;
  padding-right: 14px;
  display: none;
  justify-content: flex-start;
  align-items: center;
} 
.current_slide_countzzz {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.28px;
  position: relative;
}
.current_slide_countzzz:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 35px;
  width: 38px;
  height: 1px;
  background-color: #000;
}
.total_slide_countzzz {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.28px;
  opacity: 0.3;
}
button.slik-leftz {
  background-color: transparent;
  border-color: transparent;
  padding: 0 0;
  transform: rotate(180deg);
  line-height: 0;
}
button.slik-rightz {
  background-color: transparent;
  border-color: transparent;
  padding: 0 0;
  line-height: 0;
  padding-left: 14px;
}
.tsmallzzz button.slick-next, .tsmall button.slick-prev {
  
}
.tsmallzzz .slick-prev {
  width: 40px;
  height: 40px;
  background-color: transparent;
  position: absolute;
  top: 100%;
  right: 6.8rem;
  padding: 0;
  z-index: 1;
  color: transparent;
  padding-top: 22px;
}
.tsmallzzz .slick-prev:before {
  background-image: url('https://cdn.shopify.com/s/files/1/0609/6096/4855/files/Right_Arrow_1.svg?v=1719308272');
  background-size: 40px 40px;
  background-repeat: no-repeat;
  display: inline-block;
  transform: rotate(180deg);
  background-position: center;
  width: 40px;
  height: 40px;
  content: "";
}
.tsmallzzz .slick-prev .slick-disabled:before {
  background-image: url('https://cdn.shopify.com/s/files/1/0609/6096/4855/files/Left_Arrow.svg?v=1719308273');
  background-size: 30px 30px;
  background-repeat: no-repeat;
  display: inline-block;
  background-position: center;
  width: 40px;
  height: 40px;
  content: "";
}
.tsmallzzz .slick-next {
  width: 40px;
  height: 40px;
  background-color: transparent;
  position: absolute;
  top: 100%;
  right: 1rem;
  padding: 0;
  z-index: 1;
  color: transparent;
  padding-top: 22px;
}
.tsmallzzz .slick-next:before {
  background-image: url('https://cdn.shopify.com/s/files/1/0609/6096/4855/files/Right_Arrow_1.svg?v=1719308272');
  background-repeat: no-repeat;
  background-size: 40px 40px;
  display: inline-block;
  background-position: center;
  width: 40px;
  height: 40px;
  content: "";
}
.tsmallzzz .slick-next .slick-disabled:before {
  background-image: url('https://cdn.shopify.com/s/files/1/0609/6096/4855/files/Left_Arrow.svg?v=1719308273');
  background-repeat: no-repeat;
  background-size: 40px 40px;
  display: inline-block;
  background-position: center;
  transform: rotate(180deg);
  width: 40px;
  height: 40px;
  content: "";
}
.tsmallzzz button.slick-prev.slick-arrow.slick-disabled {
  opacity: 0.3;
}
.tsmallzzz button.slick-next.slick-arrow.slick-disabled {
  opacity: 0.3;
}
.playbook-vidouter {
  display: flex;
}
.playbook-vidouter h5 {
  font-size: 22px;
  font-weight: 500;
  margin: 0 0 3rem 2rem;
}
.playbook-videoinner span svg {
  width: 50px;
  height: 50px;
}
.stored-videozzz {
  display: flex;
  justify-content: center;
  /* padding-bottom: 3rem; */
}

  @media (min-width : 768px){
    .cus-singlezzz{
      padding : 24px 28px 0;
    }
    .cus-singlezzz h4{
      font-size : 33px;
    }
    .cus-singlezzz h6{
      font-size : 22px;
    }
    .playbook-videoinner span svg{
      width : 40px;
      height : 40px;
    }
    .playbook-vidouter h5 {
      font-size : 17px;
      margin: 0 0 1.5rem 1rem;
    }
  }

  @media(max-width: 768px) {
  .cusmallzzz-colselectz-{{ section.id }} {
    display: block !important;
  }
  .cus-collswrapperzzz {
    padding: 0 0 32px;
  }
  .cus-singlezzz h6 {
    font-size: 16px !important;
    padding-bottom: 1rem !important;
    font-weight: 500
  }
  .playbook-videoinner span svg {
    width: 25px !important;
    height: 25px !important;
  }
  .playbook-vidouter h5 {
    font-size: 11px !important;
    margin: 0 0 1rem 1.5rem !important;
  }
  .stored-videozzz {
    padding-bottom: 1rem;
  }
  .mfttzzz {
    padding: 0 0 0 16px !important;
  }
  .cus-collswrapperzzz .slick-list {
    
  }
  .tsmallzzz .slick-list.draggable {
    margin: 0 0 0 -20px !important;
    padding: 0 80px 0 0 !important;
  }
  .cus-collswrapperzzz .slick-slide {
    margin: 0 0 0 18px;
  }
  .cus-singlezzz {
    padding: 14px 30px 12px 30px !important;
  }
  .slider_sfter_wrapzzz {
    display: flex !important;
  }
  .perfect-headingzzz {
    margin: 24px 0px 24px 14px !important;
  }
  .perfect-headingzzz h3 {
    font-size: 20px !important;
    font-weight: 500 !important;
    line-height: 100% !important; 
    letter-spacing: -0.5px !important;
  }
  .cus-singlezzz h4 {
    font-size: 24px !important;
    padding-bottom: 1rem !important;
  }
}
</style>

<div class="cus-collswrapperzzz">
  <div class="perfect-headingzzz"><h3>{{ section.settings.heading }}</h3></div>
  <!-- <div class="cus-colselectz-{{ section.id }} mftt"> -->
  {% assign total_slide = 0 %}
  <div class="cusmallzzz-colselectz-{{ section.id }} mfttzzz tsmallzzz">
    {% for block in section.blocks %}
      {% assign total_slide = forloop.length %}
      <div class="cus-singlezzz" style="background-color: {{ block.settings.cardklr }};">
        <h4>{{ block.settings.txtblw }}</h4>
        <h6>{{ block.settings.subtxtblw }}</h6>
        <div class="stored-videozzz" {{ block.shopify_attributes }}>
          {% comment %}
          {{ block.settings.video | video_tag: loop: true, autoplay: true, muted: true,controls: false }}
          {% endcomment %}
          {% if block.settings.gif != blank %}
          <img src="{{ block.settings.gif | img_url:'master' }}" alt="" width='65%' height='50%'>
          {% endif %}
        </div>      
        <div class="playbook-videotextzzz">{{ block.settings.txtblwtht }}</div>
      </div>
    {% endfor %}
  </div>
  <div class="slider_sfter_wrapzzz">
    <div class="slider_pagecount_wrapzzz">
      <div class="current_slide_countzzz">01</div>
      <div class="total_slide_countzzz">0{{ total_slide }}</div>
    </div>
  </div>
</div>

<script>
  $('.cusmallzzz-colselectz-{{ section.id }}').slick({
    dots: false,
    infinite: true,
    speed: 300,
    slidesToShow: 3,
    slidesToScroll: 1,
    arrows: false,
    touchThreshold:1000,
    responsive: [
      {
        breakpoint: 1100,
        settings: {
          slidesToShow: 1.1,
          slidesToScroll: 1,
          infinite: false,
          arrows: false
        }
      },
      {
        breakpoint: 768,
        settings: {
          slidesToShow: 1.5,
          slidesToScroll: 1,
          infinite: false,
          arrows: false
        }
      },
      
      {
        breakpoint: 600,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          arrows: true
        }
      }
    ]
  });

  $('.cusmallzzz-colselectz-{{ section.id }}').on('afterChange', function(event, slick, currentSlide, nextSlide){
    $(".current_slide_countzzz").html('0'+(currentSlide+1));
  });

   

$(document).ready(function(){
   $(document).on("click",'.slik-rightz',function() {
    $(this).parents('.cus-collswrapperzzz').find('.slick-next').click();
//     // $('.cusmall-colselectz-{{ section.id }}').slick('slickNext');
// $('.cusmall-colselectz-{{ section.id }}').slick('slickGoTo', 2)
  });
  $(document).on("click",'.slik-leftz',function() {
    $(this).parents('.cus-collswrapperzzz').find('.slick-prev').click();
    // $('.cusmall-colselectz-{{ section.id }}').slick('slickPrev');
  });
  
});

//   equalheight = function(container) {
//     var currentTallest = 0,
//         currentRowStart = 0,
//         rowDivs = new Array,
//         $el, topPosition = 0;
//     $(container).each(function() {
//         if ($el = $(this), $($el).height("auto"), topPostion = $el.position().top, currentRowStart != topPostion) {
//             for (currentDiv = 0; currentDiv < rowDivs.length; currentDiv++) rowDivs[currentDiv].height(currentTallest);
//             rowDivs.length = 0, currentRowStart = topPostion, currentTallest = $el.height(), rowDivs.push($el)
//         } else rowDivs.push($el), currentTallest = currentTallest < $el.height() ? $el.height() : currentTallest;
//         for (currentDiv = 0; currentDiv < rowDivs.length; currentDiv++) rowDivs[currentDiv].height(currentTallest)
//     })
// };

//   setTimeout(function() {
//     equalheight('.cus-singlezzz');
//     }, 3000);
</script>

<!-- Growlytics -->
<!-- <script>
$(document).ready(function () {
    $( '.cus-title').on("click", function(){
     var prodName = $(this).data("title");
     Growlytics.events.track("Shop by concern HP,{
      'clicks': "Clicks",
       'Product Name': prodName
     });
    });
     });
</script> -->
<!-- end -->

{% schema %}
  {
    "name": "Playbook",
    "settings": [
      {
        "id": "heading",
        "type": "text",
        "label": "Section Heading"
      }
    ],
    "blocks": [
      {
        "name": "Image",
        "type": "text",
        "settings": [
          {
            "id": "imglink",
            "type": "url",
            "label": "Add Link"
          },     
          {
            "id": "cardklr",
            "type": "color",
            "label": "Select Card Color"
          }, 
          {
            "id": "txtblw",
            "type": "text",
            "label": "Add Card Heading"
          }, 
          {
            "id": "subtxtblw",
            "type": "text",
            "label": "Add Card  Sub Heading"
          },
          {
          "type": "video",
          "id": "video",
          "label": "A Shopify-hosted video"
          },
          {
          "type": "image_picker",
          "id": "gif",
          "label": "GIF"
          },
          {
            "id": "txtblwtht",
            "type": "html",
            "label": "Add Content"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Playbook",
        "category": "Any"
      }
    ]
  }
{% endschema %}