<div class="hp-video-section">
  {% comment %}
  
  
  <img src="{{ section.settings.desktop_gif | img_url:'master' }}" alt="" class="desktop-video" id='my-video' width='100%;'>
  {{ section.settings.mobile_video | video_tag: loop: true, autoplay: true, muted: true, controls: false, class: 'mobile-video', id: 'my-video' }} 
  {% endcomment %}
  
  {{ section.settings.desktop_video | video_tag: loop: true, autoplay: true, muted: true, controls: false, class: 'desktop-video' , id: 'my-video' }}
  <img src="{{ section.settings.mobile_gif | img_url:'master' }}" alt="" class="mobile-video" id='my-video' width='100%;'>
  <a href="{{ section.settings.button_url }}" class="explore-now">{{ section.settings.button_text }}</a>

</div>

<style>

  body.new-index-template .breadcrumbs {
    display: none !important;
  }
  
.hp-video-section {
  position: relative;
}

.hp-video-section video {
  width: 100%;
  height: auto;
  display: none;
}

.hp-video-section .desktop-video {
  display: block;
}

.hp-video-section .mobile-video {
  display: none;
}

.hp-video-section .explore-now {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 23px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius : 5px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing : 1.5px;
}
  @media screen and (max-width: 1024px) {
    main#MainContent {
        margin-top: -60px;
    }
    .t4s-header__wrapper {
      background: transparent !important;
      box-shadow: none !important;
    }
    .t4s-header__wrapper .t4s-container {
      background: transparent !important;
      box-shadow: none !important;
    }
    
  }

@media screen and (max-width: 767px) {
  .hp-video-section .desktop-video {
    display: none;
  }
  .hp-video-section .mobile-video {
    display: block;
  }
}

  @media screen and (min-width: 767px){
    .hp-video-section .explore-now {
      padding : 15px 30px;
      letter-spacing : 3px;
    }
  }
  
</style>


{% schema %}
{
  "name": "Video Section",
  "settings": [
    {
      "type": "video",
      "id": "desktop_video",
      "label": "Desktop Video"
    },
    {
      "type": "video",
      "id": "mobile_video",
      "label": "Mobile Video"
    },
    {
      "type": "image_picker",
      "id": "desktop_gif",
      "label": "Desktop GIF"
    },
    {
      "type": "image_picker",
      "id": "mobile_gif",
      "label": "Mobile GIF"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text"
    }
  ],
  "presets": [
    {
      "name": "Homepage video banner"
    }
  ]
}
{% endschema %}
